@import '../variables/colors';
@import '../variables/typography';


@mixin custom-checkbox {
    display: flex;
    justify-content: center;    
}
@mixin disabled-checkbox {
    cursor: not-allowed;
    opacity: 0.5;
}

@mixin checkbox-label {
    white-space: nowrap;
    height: 16px;
    color: $colors-neutral-black;
    font-family: $montserrat-regular;
}

@mixin checkbox-container {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
}

@mixin checkbox-container-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

@mixin checkmark {
    position: relative;
    display: inline-block;
    top: 1px;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: 1px solid $colors-neutral-dark;
}

@mixin checkmark-checked {
    background-color: $colors-v2-base-primary;
    border: 1px solid $colors-v2-base-primary;
}

@mixin checkmark-after {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: 0px;
    width: 4px;
    height: 10px;
    border: solid $colors-neutral-white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

@mixin check-all-checkmark-after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%);
}