@import '../../scss/variables/colors';
@import '../../scss/variables/typography';

@mixin psi-input {
    display: block;
    background: $colors-neutral-white;
    color: $colors-neutral-black;
    border-bottom: 2px solid $colors-neutral-white;
    box-shadow: none;
    border-radius: 8px;
    padding: 0px 16px;
    height: 40px;
    border: 1px solid $colors-neutral-light;
    font-size: 12px;
    font-family: $montserrat-regular;
    caret-color: $colors-v2-base-secondary-v-medium;

    &:not([disabled]):hover {
        outline: 2px solid $colors-neutral-black;
        border: none;
    }
    &:not([disabled]):focus {
        outline: 2px solid $colors-v2-base-secondary-v-medium;
        border: none;
    }
    &::placeholder {
        color: $colors-neutral-light;
        font-family: $montserrat-regular;
        font-size: 12px;
    }

    &[disabled] {
        color: $colors-neutral-light;
        background-color: $colors-neutral-light-v-low;
    }

    &[readonly] {
        background-color: $colors-v2-base-primary-v-low-t-05;
    }

    &.invalid {
        background: $colors-v2-base-error-t-10 !important;
        border: 2px solid $colors-v2-base-error;
       
        &::placeholder {
            color: $colors-v2-base-error;
        }
    }
}

@mixin psi-input-label {
    margin-left: 16px;
    font-size: 12px;
    margin-bottom: 6px !important;
    line-height: 16px;
    color: $colors-neutral-black;
    position: relative;

    &.required::before {
        content: "*";
        color: $colors-v2-base-error;
        font-size: 14px;
        margin-top: 1px;
        left: -8px;
        position: absolute;
        font-family: $montserrat-medium;
    }
}

@mixin percentage-input {
    position: relative;

    input {
        padding-right: 24px;
    }

    &::after {
        content: "%";
        position: absolute;
        top: 0;
        transform: translateY(50%);
        font-size: 12px;
        font-family: $montserrat-regular;
        right: 8px;
        color: $colors-neutral-black;
    }
}

@mixin radio-btn {
    margin: 0 4px 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:after {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background-color: $colors-neutral-white;
        content: '';
        display: inline-block;
        border: 1px solid $colors-v2-base-primary;
    }

    &:checked:after {
        width: 14px;
        height: 14px;
        top: 1px;
        left: 1px;
        position: relative;
        background-color: $colors-v2-base-primary;
        content: '';
        border: 2px solid $colors-neutral-white;
        outline: 1px solid $colors-v2-base-primary;
    }

    &[disabled] {
        opacity: 0.5;
    }
}
