@import '../variables/typography';
@import '../variables/colors';

@mixin box-shadow {
    box-shadow: 0px 4px 8px rgba(74, 74, 74, 0.15);
}

@mixin box-shadow-inset {
    box-shadow: 0px 8px 16px rgba(74, 74, 74, 0.15), inset 0px 1px 3px #dfe3e8;
}

@mixin box-shadow-v2 {
    box-shadow: 0px 4px 8px rgba(203, 203, 203, 0.15)
}

@mixin action-icon {
    cursor: pointer;
    color: $colors-neutral-dark;

    &:hover {
        color: $colors-neutral-black;
    }
}

@mixin action-link {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: $colors-v2-base-primary;
    }
}

@mixin ps-required-error {
    background: $colors-v2-base-error-t-10;
    outline: 2px solid $colors-v2-base-error;
    border: 0;
    &:hover,
    &:focus{
        outline: 2px solid $colors-v2-base-error !important;
        border-color:$colors-v2-base-error !important
    }
    &::placeholder {
        color: $colors-v2-base-error !important;
    }
}

@mixin input-field-container {
    label.field-label {
        margin-bottom: 4px;
        line-height: 18px;
        position: relative;

        &.required::before {
            content: "*";
            color: $colors-v2-base-error;
            font-size: 16px;
            left: -8px;
            position: absolute;
            font-family: $montserrat-medium;
        }
    }

    input.form-control {
        border: 1px solid $colors-neutral-light;
        height: 40px;
        border-radius: 8px;
        font-size: 12px;
        color: $colors-neutral-black;
        background-color: $colors-neutral-white;

        &.invalid {
            background: $colors-v2-base-error-t-10;
            border: 2px solid $colors-v2-base-error;
            color: $colors-v2-base-error;
        }

        &::placeholder {
            color: $colors-neutral-light;
        }
    }

    .error-msg {
        color: $colors-v2-base-error;
        font-size: 12px;
        line-height: 22px;
    }
}

@mixin radio-btn {
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:after {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background-color: $colors-neutral-white;
        content: '';
        display: inline-block;
        border: 1px solid $colors-v2-base-primary;
    }

    &:checked:after {
        width: 14px;
        height: 14px;
        top: 1px;
        left: 1px;
        position: relative;
        background-color: $colors-v2-base-primary;
        content: '';
        border: 2px solid  $colors-neutral-white;
        outline: 1px solid $colors-v2-base-primary;
    }

    &[disabled] {
        opacity: 0.5;
    }
}

@mixin radio-button {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    input[type='radio'] {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    .custom-radio-icon {
        width: 16px;
        height: 16px;
        border: 1px solid $colors-neutral-black;
        border-radius: 50%;
        margin-right: 8px;
        position: relative;
    }

    input[type='radio']:checked+.custom-radio-icon::after {
        content: '';
        border-radius: 50%;
        width: 16px;
        height: 16px;
        top: 0px;
        left: 0px;
        position: absolute;
        background-color: $colors-v2-base-primary;
        border: 3px solid $colors-neutral-white;
        outline: 1px solid $colors-v2-base-primary;
    }

    input[type='radio']:checked+.custom-radio-icon {
        border: none;
    }

    input[type='radio']:disabled+.custom-radio-icon {
        opacity: 0.5;
    }
}

@mixin new-scrollbar {
    & {
        margin-top: 8px;
    }
    &::-webkit-scrollbar {
        width: 24px;
        height: 24px;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb:vertical {
        border-radius: 10px;
        background: $colors-neutral-light-t-75;
        background-clip: padding-box;
        border-right: 8px solid rgba(0, 0, 0, 0);
        border-left: 8px solid rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb:horizontal {
        border-radius: 10px;
        background: $colors-neutral-light-t-75;
        background-clip: padding-box;
        border-top: 8px solid rgba(0, 0, 0, 0);
        border-bottom: 8px solid rgba(0, 0, 0, 0);
    }
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: $colors-neutral-light-t-50;
        height: 50px;
        
        &:hover {
        background: $colors-neutral-light;
        }
    }

    &::-webkit-scrollbar-track {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: transparent;
    }
}

@mixin basic-tooltip {
    position: absolute;
    display: none;
    padding: 8px;
    align-items: center;
    font-family: $montserrat-regular;
    color: $colors-neutral-white;
    font-size: 12px;
    line-height: 16px;
    background-color: $colors-neutral-black;
    white-space: nowrap;
    z-index: 1;
}


@mixin search-box {
    display: flex;
    position: relative;

    input.form-control {
        height: 40px;
        padding: 0 16px;
        color: $colors-neutral-black;
        font-family: $montserrat-regular;
        font-size: 12px;
        border: 1px solid $colors-neutral-light !important;
        border-radius: 8px 0px 0px 8px;
        border-right: none !important;
        transition: none;
        box-shadow: none !important;

        &:focus {
            border: none !important;
        }

        &::placeholder {
            color: $colors-neutral-light;
            font-family: $montserrat-regular;
            font-size: 12px;
        }
    }

    i.clear-search {
        right: 48px;
        top: 50%;
        transform: translateY(-50%);
        color: $colors-neutral-light;

        &:hover {
            color: $colors-neutral-dark;
            cursor: pointer;
        }
    }

    button.search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        height: 40px;
        width: 40px;
        max-width: 40px;
        background: $colors-v2-base-primary-v-low-t-05;
        outline: none;
        padding: 0;
        margin: 0;
        border: 1px solid $colors-neutral-light;
        border-left: none !important;
        border-radius: 0px 8px 8px 0px;
        flex: 0 0 40px;

        i {
            color: $colors-neutral-dark;
            margin: 0;
        }
    }

    &:focus-within {
        border-radius: 8px;
        outline: 2px solid $colors-v2-base-secondary-v-medium;

        input.form-control,
        button.search-icon {
            border: none !important;
        }

        input.form-control {
            caret-color: $colors-v2-base-secondary-v-medium;
        }
    }

    &:hover:not(:focus-within) {
        border-radius: 8px;
        outline: 2px solid $colors-neutral-dark;

        input.form-control,
        button.search-icon {
            border: none !important;
        }
    }
}
