<div class="product-summary-dimensions-card" [ngClass]="cardClass ? cardClass : 'default-padding'">
    <div class="typography-body-black-medium psi-fields-detail u-pg-mb-3" 
        *ngFor="let row of rows; let last= last"
        [ngClass]="{ 'u-pg-mb-3': !last }">
        <div class="header-label" [ngClass]="row.headerClass" *ngIf="row.headerName">
            <p class="u-flex">
                <span class="typography-body-black-medium u-text-underline" [ngClass]="row.headerStyle">
                    {{ row.headerName }}
                </span>
            </p>
        </div>
        <table class="w-100" [ngClass]="row.tableClass">
            <thead>
                <tr>
                    <th 
                        *ngFor="let tableHeading of row.table_headings; let last = last"
                        [style.width.%]="100 / row.table_headings.length">
                        <div class="u-flex u-justify-between">
                            <span class="typography-paragraph-black-bold">{{ tableHeading.value }}</span>
                            <span *ngIf =!last class="ftright"></span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tableRowValues of row.table_values">
                    <td class="typography-paragraph-dark-regular" 
                        *ngFor="let tableRowValue of tableRowValues"
                        [style.width.%]="100 / tableRowValues.length">
                        <span>{{ tableRowValue ? tableRowValue : "--" }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
