@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';
@import '../../../scss/utilities/colors';
@import '../../../scss/utilities/base';
@import '../../../scss/utilities/typography';

.product-summary-dimensions-card {
  background: $colors-neutral-white;
  box-shadow: 0px 4px 8px 0px $colors-neutral-dark-t-15;
  
  .psi-fields-detail {
    table {
      border-collapse: collapse;
    }

    th {
      background: $colors-v2-base-primary-v-low-t-10;
      .ftright {
        border-left: 1px solid $colors-neutral-light;
      }
    }

    td,
    th {
      padding: 7px;
      text-align: left;
    }

    tr:nth-child(odd) {
      background: $colors-neutral-white;
    }

    tr:nth-child(even) {
        background: $colors-neutral-light-v-low;
    }
  }

  &.default-padding {
    padding: 16px;
  }
}
