@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';

.tab-group {
    height: 48px;
    box-shadow: $colors-shadows-black-25;

    ul {
        li {
            &.active {
                color: $colors-neutral-black;
                font-family: $montserrat-medium;
                font-weight: 500;
                border-bottom: 2px solid $colors-v2-base-primary;
                background-color: $colors-neutral-white;
            }
        }
    }
}
