@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';

.tab-group {
    height: 48px;
    box-shadow: 0px 4px 8px 0px $colors-neutral-dark-t-15;
    
    ul {
        li {
            &.active {
                color: $colors-neutral-black;
                border-bottom: 1px solid $colors-v2-base-primary;
            }
            &:not(.active):hover {
                color: $colors-neutral-black;
                border-bottom: 1px solid $colors-neutral-black;
            }
        }
    }
}
