@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';
@import '../../../scss/utilities/colors';
@import '../../../scss/utilities/base';
@import '../../../scss/utilities/typography';

.tab-group {
    background: $colors-neutral-white;
    height: 48px;
    box-shadow: $colors-shadows-black-25;

    ul {
        list-style-type: none;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            cursor: pointer;

            &.active {
                color: $colors-neutral-black;
                font-family: $helvetica-medium;
                font-weight: 500;
                border-bottom: 2px solid $colors-base-primary;
                background-color: $colors-neutral-white;
            }
        }
    }
}