@import '../../../scss/variables/typography';
@import '../../../scss/variables/colors';

.header-tool {
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    align-items: center;
    background-color: $colors-neutral-white;
    box-shadow: $colors-neutral-dark-t-15;

    .title-text {
        i {
            margin-right: 8px;
        }
    }

    .Redirect-page {
        font-size: 16px;
    }
}
