@import '../../../../../src/styles/typography';
@import '../../../../../src/styles/colors';

.header-tool {
    margin-bottom: 10px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    align-items: center;
    background-color: $colors-neutral-white;
    color: $colors-neutral-black;
    font-family: $crimson-pro-regular;
    font-size: 20px;

    .title-text {
        i {
            margin-right: 8px;
        }
    }
}
