@import '../../../../../src/styles/typography';
@import '../../../../../src/styles/colors';

.header-tool {
    border-left: 16px solid $colors-neutral-light-t-25;
    border-right: 16px solid $colors-neutral-light-t-25;
    border-top: 10px solid $colors-neutral-light-t-25;
    border-bottom: 10px solid $colors-neutral-light-t-25;
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    align-items: center;
    background-color: $colors-neutral-white;
    color: $colors-neutral-black;
    font-family: $crimson-pro-regular;
    font-size: 20px;

    .title-text {
        i {
            margin-right: 8px;
        }
    }
}
