@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';
@import '../../../scss/mixin/input';

.input-datepicker {
    margin-bottom: 12px;
    .c-label {
        @include psi-input-label; 
    }
    .datepicker-container {
        border-radius: 8px;
        height: 40px;

        input {
           @include psi-input;
            background-color: $colors-neutral-white !important;
            cursor: pointer;
        }

        &:hover:not(:has(input[disabled])):not(:focus-within) input {
            outline: 2px solid $colors-neutral-black;
            border: none;
        }

        &:focus-within input {
            outline: 2px solid $colors-v2-base-secondary-v-medium;
            border: none;
        }

        &:has(input[disabled]) {
            background-color: $colors-neutral-light-v-low;
            color: $colors-neutral-light;
            button {
                cursor: not-allowed;
            }
        }

    }

    .clear-date {
        position: absolute;
        right: 48px;
        color: $colors-neutral-light;

        &:hover {
            cursor: pointer;
            color: $colors-neutral-black;
        }

    }

    .dropdownbtn {
        border: none;
        right: 0px;
        width: 40px;
        height: 40px;
        background-color: $colors-v2-base-primary-v-low-t-05;
        border-radius: 0 8px 8px 0;
    }

}


::ng-deep bs-datepicker-container {
    z-index: 2;

    .custom-datepicker-theme.bs-datepicker {
        box-shadow: none;
        border: 1px solid $colors-neutral-light;
        border-radius: 8px;
        margin-top: 4px;
    
        .bs-datepicker-container {
            padding: 12px;        
    
            .bs-datepicker-head {
                height: 32px;
                padding: 0 0 8px 0;
                background-color: $colors-neutral-white !important;
    
                bs-datepicker-navigation-view {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    gap: 4px;
    
                    button {
                        &.current {
                          padding: 0;
                        }
    
                        &.previous {
                          position: absolute;
                          left: 0;
                        }
    
                        &.next {
                          position: absolute;
                          right: 0;
                        }
                    }
                }
    
                button.previous,
                button.next,
                button.current {
                    &:hover {
                        background: none;
                    }
                }
    
                button.previous,
                button.next {
                    color: $colors-neutral-dark;
                    width: 24px;
                    height: 24px;
                }
    
                button.current {
                    font-family: $crimson-pro-regular;
                    color: $colors-neutral-black;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
    
            .bs-datepicker-body {
                border: 1px solid $colors-neutral-light;
                border-radius: 8px;
                padding: 0;
                min-height: 212px;
    
                table {
                    th {
                        height: 32px;
                        font-size: 12px;
                        font-family: $montserrat-regular;
                        color: $colors-neutral-black;
                        line-height: 16px;
                        letter-spacing: 0.5px;
                    }
    
                    td {
                        width: 40px;
                        height: 40px;
                        font-family: $montserrat-regular;
                        font-size: 14px;
                        line-height: 20px;
                        color: $colors-neutral-dark;
                        border: 1px solid transparent;
    
                        &:hover {
                            background-color: $colors-v2-base-primary-v-low-t-05;
                            border-radius: 0%;
                        }
    
                        span {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            &.selected {
                                background-color: $colors-v2-base-primary-v-low-t-10;
                                border-radius: 0;
                                color: $colors-neutral-dark;
                                width: 100%;
                            }
    
                            &.is-highlighted:not(.disabled):not(.selected) {
                                background: none;
                            }
                        }
    
                        &.is-highlighted:not(.disabled):not(.selected) span {
                            background: none;
                        }
                    }
                    
                    tr {
                        td {
                            border-bottom: 1px solid $colors-neutral-light;
                            border-right: 1px solid $colors-neutral-light;
                    
                            &:last-child {
                                border-right: 0;
                            }
                        }
                      
                        &:first-child td {
                            border-top: 1px solid $colors-neutral-light;
                        }
                      
                        &:last-child td {
                            border-bottom: 0;
    
                            &:first-child {
                                border-bottom-left-radius: 8px;
                            }
                        
                            &:last-child {
                                border-right: 0;
                                border-bottom-right-radius: 8px;
                            }
                        }
                    }
    
                }
    
                table.months,
                table.years {
                    tr:first-child {
                        td {
                            border-top: 0;
                
                            &:first-child {
                                border-top-left-radius: 8px;
                            }
                
                            &:last-child {
                                border-top-right-radius: 8px;
                            }
                        }
                    }
    
                    td span {
                        min-height: 64px;
                        font-size: 14px;
                        color: $colors-neutral-black;
                        line-height: 20px;
                    }
                }
    
                table.years td span {
                    margin-bottom: 0;
                }
            }
        }
    }
}
 


