<div class="input-datepicker">
    <div>
        <div class="c-label" [ngClass]="{'required': fieldConfig?.isRequired}" *ngIf="fieldConfig?.label">
            <label class="typography-paragraph-black-regular u-pg-mb-0" for="">{{fieldConfig?.label}}</label>
        </div>
        <div class="datepicker-container u-flex u-align-center u-justify-between u-relative">
            <input class="u-w-100 form-control" type="text" [ngClass]="{'invalid': fieldConfig?.setting?.invalid}"  bsDatepicker #dp="bsDatepicker"
            [placeholder]="calculatedPlaceholder" [(ngModel)]="selectedDate"
                (bsValueChange)="onDateChange($event)"
                [bsConfig]="{containerClass: 'theme-default custom-datepicker-theme', adaptivePosition : true}"
                [disabled]="fieldConfig?.isDisabled"
                [minDate]="min"
                [maxDate]="max"
                readonly/>
            <span class="clear-date u-flex-center u-pg-s-2" *ngIf="selectedDate" (click)="clearDate()">
                <i class="fal fa-times-circle"></i>
            </span>
            <button type="button" class="dropdownbtn u-flex-center u-absolute" (click)="toggleDropdown()" [disabled]="fieldConfig?.isDisabled">
                <i [class]="selectedDate? 'fas fa-calendar-check' : 'fas fa-calendar-alt'"></i>
            </button>
        </div>
        <div class="Error-message-container" *ngIf="fieldConfig?.setting?.invalid">
            <span class="error-message">{{ fieldConfig?.setting?.errorMessage }}</span>
        </div>
    </div>
</div>