@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';
@import '../../../scss/mixin/input';

.input-datepicker {
    .c-label {
        @include psi-input-label; 
    }
    .datepicker-container {
        height: 40px;

        input {
           @include psi-input;
            background-color: $colors-neutral-white !important;
        }

    }

    .clear-date {
        position: absolute;
        right: 48px;
        color: $colors-neutral-light;

        &:hover {
            cursor: pointer;
            color: $colors-neutral-black;
        }

    }

    .dropdownbtn {
        border: none;
        right: 0px;
        width: 40px;
        height: 40px;
        background-color: $colors-v2-base-primary-v-low-t-05;
        border-radius: 0 8px 8px 0;
    }

}


