<div class="input-datepicker">
    <div>
        <div class="c-label" *ngIf="dateLabel">
            <label class="typography-paragraph-black-regular u-pg-mb-0" for="">{{dateLabel}}</label>
        </div>
        <div class="datepicker-container u-flex u-align-center u-justify-between u-relative">
            <input 
                class="u-w-100 form-control" 
                type="text" 
                bsDatepicker 
                #dp="bsDatepicker"
                readonly 
                [placeholder]="calculatedPlaceholder"
                [(ngModel)]="value"
                (bsValueChange)="onDateChange($event)"/>
            <span class="clear-date u-flex-center u-pg-s-2" (click)="clearDate()">
                <i class="fal fa-times-circle"></i>
            </span>
            <button 
                type="button" 
                class="dropdownbtn u-flex-center u-absolute" 
                (click)="toggleDropdown()">
                <i class="fas fa-calendar-check"></i>
            </button>
        </div>
    </div>
</div>