<div class="u-mb2 u-mt3">
    <div [ngClass]="configUpload?.isShowUploader ? 'file-uploader' : 'mass-uploader'">
        <label *ngIf="configUpload?.label">{{configUpload?.label}}</label>
        <label for="file_upload + {{configUpload?.key}}" class="file-upload-label" tabindex="0">
            <span [innerHTML]="placeholder"></span>
        </label>
        <input type="file" name="files" id="file_upload + {{configUpload?.key}}" (change)="onFileChange($event)" #file_upload multiple hidden />
        <div class="error-msg" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
    </div>
    <div class="file-list-container">
        <div class="file-item" *ngFor="let file of selectedFiles; let i = index">
            <div class="file-item-info">
                <i class="far fa-file file-icon"></i>
                <div class="file-details">
                    <span class="file-name" [innerText]="file.name"></span>
                    <div class="file-meta">
                        <span>size: {{convertFileSizes(file.size)}}</span>
                        <span>type: {{convertFileType(file.type)}}</span>
                    </div>
                </div>
            </div>
            <i class="fas fa-trash" (click)="onFileDeleted(i)"></i>
        </div>
    </div>
</div>
