@import '../../../scss/variables/typography';
@import '../../../scss/variables/colors';
.modal-content {
    width: 671px;
    height:auto;

    .error-msg {
        background-color: $colors-v2-base-error;
        font-size: 14px;
        margin-top: 10px;
        line-height: 40px;
    }
    .modal-footer {
        text-decoration: none;
        border: none;
    }
    
}