<div class="modal-content">
    <div class="modal-header">
        <span class="title-icon" [ngClass]="modalData.titleIcon"></span>
        <div class="header-title">{{ modalData.title }}</div>
        <i class="fal fa-times modal-dismiss" (click)="close()"></i>
    </div>
    <div class="typography-body-black-regular modal-body-container u-pg-py-3 u-pg-px-2" *ngIf="!showCard">
        <div class="upload-container">
            <div class="typography-h6-black-bold u-pg-mt-2" [innerHTML]="modalData.modalBodyTitle"></div>
            <div class="typography-body-black-regular u-pg-mt-2" [innerHTML]="modalData.modalBodyText"></div>
            
            <app-psi-upload-files
                [selectedFiles]="selectedFiles"
                (changeFileUpload)="onFileChange($event)"
                [fileSizeMessage]="massTemplate"
                [convertFileSizes]="convertFileSizes.bind(this)" 
                [convertFileType]="convertFileType.bind(this)"
                [isFromAttachment]="false"
                [errorMessage]="errorMessage">
            </app-psi-upload-files>

        </div>
    </div>
    <div class="typography-body-black-regular modal-body-container u-pg-py-3 u-pg-px-2" *ngIf="showCard">
        <div class="upload-container">
            <div class="typography-h6-black-bold" [innerHTML]="modalData.successLabelText"></div>
            <div class="typography-body-black-regular" [innerHTML]="modalData.errorLabelText"></div>
        </div>
        <app-product-summary-dimensions-card 
            [rows]="productDetail">
        </app-product-summary-dimensions-card>
    </div>
    <div class="modal-footer footer w-100">
        <div *ngFor="let btn of modalData.btnLabel">
            <app-cmp-button 
                [isDisable]="btn.isDisable" 
                [buttonText]="btn.label" 
                [buttonClass]="btn.class"
                (onClick)="onButtonClicked($event)">
            </app-cmp-button>
        </div>
    </div>
</div>
