<div class="modal-content">
    <div class="modal-header">
        <span class="title-icon" [ngClass]="modalData.titleIcon"></span>
        <div class="header-title">{{ modalData.title }}</div>
        <i class="fa fa-times modal-dismiss" (click)="close()"></i>
    </div>
    <div class="modal-body">
        <div class="upload-container">
            <div class="upload-csv mt-16" [innerHTML]="modalData.modalBodyTitle"></div>
            <div class="mt-16" [innerHTML]="modalData.modalBodyText"></div>
            <app-psi-upload-files
            [fileSizeMessage]="massTemplate()"
            [isFromAttachment]="false"
            ></app-psi-upload-files>
        </div>
    </div>
    <div class="modal-footer footer w-100">
        <div *ngFor="let btn of modalData.btnLabel">
            <app-cmp-button [isDisable]="btn.isDisable" [buttonText]="btn.label" [buttonClass]="btn.class"
                (onClick)="onButtonClicked($event)">
            </app-cmp-button>
        </div>
    </div>
</div>
