<div class="modal-content">
    <div class="modal-header">
        <span class="title-icon" [ngClass]="modalData.titleIcon"></span>
        <div class="header-title">{{ modalData.title }}</div>
        <i class="fa fa-times modal-dismiss" (click)="close()"></i>
    </div>
    <div class="typography-body-black-regular modal-body-container u-pg-py-3 u-pg-px-2">
        <div class="upload-container">
            <div class="typography-body-black-regular" [innerHTML]="modalData.modalBodyTitle"></div>
            <div class="typography-body-black-regular" [innerHTML]="modalData.modalBodyText"></div>
            
            <app-psi-upload-files
                [selectedFiles]="selectedFiles"
                (changeFileUpload)="onFileChange($event)"
                [fileSizeMessage]="massTemplate"
                [isFromAttachment]="false">
            </app-psi-upload-files>

            <!-- Error message section moved outside of file list -->
            <div class="error-msg" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
        </div>
    </div>
    <div class="modal-footer footer w-100">
        <div *ngFor="let btn of modalData.btnLabel">
            <app-cmp-button 
                [isDisable]="btn.isDisable" 
                [buttonText]="btn.label" 
                [buttonClass]="btn.class"
                (onClick)="onButtonClicked($event)">
            </app-cmp-button>
        </div>
    </div>
</div>
