$colors-neutral-light-t-40 : #CBCBCB40;
$colors-neutral-gray-alpha: #4A4A4A26;
$colors-neutral-soft-coral: #FA67591A;
$colors-neutral-warm-coral: #FA67590D;

$colors-neutral-black: rgb(35, 35, 35);
$colors-neutral-black-t-75: rgba(35, 35, 35, 0.75);
$colors-neutral-black-t-50: rgba(35, 35, 35, 0.50);
$colors-neutral-black-t-25: rgba(35, 35, 35, 0.25);
$colors-neutral-black-t-10: rgba(35, 35, 35, 0.10);
$colors-neutral-black-v-high: rgb(0, 0, 0);
$colors-neutral-black-v-medium: rgb(42, 42, 42);
$colors-neutral-black-v-low: rgb(89, 89, 89);

$colors-neutral-dark: rgb(74, 74, 74);
$colors-neutral-dark-t-75: rgba(74, 74, 74, 0.75);
$colors-neutral-dark-t-50: rgba(74, 74, 74, 0.50);
$colors-neutral-dark-t-25: rgba(74, 74, 74, 0.25);
$colors-neutral-dark-t-15: rgba(74, 74, 74, 0.15);
$colors-neutral-dark-t-10: rgba(74, 74, 74, 0.10);
$colors-neutral-dark-v-high: rgb(53, 53, 53);
$colors-neutral-dark-v-medium: rgb(120, 120, 120);
$colors-neutral-dark-v-low: rgb(234, 234, 234);

$colors-neutral-light: rgb(203, 203, 203);
$colors-neutral-light-t-75: rgba(203, 203, 203, 0.75);
$colors-neutral-light-t-50: rgba(203, 203, 203, 0.50);
$colors-neutral-light-t-25: rgba(203, 203, 203, 0.25);
$colors-neutral-light-t-20: rgba(203, 203, 203, 0.20);
$colors-neutral-light-t-15: rgba(203, 203, 203, 0.15);
$colors-neutral-light-t-10: rgba(203, 203, 203, 0.10);
$colors-neutral-light-v-high: rgb(152, 152, 152);
$colors-neutral-light-v-medium: rgb(189, 189, 189);
$colors-neutral-light-v-low: rgb(241, 241, 241);
$colors-neutral-light-v-background: rgb(245, 245, 245);

$colors-neutral-white: rgb(255, 255, 255);
$colors-neutral-white-t-75: rgba(255, 255, 255, 0.75);
$colors-neutral-white-t-50: rgba(255, 255, 255, 0.50);
$colors-neutral-white-t-25: rgba(255, 255, 255, 0.25);
$colors-neutral-white-t-10: rgba(255, 255, 255, 0.10);

$colors-shadows-black-0: 0 2px 8px 0 rgba(7, 18, 37, 0.00);
$colors-shadows-black-25: 0 4px 8px 0 rgba(74, 74, 74, 0.15);
$colors-shadows-black-50: 0 8px 16px 0 rgba(74, 74, 74, 0.15);
$colors-shadows-black-75: 0 12px 24px 0 rgba(74, 74, 74, 0.15);
$colors-shadows-black-100: 0 16px 40px 0 rgba(74, 74, 74, 0.15);

$colors-shadows-primary-25: 0 16px 40px 0 rgba(135, 0, 0, 0.15);
$colors-shadows-primary-50: 0 4px 8px 0 rgba(135, 0, 0, 0.15);
$colors-shadows-primary-75: 0 8px 16px 0 rgba(135, 0, 0, 0.15);
$colors-shadows-primary-100: 0 12px 24px 0 rgba(135, 0, 0, 0.15);

$colors-shadows-secondary-25: 0 4px 8px 0 rgba(119, 194, 245, 0.15);
$colors-shadows-secondary-50: 0 8px 16px 0 rgba(119, 194, 245, 0.15);
$colors-shadows-secondary-75: 0 12px 24px 0 rgba(119, 194, 245, 0.15);
$colors-shadows-secondary-100: 0 16px 40px 0 rgba(119, 194, 245, 0.15);


// Navigator 2.0 Rebranding

$colors-v2-base-primary: rgb(231, 69, 54);
$colors-v2-base-primary-t-75: rgba(231, 69, 54, 0.75);
$colors-v2-base-primary-t-50: rgba(231, 69, 54, 0.5);
$colors-v2-base-primary-t-25: rgba(231, 69, 54, 0.25);
$colors-v2-base-primary-t-10: rgba(231, 69, 54, 0.1);
$colors-v2-base-primary-v-high: rgb(222, 19, 0);
$colors-v2-base-primary-v-medium: rgb(237, 42, 24);
$colors-v2-base-primary-v-low: rgb(250, 103, 89);
$colors-v2-base-primary-v-low-t-10: rgba(250, 103, 89, 0.1);
$colors-v2-base-primary-v-low-t-05: rgba(250, 103, 89, 0.05);

$colors-v2-base-secondary: rgb(54, 216, 231);
$colors-v2-base-secondary-t-75: rgba(54, 216, 231, 0.75);
$colors-v2-base-secondary-t-50: rgba(54, 216, 231, 0.5);
$colors-v2-base-secondary-t-25: rgba(54, 216, 231, 0.25);
$colors-v2-base-secondary-t-10: rgba(54, 216, 231, 0.1);
$colors-v2-base-secondary-v-high: rgb(46, 128, 135);
$colors-v2-base-secondary-v-medium: rgb(46, 179, 191);
$colors-v2-base-secondary-v-low: rgb(35, 236, 255);

$colors-v2-base-success: rgb(110, 216, 35);
$colors-v2-base-success-t-75: rgba(110, 216, 35, 0.75);
$colors-v2-base-success-t-50: rgba(110, 216, 35, 0.5);
$colors-v2-base-success-t-25: rgba(110, 216, 35, 0.25);
$colors-v2-base-success-t-10: rgba(110, 216, 35, 0.1);
$colors-v2-base-success-v-high: rgb(68, 128, 26);
$colors-v2-base-success-v-medium: rgb(84, 178, 18);
$colors-v2-base-success-v-low: rgb(102, 245, 0);
$colors-v2-base-success-v-lite: rgb(174, 221, 120);

$colors-v2-base-warning: rgb(255, 162, 29);
$colors-v2-base-warning-t-75: rgba(255, 162, 29, 0.75);
$colors-v2-base-warning-t-50: rgba(255, 162, 29, 0.5);
$colors-v2-base-warning-t-25: rgba(255, 162, 29, 0.25);
$colors-v2-base-warning-t-10: rgba(255, 162, 29, 0.1);
$colors-v2-base-warning-v-high: rgb(140, 94, 28);
$colors-v2-base-warning-v-medium: rgb(191, 120, 19);
$colors-v2-base-warning-v-low: rgba(255, 150, 0, 1);

$colors-v2-base-error: rgb(197, 0, 0);
$colors-v2-base-error-t-75: rgba(197, 0, 0, 0.75);
$colors-v2-base-error-t-50: rgba(197, 0, 0, 0.5);
$colors-v2-base-error-t-25: rgba(197, 0, 0, 0.25);
$colors-v2-base-error-t-10: rgba(197, 0, 0, 0.1);
$colors-v2-base-error-v-high: rgb(139, 0, 0);
$colors-v2-base-error-v-medium: rgb(229, 0, 0);
$colors-v2-base-error-v-low: rgba(255, 23, 23, 1);

$colors-v2-file-bg: rgb(247, 247, 247);
$colors-v2-file-text: rgb(72, 160, 220);
$colors-v2-filed-bg: rgb(119, 194, 246);
