// As per zero height

$helvetica-neue: 'HelveticaNeue';
$helvetica-light: 'Helvetica-light';
$helvetica-medium: 'Helvetica-medium';
$helvetica-bold: 'Helvetica-bold';


$crimson-pro-regular: 'CrimsonPro-Regular';
$crimson-pro-bold: 'CrimsonPro-Bold';
$crimson-pro-medium: 'CrimsonPro-Medium';
$crimson-pro-light: 'CrimsonPro-Light';

$montserrat-regular: 'Montserrat-Regular';
$montserrat-medium: 'Montserrat-Medium';
$montserrat-bold: 'Montserrat-Bold';