@import '../../../scss/variables/typography';
@import '../../../scss/variables/colors';

.input-dropdown {
    position: relative;

    .dropdown-label {
        display: flex;
        color: $colors-neutral-black;
        font-family: $montserrat-regular !important;
        font-size: 12px;
        border: none !important;
        margin: 0 0 6px 16px;
        line-height: 16px;
    }

    .dropdown-header {
        height: 40px;
        padding: 0 16px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $colors-neutral-black;
        font-family: $montserrat-regular;
        font-size: 12px;
        border: 1px solid $colors-neutral-light;
        border-radius: 8px;
        transition: none;
        .placeholder-text {
            color: $colors-neutral-light;
        }
        &:hover {
            outline: 2px solid $colors-neutral-dark;
            border: 0;
        }

        &:focus {
            outline: 2px solid $colors-v2-base-secondary-v-medium;
            border: 0;
        }

        &.ps-required-error {
            background: $colors-v2-base-error-t-10;
            outline: 2px solid $colors-v2-base-error;
            border: 0;
        }
    }

    .dropdown-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        height: 40px;
        width: 40px;
        background: $colors-v2-base-primary-v-low-t-05;
        border: none !important;
        position: absolute;
        right: 0;
        padding: 0;
        margin: 0;
        border-radius: 0 8px 8px 0;

        &:focus, &:focus-visible {
            outline: none;
        }
    }

    .text-overflow {
        font-family: $montserrat-regular;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.default-text {
            color: $colors-neutral-light;
        }
    }

    .dropdown-list {
        margin-top: 4px;
        border-radius: 8px;
        border: 1px solid $colors-neutral-light !important;
        border-top: none;
        background-color: $colors-neutral-white;
        z-index: 1000;
        font-size: 12px;
        max-height: 400px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 100%;

        .search-box {
            margin: 10px;
            width: calc(100% - 20px);
            z-index: 1;

            input.form-control {
                height: 40px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $colors-neutral-black;
                font-family: $montserrat-regular;
                font-size: 12px;
                border: 1px solid $colors-neutral-light !important;
                border-radius: 8px;
                transition: border 0.2s ease;
                box-shadow: none !important;
                width: 100%;
                padding-right: 72px;
                caret-color: $colors-v2-base-secondary-v-medium;

                &::placeholder {
                    color: $colors-neutral-light;
                    font-family: $montserrat-regular;
                    font-size: 12px;
                }

                &:hover {
                    outline: 2px solid $colors-neutral-dark;
                    border-radius: 8px;
                    border: 0;
                }
    
                &:focus {
                    outline: 2px solid $colors-v2-base-secondary-v-medium;
                    border: 0;
                }
            }

            .search-box-action-buttons {
                .clear-search {
                    font-size: 14px;
                    color: $colors-neutral-light;
                    cursor: pointer;
                    margin-right: 12px;
                }
    
                .search-icon {
                    border: none;
                    font-size: 20px;
                    padding: 10px;
                    background: $colors-v2-base-primary-v-low-t-05;
                    border-radius: 0 8px 8px 0;

                    &:focus, &:focus-visible {
                        outline: none;
                    }
                }
            }
        }

        .dropdown-content {
            max-height: 300px;
            overflow-y: auto;
            scroll-behavior: smooth;
            scroll-snap-type: y mandatory;
            margin-right: 5px !important;
            font-size: 14px !important;

            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background: $colors-neutral-light-t-50;
                border-radius: 10px;
                height: 50px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: $colors-neutral-light;
            }

            .no-results {
                color: #cbcbcb;
                font-family: $montserrat-regular;
                font-size: 14px;
                text-align: center;
                justify-content: center;
            }

            .select-all {
                margin: 5px;
                padding: 8px;
                display: flex;
                align-items: center;
                height: 38px;
            }

            .checkbox {
                background: $colors-v2-base-primary;
                height: 16px;
                width: 16px;
                color: $colors-neutral-white;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $colors-v2-base-primary;
                border-radius: 4px;
                font-size: 12px;
                font-weight: bold;
                margin-right: 8px;
                cursor: pointer;
                transition: background 0.3s;
            }

            .checkbox.checked {
                background: $colors-v2-base-primary;
            }

            .checkbox.unchecked {
                background: #e74536;
                color: white;
                font-weight: bold;
            }

            .checkbox:hover {
                background: #d6362f;
            }

            .select-list {
                cursor: pointer;
                margin: 5px;
                padding: 8px;
                display: flex;
                align-items: center;

                span {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 90%;
                    margin-top: 2px;
                }
                &:hover {
                    background: #fff2f1;
                }
            }

            input[type="checkbox"] {
                box-sizing: border-box;
                margin-right: 10px;
                height: 16px;
                width: 16px;
                padding: 0;
                margin-top: 0px;
                border: 1px solid $colors-neutral-dark;
                border-radius: 4px;
                background-color: #fff;
                appearance: none;
                position: relative;
                cursor: pointer;
                transition: background-color 0.2s ease, border-color 0.2s ease;
                outline: none;

                &::before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 5px;
                    width: 4px;
                    height: 8px;
                    border: solid $colors-neutral-white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                    opacity: 0;
                    transition: opacity 0.2s ease;
                }

                &:checked {
                    background-color: $colors-v2-base-primary;
                    border-color: $colors-v2-base-primary;
                }

                &:checked::before {
                    opacity: 1;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .dropdown-content>div {
            scroll-snap-align: start;
        }
    }
}

.input-dropdown .dropdown-header.disabled {
    border-radius: 8px;
    background-color: $colors-neutral-light-v-low;
    color: $colors-neutral-dark-v-medium;
    cursor: not-allowed;
    
    .dropdown-list {
        pointer-events: none;
        display: none;
    }

    &:hover,
    &:focus {
        color: $colors-neutral-dark-v-medium;
        border: 1px solid $colors-neutral-light;
        outline: none;
        box-shadow: none;
    }
}
