<div class="cards-layout-details u-pg-p-2">
  <ng-container *ngFor="let data of rows; let i = index" [ngClass]="data.loopClass">
    <span 
      class="u-title typography-v2-cr-body-dark-regular u-pg-mb-2 d-block" 
      *ngIf="data.title"
      [ngClass]="{'u-pg-mb-2': i === 0, 'u-title-margin': i !== 0}">
      {{ data.title }}
    </span>
    <p class="field-bl-dtl u-flex u-pg-mb-1">
      <span class="u-ml3-left w-50">
        <span class="typography-body-black-medium">{{ data.label }}</span>
        <span class="icon-tooltip" *ngIf="data.tooltip">
          <cmp-popover [tooltipConfig]="data.tooltip"></cmp-popover>
        </span>
      </span>
      <span class="typography-body-dark-regular u-ml3-right w-50 text-end text-break">
        <span> {{data.value}} </span>
      </span>
    </p>
  </ng-container>
</div>
