@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';
@import '../../../scss/utilities/colors';
@import '../../../scss/utilities/base';
@import '../../../scss/utilities/typography';

.cards-layout-details {
    background: $colors-neutral-white;
    box-shadow: $colors-shadows-black-25;
    padding: 16px;

    .field-bl-dtl {
        display: flex;

        .u-ml3-left,
        .u-ml3-right {
            width: 50%;
        }

        .u-ml3-right {
            text-align: right;
            overflow-wrap: break-word;
        }

        .icon-tooltip {
            margin-left: 4px;
        }
    }

    .color-red {
        color: #b90010;
    }

    .position-relative {
        position: relative;
    }

    .info-popover {
        .white-tooltip {
            visibility: hidden;
            position: absolute;
            background: #b90010;
            border-radius: 8px;
            border: 1px solid #cbcbcb;
            width: max-content;
            color: #ffffff;
            font-family: 'HelveticaNeue';
            z-index: 1;
            padding: 8px 20px 8px 8px;
            right: 25px;
            top: -14px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;

            &::before {
                content: '';
                height: 14px;
                width: 14px;
                border-top: 1px solid #cbcbcb;
                border-left: 1px solid #cbcbcb;
                position: absolute;
                transform: rotate(135deg);
                top: 12px;
                z-index: 2;
                left: 199px;
                background-color: #b90010;
            }
        }

        &:hover i+.white-tooltip {
            visibility: visible;
        }
    }

    .u-title {
        font-family: 'Helvetica';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .mt-16 {
        margin-top: 16px;
    }
}

.typography-body-black-regular {
    color: $colors-neutral-black;
    font-family: $montserrat-regular !important;
}

.typography-body-black-medium {
    color: $colors-neutral-black;
    font-weight: 800;
    font-family: $montserrat-medium !important;
    width: 44%;
}
