<div class="cards-layout-details">
  <ng-container *ngFor="let data of rows" [ngClass]="data.loopClass">
    <span class="u-title" *ngIf="data.title">{{ data.title }}</span>
    <p class="field-bl-dtl">
      <span class="u-ml3-left">
        <span class="typography-body-black-medium">{{ data.label }}</span>
        <span class="icon-tooltip" *ngIf="data.tooltip">
          <cmp-popover [tooltipConfig]="data.tooltip"></cmp-popover>
        </span>
      </span>
      <span class="typography-body-black-regular u-ml3-right">
        <span> {{data.value}} </span>
      </span>
    </p>
  </ng-container>
</div>
