@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';
@import '../../../scss/utilities/colors';
@import '../../../scss/utilities/base';
@import '../../../scss/utilities/typography';

.cards-layout-details {
    background: $colors-neutral-white;
    box-shadow: 0px 4px 8px 0px $colors-neutral-dark-t-15;
    
    .u-title {
        &.u-title-margin {
            margin: 24px 0 16px 0;
        }
    }
}
