@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';
@import '../../../scss/utilities/colors';
@import '../../../scss/utilities/base';
@import '../../../scss/utilities/typography';

.button-round {
    display: flex;

    .action-round {
        height: 32px;
        width: 32px;
        display: flex;
        margin-left: 16px;
        background: $colors-neutral-white;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        box-shadow: $colors-shadows-black-25;
        cursor: pointer;
        position: relative;

        i {
            color: $colors-neutral-dark;
        }

        /* Tooltip styling */
        &::after {
            content: attr(data-tooltip);
            visibility: hidden;
            position: absolute;
            top: 120%;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: $colors-neutral-black;
            color: #fff;
            padding: 5px;
            white-space: nowrap;
            pointer-events: none;
            z-index: 100;
            font-family: $montserrat-regular;
            font-size: 12px;
        }

        &:hover {
            i {
                color: $colors-neutral-black;
                /* Change icon color on hover */
            }

            &::after {
                visibility: visible;
                /* Show tooltip on hover */
                opacity: 1;
                /* Make tooltip fully visible */
            }
        }

        &.disabled:hover {
            cursor: not-allowed;

            i {
                color: $colors-neutral-dark;
                /* Maintain icon color on hover */
            }
        }
    }
}
