@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';

// .sidebar-layout {
//     position: absolute;
//     left: 0;
//     z-index: 100;
//     background-color: $colors-neutral-black;

//     .sidebar-header {
//         padding: 16px;
//     }

//     .sidebar-content .sidebar-menu #mainMenu {
//         padding: 8px 16px;
//         list-style: none;
//         display: flex;
//         flex-direction: column;

//         .sidebar-menu-item {
//             a {
//                 font-family: "CrimsonPro-Medium";
//                 display: flex;
//                 align-items: center;
//                 height: 40px;
//                 padding: 0 10px;
//                 color: rgb(204, 204, 204);
//                 text-decoration: none;
//                 font-size: 14px;

//                 &:hover {
//                     background-color: #333;
//                     color: white;
//                 }

//                 i {
//                     font-size: 16px;
//                     width: 28px;
//                 }

//                 .toggle-icon {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                 }

//                 .toggle-icon.icon-plus::after {
//                     content: "+";
//                     color: rgb(204, 204, 204);
//                     position: absolute;
//                     right: 28px;
//                     font-size: 16px;
//                 }

//                 .toggle-icon.icon-minus::after {
//                     content: "-";
//                     color: rgb(204, 204, 204);
//                     position: absolute;
//                     right: 28px;
//                     font-size: 16px;
//                 }
//             }

//             #mainMenu-items {
//                 padding-left: 7px;
//                 list-style: none;

//                 .sidebar-submenu-item a {
//                     height: 32px;

//                     i {
//                         font-size: 12px;
//                         width: 16px;
//                     }

//                     span {
//                         font-size: 13px;
//                     }

//                     &:hover {
//                         background-color: #232323;
//                     }

//                 }

//             }
//         }
//     }
// }

.sidebar {
    min-height: 100%;
    &__header {

    }

    &__content {
        font-family: $crimson-pro-regular;
        font-size: 16px;
       .sidebar-menu-list {
            padding: 8px;
            .sidebar-menu-item {
                color: #FFFFFF;
                font-size: 16px;
                padding: 8px;
                width: 100%;
                border-radius: 8px;
                &:hover {
                    background-color: #CBCBCB40;
                }         
                .sidebar-submenu-item {
                    font-family: $montserrat-regular;
                    color: #FFFFFF;
                    font-size: 14px;
                    padding-bottom: 8px;
                    border-radius: 8px;
                    position: relative;
                    &:first-child {
                        padding-top: 8px;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                    a {
                        display: block;
                        width: 100%;
                        padding: 2px 4px 2px 28px;
                        border-radius: 8px;
                        &:hover {
                            background-color: #CBCBCB40;
                        }
                    }
                    ul {
                        display: none;
                    }
                    &:hover ul {
                        display: block;
                        position: absolute;
                        background-color: #4A4A4A;
                        left: 100%;
                        top: 0;
                        box-shadow: 0px 4px 8px 0px #4A4A4A26;
                        z-index: 1;
                        width: 240px;
                        border-radius: 8px;
                        margin-left: 8px;
                        
                        li {
                            padding: 8px 20px;
                            height: 24px;
                            a {
                                padding: 0;
                            }
                        }
                    }   
                }
                .sidebar-icon {
                    font-size: 16px;
                    width: 24px;
                }
                .toggle-icon {
                    float: right;
                    margin-top: 4px;
                    font-size: 16px;
                }
                ul,li{
                    list-style: none;
                    padding: 0;
                }
                a {
                    text-decoration: none;
                    color: $colors-neutral-white;
                }
            }
            .sidebar-menu-active {
                background-color: #CBCBCB40;
            }
        }
    }
}

.expanded {
    width: 288px;
    top: 0;
}

.collapsed {
    width: 64px;
    top: 38px;
}