@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';

.sidebar-layout {
    .sidebar-header {
        padding: 16px;
    }
    .sidebar-content .sidebar-menu #mainMenu {
        padding: 8px 16px;
        // padding: 24px 10px 0 10px;
        list-style: none;
        // width: 270px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .sidebar-menu-item {
            a {
                font-family: "CrimsonPro-Medium";
                display: flex;
                align-items: center;
                height: 40px;
                padding: 0 10px;
                color: rgb(204, 204, 204);
                text-decoration: none;
                font-size: 14px;

                &:hover {
                    background-color: #333;
                    color: white;
                }

                i {
                    font-size: 16px;
                    width: 28px;
                }

                .toggle-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .toggle-icon.icon-plus::after {
                    content: "+";
                    color: rgb(204, 204, 204);
                    position: absolute;
                    right: 28px;
                    font-size: 16px;
                }

                .toggle-icon.icon-minus::after {
                    content: "-";
                    color: rgb(204, 204, 204);
                    position: absolute;
                    right: 28px;
                    font-size: 16px;
                }
            }

            #mainMenu-items {
                padding-left: 7px;
                list-style: none;
                .sidebar-submenu-item a {
                    i {
                        font-size: 12px;
                        width: 16px;
                    }
                    span {
                        font-size: 13px;
                    }

                    &:hover {
                        background-color: #232323;
                    }

                }

            }
        }
    } 
}