<div class="product-management">
    <div class="header-background">
        <app-header-tool
            titleText="Product Management"
            titleIcon="fas fa-file-invoice-dollar">
        </app-header-tool>
        <div class="product-tool-container">
            <div class="check-container">
                <div class="u-w-inherit">
                    <app-summary-top-bar></app-summary-top-bar>
                    <a href="http://cockpit.parkstreet.local/router.php/app#!/cockpit/product-management"> Old Cockpit page</a>
                    <button class="logout" (click)="logout()">Logout</button>
                </div>
               <div *ngFor="let item of summaryResponse" class="items">
                    <p>{{item|json}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

