@import '../../../../src/styles/typography';
@import '../../../../src/styles/colors';

.product-management {

    .header-background {
        background-color: $colors-neutral-black;
        color: $colors-neutral-white;
        width: 100vw;
        height: 100vh;
        padding-left: 100px;
        padding-top: 56px;
    }

    .product-tool-container {
        border-left: 16px solid $colors-neutral-light-t-25;
        border-right: 16px solid $colors-neutral-light-t-25;
        border-bottom: 10px solid $colors-neutral-light-t-25;
        background-color: $colors-neutral-white;
        color: $colors-neutral-black;
    }
}



