@import "../../../../src/styles/typography";
@import "../../../../src/styles/colors";
@import '../../scss/utilities/colors';
@import '../../scss/utilities/base';

.product-management {
    background-color: #e2e7ea;

    .header-background {
        background-color: $colors-neutral-black;
        color: $colors-neutral-white;
        width: 100vw;
        height: 100vh;
        padding-left: 100px;
        padding-top: 56px;
    }

    .product-tool-container {
        border-left: 16px solid $colors-neutral-light-t-25;
        border-right: 16px solid $colors-neutral-light-t-25;
        border-bottom: 10px solid $colors-neutral-light-t-25;
        background-color: $colors-neutral-white;
        color: $colors-neutral-black;

        .check-container {

            .items {
                margin: 16px;
            }

            .u-w-inherit button.logout {
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                background-color: #e74536;
                border-color: transparent;
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
                font-family: "CrimsonPro-Bold";
                outline: 0;
                padding: 8px 32px;
                border-radius: 8px;
                margin-left: 8px;

                &:hover {
                    color: #fff;
                    background-color: #de1300;
                    outline: 0;
                    border-color: transparent;
                }
            }

        }

        .id-renderer {
            color: $black !important;
            text-decoration: none;
        }
    }

    .no-record-message {
        color: rgb(203, 203, 203);
        font-family: $montserrat-regular;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        line-height: 1;
        text-align: center;
        padding-bottom: 20px;
        height: 500px;
        background: #fff;
        i {
          font-size: 24px;
          margin-bottom: 8px;
        }
    }
}

.norightpadding {
    padding-right: 0 !important;
}
