<div class="product-management u-pg-pt-1">
    <app-header-tool
        titleText="Product Management"
        titleIcon="fas fa-wine-bottle">
    </app-header-tool>
    <div class="product-tool-container">
        <div class="check-container">
            <div class="u-w-inherit">
                <app-summary-top-bar
                    [productChecked]="selectedAllRows"
                    [config]="topPanelConfig"
                    [filterList]="filterList"
                    (addProduct)="addProduct()"
                    (applyFilters)="applyFilters($event)"
                    (resetFilters)="resetFilters()"
                    (onEnter)="universalSearch($event)"
                    (onClickAction)="onClickAction($event)"
                    (excelExport)="excelExport()">
                </app-summary-top-bar>
            </div>
        </div>
        <div class="product-tool-grid u-pg-mb-1" [hidden]="productToolSummary.length == 0 && !isLoadingSummaryData">
            <app-summary-grid
                [gridOptions] = "gridOptions"
                [selectAllOption] = "true"
                (selectAllCheckbox) = "onSelectAllChanged($event)"
                (setDataSource)="setDataSourceAgGrid()"
                [selectedRowCount]="selectedRowCount">
            </app-summary-grid>
        </div>
        <app-no-record
            *ngIf="!isLoadingSummaryData && productToolSummary.length <= 0"
            [iconClass] = "'far fa-surprise'"
            [placeHolderText] = "'No Data Found'">
        </app-no-record>
    </div>
</div>
