@import "../../scss/variables/typography";
@import "../../scss/variables/colors";
@import '../../scss/utilities/colors';
@import '../../scss/utilities/base';

.product-management {
    background-color: $colors-neutral-light-v-low;
    .product-tool-container {
        margin: 8px 16px 16px;
        padding: 0 8px 0 16px;
        background-color: $colors-neutral-white;
        color: $colors-neutral-black;

        .no-record-container {
            min-height: 75vh;
        }
    }
}
