<div class="product-management">
    <app-header-tool
        titleText="Product Management"
        titleIcon="fas fa-wine-bottle">
    </app-header-tool>
    <div class="product-tool-container">
        <div class="check-container">
            <div class="u-w-inherit">
                <app-summary-top-bar
                    [productChecked]="selectedAllRows"
                    [config]="topPanelConfig"
                    [filterList]="filterList"
                    (addProduct)="addProduct()"
                    (applyFilters)="applyFilters($event)"
                    (resetFilters)="resetFilters()"
                    (onEnter)="universalSearch($event)"
                    (onClickAction)="onClickAction($event)"
                    (excelExport)="excelExport()">
                </app-summary-top-bar>
            </div>
        </div>
        <div [hidden]="productToolSummary.length == 0 && !isLoadingSummaryData" class="product-tool-grid">
            <app-summary-grid
                [gridOptions] = "gridOptions"
                [selectAllOption] = "true"
                (selectAllCheckbox) = "onSelectAllChanged($event)"
                (setDataSource)="setDataSourceAgGrid()"
                [selectedRowCount]="selectedRowCount">
            </app-summary-grid>
        </div>
        <div class="no-record-message" *ngIf="!isLoadingSummaryData && productToolSummary.length <= 0">
            <i class="fas fa-surprise"></i>
            <span>No Data Found</span>
        </div>        
    </div>
</div>
