<div class="input-dropdown">
    <div class="dropdown-label" [ngClass]="{'required': required}">
        <span class="d-block" [textContent]="label" *ngIf="label"></span>
    </div>
    <div class="u-flex u-align-center u-justify-between" (click)="toggleDropdown()">
        <input 
            type='text' 
            class="typography-paragraph-black-regular dropdown-headers u-truncate u-w-100" 
            [ngClass]="{'placeholder-grey-text': selectedDate === 'mm/dd/yyyy - mm/dd/yyyy'}"
            [(ngModel)]="selectedDate"
            placeholder="mm/dd/yyyy" 
            tabindex="0" 
            readonly>
        <i class="fal fa-times-circle position-absolute u-neutral-light u-csr-ptr clearSelectedItems" *ngIf="selectedDate !== 'mm/dd/yyyy - mm/dd/yyyy'" (click)="clearDate()"></i>
        <button class="dropdown-button">
            <i [ngClass]="isDropdownOpen() ? 'fal fa-chevron-up' : 'fal fa-chevron-down'" aria-hidden="true"></i>
        </button>
    </div>

    <div class="dropdown-list" *ngIf="isOpen">
        <div class="dropdown-content">
            <div>
                <div class="date-filters" *ngIf="datesArray && datesArray.length > 0">
                    <div 
                        class="date-filter-item" 
                        *ngFor="let item of datesArray" 
                        [ngClass]="{'active-item': defaultDateValues.id === item.id}"
                        (click)="setDateValues(item)">
                        {{item.mobile_name}}
                    </div>
                </div>
                <app-cmp-input-datepicker 
                    type="from" 
                    [min]="min"
                    [max]="max"
                    [selectedDate]="fromDate" 
                    (dateModelChange)="onDateSelected($event)">
                </app-cmp-input-datepicker>
                <app-cmp-input-datepicker 
                    type="to" 
                    [min]="min"
                    [max]="max"
                    [selectedDate]="toDate" 
                    (dateModelChange)="onDateSelected($event)">
                </app-cmp-input-datepicker>
            </div>
        </div>
    </div>
</div>