@import '../../../scss/variables/typography';
@import '../../../scss/variables/colors';
@import '../../../scss/mixin/mixin';
@import '../../../scss/mixin/input';

.input-dropdown {
    position: relative;

    .dropdown-label {
        @include psi-input-label;
    }

    .dropdown-headers {
        height: 40px;
        padding: 0 16px;
        cursor: pointer;
        border: 1px solid $colors-neutral-light;
        border-radius: 8px;
        transition: none;
        
        &::placeholder {
            color: $colors-neutral-light;
        }
        &:hover {
            outline: 2px solid $colors-neutral-dark;
            border: 0;
        }

        &:focus {
            outline: 2px solid $colors-v2-base-secondary-v-medium;
            border: 0;
        }

        &.ps-required-error {
            background: $colors-v2-base-error-t-10;
            outline: 2px solid $colors-v2-base-error;
            border: 0;

            .placeholder-text {
                color: $colors-v2-base-error;
            }
        }
    }

    .clearSelectedItems {
        right: 52px;
        font-size: 16px;

        &:hover {
            color: $colors-neutral-black;
        }
    }

    .dropdown-button {
        font-size: 16px;
        height: 40px;
        width: 40px;
        background: $colors-v2-base-primary-v-low-t-05;
        border: none !important;
        position: absolute;
        right: 0;
        padding: 0;
        margin: 0;
        border-radius: 0 8px 8px 0;

        &:focus, &:focus-visible {
            outline: none;
        }
    }

    .dropdown-list {
        margin-top: 4px;
        border-radius: 8px;
        border: 1px solid $colors-neutral-light !important;
        border-top: none;
        background-color: $colors-neutral-white;
        z-index: 2;
        font-size: 12px;
        max-height: 400px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 100%;

        .dropdown-content {
            max-height: 300px;
            overflow-y: auto;
            scroll-behavior: smooth;
            scroll-snap-type: y mandatory;
            padding: 12px 8px 0 8px;
            font-size: 14px !important;
            font-family: $montserrat-regular;

            .date-filters{
                display: flex;
                justify-content: space-between;
                margin-bottom: 12px;

                .date-filter-item{
                    cursor: pointer;
                    color: $colors-neutral-dark;

                    &:hover {
                        color: $colors-neutral-black;
                        text-decoration: underline;
                    }
                }

                .active-item{
                    color: $colors-v2-base-primary;
                    text-decoration: underline;

                    &:hover {
                        color: $colors-v2-base-primary;
                        text-decoration: underline;
                    }
                }
            }
        }

        .dropdown-content>div {
            scroll-snap-align: start;
        }
    }
}

.input-dropdown .dropdown-headers.disabled {
    border-radius: 8px;
    background-color: $colors-neutral-light-v-low;
    color: $colors-neutral-dark-v-medium;
    cursor: not-allowed;
    
    .dropdown-list {
        pointer-events: none;
        display: none;
    }

    &:hover,
    &:focus {
        color: $colors-neutral-dark-v-medium;
        border: 1px solid $colors-neutral-light;
        outline: none;
        box-shadow: none;
    }
}
