/*


BASE


*/
@import '../variables/media-queries';
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  overflow-x: hidden;
  color: #4A4A4A !important;
  font-size: 16px;
  line-height: 1.5;
}

b-h1, b-h2, b-h3, b-h4, b-h5, b-h6,
.b-h1, .b-h2, .b-h3, .b-h4, .b-h5, .b-h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

b-h1, .b-h1 {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
}

b-h2, .b-h2 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
}

b-h3, .b-h3 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

b-h4, .b-h4 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

b-h5, .b-h5 {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

b-h6, .b-h6 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: $screen-xs-max) {
  // 767px and below

  b-h1-xs, .b-h1-xs {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h2-xs, .b-h2-xs {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h3-xs, .b-h3-xs {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h4-xs, .b-h4-xs {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h5-xs, .b-h5-xs {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h6-xs, .b-h6-xs {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  // Between 768px and 991px

  b-h1-sm, .b-h1-sm {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h2-sm, .b-h2-sm {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h3-sm, .b-h3-sm {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h4-sm, .b-h4-sm {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h5-sm, .b-h5-sm {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h6-sm, .b-h6-sm {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  // Between 992px and 1199px

  b-h1-md, .b-h1-md {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h2-md, .b-h2-md {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h3-md, .b-h3-md {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h4-md, .b-h4-md {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h5-md, .b-h5-md {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h6-md, .b-h6-md {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

}

@media (min-width: $screen-lg-min) {
  // 1200px and up

  b-h1-lg, .b-h1-lg {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h2-lg, .b-h2-lg {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h3-lg, .b-h3-lg {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h4-lg, .b-h4-lg {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h5-lg, .b-h5-lg {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  b-h6-lg, .b-h6-lg {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

//I left these styles in here because originally we where using these...Instead we should be using our width.scss folder.
// DO NOT CONTINUE TO USE these widths below.
/* Width Scale */
.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-33 { width: 33%; }
.w-34 { width: 34%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-75 { width: 75%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }