/*



BORDER WIDTHS



*/

.u-bw0 { border-width: 0 !important; }  //0px
.u-bw1 { border-width: .125rem !important; } //2px
.u-bw2 { border-width: .25rem !important; } //4px
.u-bw3 { border-width: .5rem !important; } //8px
.u-bw4 { border-width: 1rem !important; } //16px
.u-bw5 { border-width: 2rem !important; } //32px