/*
BORDERS COLORS
*/


.u-b--near-white { border-color: $colors-neutral-white; }
.u-b--light-blue { border-color: $colors-v2-base-secondary; }
.u-b--light-gray { border-color: $colors-neutral-dark; }

