/*



FLEXBOX



*/

.u-flex { display: flex !important; }
.u-inline-flex { display: inline-flex; }

.u-flex-imp {
  display: flex !important;
}

.u-align-center {
  align-items: center;
}

.u-align-end {
  align-items: flex-end;
}

.u-align-baseline {
  align-items: baseline;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-between {
  justify-content: space-between;
}
.u-justify-flex-end {
  justify-content: flex-end;
}
.u-justify-flex-start {
  justify-content: flex-start;
}

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-flex-h-center {
  display: flex;
  align-items: center;
}

.u-flex-v-center {
  display: flex;
  justify-content: center;
}

.u-flex-1 {
  flex: 1;
}
.u-flex-column {
  flex-direction: column;
  display: flex;
}
.u-pg-g-1 {
  gap: 8px;
}

.u-pg-g-2 {
  gap: 16px;
}


/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.u-flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

.u-align-center {
  align-items: center;
}
.u-justify-between {
  justify-content: space-between;
}
.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.u-flex-column {
  flex-direction: column;
}
.u-flex-grow {
  flex-grow: 1;
}

.u-flex-none { flex: none; }
.u-flex-column  { flex-direction: column; }
.u-flex-align-center { align-items: center; }

// @media (max-width: $screen-xs-max) {
//   // 767px and below

//   .u-flex-xs { display: flex; }
//   .u-inline-flex-xs { display: inline-flex; }

//   .u-flex-auto-xs {
//     flex: 1 1 auto;
//     min-width: 0; /* 1 */
//     min-height: 0; /* 1 */
//   }

//   .u-flex-none-xs { flex: none; }
//   .u-flex-column-xs  { flex-direction: column; }

// }


// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
//   // Between 768px and 991px

//   .u-flex-sm { display: flex; }
//   .u-inline-flex-sm { display: inline-flex; }

//   .u-flex-auto-sm {
//     flex: 1 1 auto;
//     min-width: 0; /* 1 */
//     min-height: 0; /* 1 */
//   }

//   .u-flex-none-sm { flex: none; }
//   .u-flex-column-sm  { flex-direction: column; }

// }


// @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
//   // Between 768px and 991px

//   .u-flex-md { display: flex; }
//   .u-inline-flex-md { display: inline-flex; }

//   .u-flex-auto-md {
//     flex: 1 1 auto;
//     min-width: 0; /* 1 */
//     min-height: 0; /* 1 */
//   }

//   .u-flex-none-md { flex: none; }
//   .u-flex-column-md  { flex-direction: column; }

// }

// @media (min-width: $screen-lg-min) {
//   // 1200px and up

//   .u-flex-lg { display: flex; }
//   .u-inline-flex-lg { display: inline-flex; }

//   .u-flex-auto-lg {
//     flex: 1 1 auto;
//     min-width: 0; /* 1 */
//     min-height: 0; /* 1 */
//   }

//   .u-flex-none-lg { flex: none; }
//   .u-flex-column-lg  { flex-direction: column; }

// }
