/*



Floats



*/

.u-fl { float: left; display: inline; }
.u-fr { float: right; display: inline; }
.u-fn { float: none; }


@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  /* Floats */
  .u-fn-sm { float: 0; }
  .u-fl-sm { float: left; display: inline; }
  .u-fr-sm { float: right; display: inline; }
}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  /* Floats */
  .u-fn-md { float: 0; }
  .u-fl-md { float: left; display: inline; }
  .u-fr-md { float: right; display: inline; }
}

@media (min-width: $screen-lg-min) {

  /* Floats */
  .u-fn-lg { float: 0; }
  .u-fl-lg { float: left; display: inline; }
  .u-fr-lg { float: right; display: inline; }
}
