/*



   LINE HEIGHT / LEADING



*/

.u-lh-solid { line-height: 1; }
.u-lh-title { line-height: 1.25; }
.u-lh-copy  { line-height: 1.5; }
.u-lh-copy-1x  { line-height: 2.5; }
.u-lh-16 { line-height: 16px;}
.u-lh-20  { line-height: 20px; }
