/*



LINKS



 */

.u-link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.u-link:u-link,
.u-link:visited {
  transition: color .15s ease-in;
}

.u-link:hover   {
  transition: color .15s ease-in;
}

.u-link:active  {
  transition: color .15s ease-in;
}

.u-link:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}