/*




MARGINS




*/

/* Variables */
$ps-spacing-none: 0rem;
$ps-spacing-extra-small: .25rem;
$ps-spacing-small: .5rem;
$ps-spacing-medium: 1rem;
$ps-spacing-large: 2rem;
$ps-spacing-extra-large: 4rem;
$ps-spacing-extra-extra-large: 8rem;
$ps-spacing-extra-extra-extra-large: 16rem;

/* Margin All */
.u-ma0 { margin: 0; }
.u-ma1 { margin: .25rem; }
.u-ma2 { margin: .5rem; }
.u-ma3 { margin: 1rem; }
.u-ma4 { margin: 2rem; }
.u-ma5 { margin: 4rem; }
.u-ma6 { margin: 8rem; }
.u-ma7 { margin: 16rem; }

/* Margin Top */
.u-mt0 { margin-top: 0; }
.u-mt1 { margin-top: .25rem; }
.u-mt2 { margin-top: .5rem; }
.u-mt3 { margin-top: 1rem; }
.u-mt4 { margin-top: 2rem; }
.u-mt5 { margin-top: 4rem; }
.u-mt6 { margin-top: 8rem; }
.u-mt7 { margin-top: 16rem; }

/* Margin Right */
.u-mr0 { margin-right: 0; }
.u-mr1 { margin-right: .25rem; }
.u-mr2 { margin-right: .5rem; }
.u-mr3 { margin-right: 1rem; }
.u-mr4 { margin-right: 2rem; }
.u-mr5 { margin-right: 4rem; }
.u-mr6 { margin-right: 8rem; }
.u-mr7 { margin-right: 16rem; }

/* Margin Bottom */
.u-mb0 { margin-bottom: 0 !important; }
.u-mb1 { margin-bottom: .25rem !important; }
.u-mb2 { margin-bottom: .5rem !important; }
.u-mb3 { margin-bottom: 1rem !important; }
.u-mb4 { margin-bottom: 2rem !important; }
.u-mb5 { margin-bottom: 4rem !important; }
.u-mb6 { margin-bottom: 8rem !important; }
.u-mb7 { margin-bottom: 16rem !important; }

/* Margin Left */
.u-ml0 { margin-left: 0; }
.u-ml1 { margin-left: .25rem; }
.u-ml2 { margin-left: .5rem; }
.u-ml3 { margin-left: 1rem; }
.u-ml4 { margin-left: 2rem; }
.u-ml5 { margin-left: 4rem; }
.u-ml6 { margin-left: 8rem; }
.u-ml7 { margin-left: 16rem; }

/* Margin Vertical */
.u-mv0 {
  margin-top: $ps-spacing-none;
  margin-bottom: $ps-spacing-none;
}
.u-mv1 {
  margin-top: $ps-spacing-extra-small;
  margin-bottom: $ps-spacing-extra-small;
}
.u-mv2 {
  margin-top: $ps-spacing-small;
  margin-bottom: $ps-spacing-small;
}
.u-mv3 {
  margin-top: $ps-spacing-medium;
  margin-bottom: $ps-spacing-medium;
}
.u-mv4 {
  margin-top: $ps-spacing-large;
  margin-bottom: $ps-spacing-large;
}
.u-mv5 {
  margin-top: $ps-spacing-extra-large;
  margin-bottom: $ps-spacing-extra-large;
}
.u-mv6 {
  margin-top: $ps-spacing-extra-extra-large;
  margin-bottom: $ps-spacing-extra-extra-large;
}
.u-mv7 {
  margin-top: $ps-spacing-extra-extra-extra-large;
  margin-bottom: $ps-spacing-extra-extra-extra-large;
}

/* Margin Horizontal */
.u-mh0 {
  margin-left: $ps-spacing-none;
  margin-right: $ps-spacing-none;
}
.u-mh1 {
  margin-left: $ps-spacing-extra-small;
  margin-right: $ps-spacing-extra-small;
}
.u-mh2 {
  margin-left: $ps-spacing-small;
  margin-right: $ps-spacing-small;
}
.u-mh3 {
  margin-left: $ps-spacing-medium;
  margin-right: $ps-spacing-medium;
}
.u-mh4 {
  margin-left: $ps-spacing-large;
  margin-right: $ps-spacing-large;
}
.u-mh5 {
  margin-left: $ps-spacing-extra-large;
  margin-right: $ps-spacing-extra-large;
}
.u-mh6 {
  margin-left: $ps-spacing-extra-extra-large;
  margin-right: $ps-spacing-extra-extra-large;
}
.u-mh7 {
  margin-left: $ps-spacing-extra-extra-extra-large;
  margin-right: $ps-spacing-extra-extra-extra-large;
}

// Auto margin utilities

.u-pg-m-auto {
  margin: auto;
}

.u-pg-mt-auto {
  margin-top: auto;
}

.u-pg-mr-auto {
  margin-right: auto;
}

.u-pg-mb-auto {
  margin-bottom: auto;
}

.u-pg-ml-auto {
  margin-left: auto;
}

.u-pg-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-pg-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $screen-xs-max) {
  // 767px and below

  /* Margin All */
  .u-ma0-xs { margin: 0; }
  .u-ma1-xs { margin: .25rem; }
  .u-ma2-xs { margin: .5rem; }
  .u-ma3-xs { margin: 1rem; }
  .u-ma4-xs { margin: 2rem; }
  .u-ma5-xs { margin: 4rem; }
  .u-ma6-xs { margin: 8rem; }
  .u-ma7-xs { margin: 16rem; }

  /* Margin Top */
  .u-mt0-xs { margin-top: 0; }
  .u-mt1-xs { margin-top: .25rem; }
  .u-mt2-xs { margin-top: .5rem; }
  .u-mt3-xs { margin-top: 1rem; }
  .u-mt4-xs { margin-top: 2rem; }
  .u-mt5-xs { margin-top: 4rem; }
  .u-mt6-xs { margin-top: 8rem; }
  .u-mt7-xs { margin-top: 16rem; }

  /* Margin Right */
  .u-mr0-xs { margin-right: 0; }
  .u-mr1-xs { margin-right: .25rem; }
  .u-mr2-xs { margin-right: .5rem; }
  .u-mr3-xs { margin-right: 1rem; }
  .u-mr4-xs { margin-right: 2rem; }
  .u-mr5-xs { margin-right: 4rem; }
  .u-mr6-xs { margin-right: 8rem; }
  .u-mr7-xs { margin-right: 16rem; }


  /* Margin Bottom */
  .u-mb0-xs { margin-bottom: 0; }
  .u-mb1-xs { margin-bottom: .25rem; }
  .u-mb2-xs { margin-bottom: .5rem; }
  .u-mb3-xs { margin-bottom: 1rem; }
  .u-mb4-xs { margin-bottom: 2rem; }
  .u-mb5-xs { margin-bottom: 4rem; }
  .u-mb6-xs { margin-bottom: 8rem; }
  .u-mb7-xs { margin-bottom: 16rem; }

  /* Margin Left */
  .u-ml0-xs { margin-left: 0; }
  .u-ml1-xs { margin-left: .25rem; }
  .u-ml2-xs { margin-left: .5rem; }
  .u-ml3-xs { margin-left: 1rem; }
  .u-ml4-xs { margin-left: 2rem; }
  .u-ml5-xs { margin-left: 4rem; }
  .u-ml6-xs { margin-left: 8rem; }
  .u-ml7-xs { margin-left: 16rem; }

  /* Margin Vertical */
  .u-mv0-xs {
    margin-top: $ps-spacing-none;
    margin-bottom: $ps-spacing-none;
  }
  .u-mv1-xs {
    margin-top: $ps-spacing-extra-small;
    margin-bottom: $ps-spacing-extra-small;
  }
  .u-mv2-xs {
    margin-top: $ps-spacing-small;
    margin-bottom: $ps-spacing-small;
  }
  .u-mv3-xs {
    margin-top: $ps-spacing-medium;
    margin-bottom: $ps-spacing-medium;
  }
  .u-mv4-xs {
    margin-top: $ps-spacing-large;
    margin-bottom: $ps-spacing-large;
  }
  .u-mv5-xs {
    margin-top: $ps-spacing-extra-large;
    margin-bottom: $ps-spacing-extra-large;
  }
  .u-mv6-xs {
    margin-top: $ps-spacing-extra-extra-large;
    margin-bottom: $ps-spacing-extra-extra-large;
  }
  .u-mv7-xs {
    margin-top: $ps-spacing-extra-extra-extra-large;
    margin-bottom: $ps-spacing-extra-extra-extra-large;
  }

  /* Margin Horizontal */
  .u-mh0-xs {
    margin-left: $ps-spacing-none;
    margin-right: $ps-spacing-none;
  }
  .u-mh1-xs {
    margin-left: $ps-spacing-extra-small;
    margin-right: $ps-spacing-extra-small;
  }
  .u-mh2-xs {
    margin-left: $ps-spacing-small;
    margin-right: $ps-spacing-small;
  }
  .u-mh3-xs {
    margin-left: $ps-spacing-medium;
    margin-right: $ps-spacing-medium;
  }
  .u-mh4-xs {
    margin-left: $ps-spacing-large;
    margin-right: $ps-spacing-large;
  }
  .u-mh5-xs {
    margin-left: $ps-spacing-extra-large;
    margin-right: $ps-spacing-extra-large;
  }
  .u-mh6-xs {
    margin-left: $ps-spacing-extra-extra-large;
    margin-right: $ps-spacing-extra-extra-large;
  }
  .u-mh7-xs {
    margin-left: $ps-spacing-extra-extra-extra-large;
    margin-right: $ps-spacing-extra-extra-extra-large;
  }
}


@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  // Between 768px and 991px

  /* Margin All */
  .u-ma0-sm { margin: 0; }
  .u-ma1-sm { margin: .25rem; }
  .u-ma2-sm { margin: .5rem; }
  .u-ma3-sm { margin: 1rem; }
  .u-ma4-sm { margin: 2rem; }
  .u-ma5-sm { margin: 4rem; }
  .u-ma6-sm { margin: 8rem; }
  .u-ma7-sm { margin: 16rem; }

  /* Margin Top */
  .u-mt0-sm { margin-top: 0; }
  .u-mt1-sm { margin-top: .25rem; }
  .u-mt2-sm { margin-top: .5rem; }
  .u-mt3-sm { margin-top: 1rem; }
  .u-mt4-sm { margin-top: 2rem; }
  .u-mt5-sm { margin-top: 4rem; }
  .u-mt6-sm { margin-top: 8rem; }
  .u-mt7-sm { margin-top: 16rem; }

  /* Margin Right */
  .u-mr0-sm { margin-right: 0; }
  .u-mr1-sm { margin-right: .25rem; }
  .u-mr2-sm { margin-right: .5rem; }
  .u-mr3-sm { margin-right: 1rem; }
  .u-mr4-sm { margin-right: 2rem; }
  .u-mr5-sm { margin-right: 4rem; }
  .u-mr6-sm { margin-right: 8rem; }
  .u-mr7-sm { margin-right: 16rem; }

  /* Margin Bottom */
  .u-mb0-sm { margin-bottom: 0; }
  .u-mb1-sm { margin-bottom: .25rem; }
  .u-mb2-sm { margin-bottom: .5rem; }
  .u-mb3-sm { margin-bottom: 1rem; }
  .u-mb4-sm { margin-bottom: 2rem; }
  .u-mb5-sm { margin-bottom: 4rem; }
  .u-mb6-sm { margin-bottom: 8rem; }
  .u-mb7-sm { margin-bottom: 16rem; }

  /* Margin Left */
  .u-ml0-sm { margin-left: 0; }
  .u-ml1-sm { margin-left: .25rem; }
  .u-ml2-sm { margin-left: .5rem; }
  .u-ml3-sm { margin-left: 1rem; }
  .u-ml4-sm { margin-left: 2rem; }
  .u-ml5-sm { margin-left: 4rem; }
  .u-ml6-sm { margin-left: 8rem; }
  .u-ml7-sm { margin-left: 16rem; }

  /* Margin Vertical */
  .u-mv0-sm {
    margin-top: $ps-spacing-none;
    margin-bottom: $ps-spacing-none;
  }
  .u-mv1-sm {
    margin-top: $ps-spacing-extra-small;
    margin-bottom: $ps-spacing-extra-small;
  }
  .u-mv2-sm {
    margin-top: $ps-spacing-small;
    margin-bottom: $ps-spacing-small;
  }
  .u-mv3-sm {
    margin-top: $ps-spacing-medium;
    margin-bottom: $ps-spacing-medium;
  }
  .u-mv4-sm {
    margin-top: $ps-spacing-large;
    margin-bottom: $ps-spacing-large;
  }
  .u-mv5-sm {
    margin-top: $ps-spacing-extra-large;
    margin-bottom: $ps-spacing-extra-large;
  }
  .u-mv6-sm {
    margin-top: $ps-spacing-extra-extra-large;
    margin-bottom: $ps-spacing-extra-extra-large;
  }
  .u-mv7-sm {
    margin-top: $ps-spacing-extra-extra-extra-large;
    margin-bottom: $ps-spacing-extra-extra-extra-large;
  }

  /* Margin Horizontal */
  .u-mh0-sm {
    margin-left: $ps-spacing-none;
    margin-right: $ps-spacing-none;
  }
  .u-mh1-sm {
    margin-left: $ps-spacing-extra-small;
    margin-right: $ps-spacing-extra-small;
  }
  .u-mh2-sm {
    margin-left: $ps-spacing-small;
    margin-right: $ps-spacing-small;
  }
  .u-mh3-sm {
    margin-left: $ps-spacing-medium;
    margin-right: $ps-spacing-medium;
  }
  .u-mh4-sm {
    margin-left: $ps-spacing-large;
    margin-right: $ps-spacing-large;
  }
  .u-mh5-sm {
    margin-left: $ps-spacing-extra-large;
    margin-right: $ps-spacing-extra-large;
  }
  .u-mh6-sm {
    margin-left: $ps-spacing-extra-extra-large;
    margin-right: $ps-spacing-extra-extra-large;
  }
  .u-mh7-sm {
    margin-left: $ps-spacing-extra-extra-extra-large;
    margin-right: $ps-spacing-extra-extra-extra-large;
  }


}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  // Between 992px and 1199px

  /* Margin All */
  .u-ma0-md { margin: 0; }
  .u-ma1-md { margin: .25rem; }
  .u-ma2-md { margin: .5rem; }
  .u-ma3-md { margin: 1rem; }
  .u-ma4-md { margin: 2rem; }
  .u-ma5-md { margin: 4rem; }
  .u-ma6-md { margin: 8rem; }
  .u-ma7-md { margin: 16rem; }

  /* Margin Top */
  .u-mt0-md { margin-top: 0; }
  .u-mt1-md { margin-top: .25rem; }
  .u-mt2-md { margin-top: .5rem; }
  .u-mt3-md { margin-top: 1rem; }
  .u-mt4-md { margin-top: 2rem; }
  .u-mt5-md { margin-top: 4rem; }
  .u-mt6-md { margin-top: 8rem; }
  .u-mt7-md { margin-top: 16rem; }

  /* Margin Right */
  .u-mr0-md { margin-right: 0; }
  .u-mr1-md { margin-right: .25rem; }
  .u-mr2-md { margin-right: .5rem; }
  .u-mr3-md { margin-right: 1rem; }
  .u-mr4-md { margin-right: 2rem; }
  .u-mr5-md { margin-right: 4rem; }
  .u-mr6-md { margin-right: 8rem; }
  .u-mr7-md { margin-right: 16rem; }

  /* Margin Bottom */
  .u-mb0-md { margin-bottom: 0; }
  .u-mb1-md { margin-bottom: .25rem; }
  .u-mb2-md { margin-bottom: .5rem; }
  .u-mb3-md { margin-bottom: 1rem; }
  .u-mb4-md { margin-bottom: 2rem; }
  .u-mb5-md { margin-bottom: 4rem; }
  .u-mb6-md { margin-bottom: 8rem; }
  .u-mb7-md { margin-bottom: 16rem; }

  /* Margin Left */
  .u-ml0-md { margin-left: 0; }
  .u-ml1-md { margin-left: .25rem; }
  .u-ml2-md { margin-left: .5rem; }
  .u-ml3-md { margin-left: 1rem; }
  .u-ml4-md { margin-left: 2rem; }
  .u-ml5-md { margin-left: 4rem; }
  .u-ml6-md { margin-left: 8rem; }
  .u-ml7-md { margin-left: 16rem; }

  /* Margin Vertical */
  .u-mv0-md {
    margin-top: $ps-spacing-none;
    margin-bottom: $ps-spacing-none;
  }
  .u-mv1-md {
    margin-top: $ps-spacing-extra-small;
    margin-bottom: $ps-spacing-extra-small;
  }
  .u-mv2-md {
    margin-top: $ps-spacing-small;
    margin-bottom: $ps-spacing-small;
  }
  .u-mv3-md {
    margin-top: $ps-spacing-medium;
    margin-bottom: $ps-spacing-medium;
  }
  .u-mv4-md {
    margin-top: $ps-spacing-large;
    margin-bottom: $ps-spacing-large;
  }
  .u-mv5-md {
    margin-top: $ps-spacing-extra-large;
    margin-bottom: $ps-spacing-extra-large;
  }
  .u-mv6-md {
    margin-top: $ps-spacing-extra-extra-large;
    margin-bottom: $ps-spacing-extra-extra-large;
  }
  .u-mv7-md {
    margin-top: $ps-spacing-extra-extra-extra-large;
    margin-bottom: $ps-spacing-extra-extra-extra-large;
  }

  /* Margin Horizontal */
  .u-mh0-md {
    margin-left: $ps-spacing-none;
    margin-right: $ps-spacing-none;
  }
  .u-mh1-md {
    margin-left: $ps-spacing-extra-small;
    margin-right: $ps-spacing-extra-small;
  }
  .u-mh2-md {
    margin-left: $ps-spacing-small;
    margin-right: $ps-spacing-small;
  }
  .u-mh3-md {
    margin-left: $ps-spacing-medium;
    margin-right: $ps-spacing-medium;
  }
  .u-mh4-md {
    margin-left: $ps-spacing-large;
    margin-right: $ps-spacing-large;
  }
  .u-mh5-md {
    margin-left: $ps-spacing-extra-large;
    margin-right: $ps-spacing-extra-large;
  }
  .u-mh6-md {
    margin-left: $ps-spacing-extra-extra-large;
    margin-right: $ps-spacing-extra-extra-large;
  }
  .u-mh7-md {
    margin-left: $ps-spacing-extra-extra-extra-large;
    margin-right: $ps-spacing-extra-extra-extra-large;
  }


}

@media (min-width: $screen-lg-min) {
  // 1200px and up

  /* Margin All */
  .u-ma0-lg { margin: 0; }
  .u-ma1-lg { margin: .25rem; }
  .u-ma2-lg { margin: .5rem; }
  .u-ma3-lg { margin: 1rem; }
  .u-ma4-lg { margin: 2rem; }
  .u-ma5-lg { margin: 4rem; }
  .u-ma6-lg { margin: 8rem; }
  .u-ma7-lg { margin: 16rem; }

  /* Margin Top */
  .u-mt0-lg { margin-top: 0; }
  .u-mt1-lg { margin-top: .25rem; }
  .u-mt2-lg { margin-top: .5rem; }
  .u-mt3-lg { margin-top: 1rem; }
  .u-mt4-lg { margin-top: 2rem; }
  .u-mt5-lg { margin-top: 4rem; }
  .u-mt6-lg { margin-top: 8rem; }
  .u-mt7-lg { margin-top: 16rem; }

  /* Margin Right */
  .u-mr0-lg { margin-right: 0; }
  .u-mr1-lg { margin-right: .25rem; }
  .u-mr2-lg { margin-right: .5rem; }
  .u-mr3-lg { margin-right: 1rem; }
  .u-mr4-lg { margin-right: 2rem; }
  .u-mr5-lg { margin-right: 4rem; }
  .u-mr6-lg { margin-right: 8rem; }
  .u-mr7-lg { margin-right: 16rem; }

  /* Margin Bottom */
  .u-mb0-lg { margin-bottom: 0; }
  .u-mb1-lg { margin-bottom: .25rem; }
  .u-mb2-lg { margin-bottom: .5rem; }
  .u-mb3-lg { margin-bottom: 1rem; }
  .u-mb4-lg { margin-bottom: 2rem; }
  .u-mb5-lg { margin-bottom: 4rem; }
  .u-mb6-lg { margin-bottom: 8rem; }
  .u-mb7-lg { margin-bottom: 16rem; }

  /* Margin Left */
  .u-ml0-lg { margin-left: 0; }
  .u-ml1-lg { margin-left: .25rem; }
  .u-ml2-lg { margin-left: .5rem; }
  .u-ml3-lg { margin-left: 1rem; }
  .u-ml4-lg { margin-left: 2rem; }
  .u-ml5-lg { margin-left: 4rem; }
  .u-ml6-lg { margin-left: 8rem; }
  .u-ml7-lg { margin-left: 16rem; }

  /* Margin Vertical */
  .u-mv0-lg {
    margin-top: $ps-spacing-none;
    margin-bottom: $ps-spacing-none;
  }
  .u-mv1-lg {
    margin-top: $ps-spacing-extra-small;
    margin-bottom: $ps-spacing-extra-small;
  }
  .u-mv2-lg {
    margin-top: $ps-spacing-small;
    margin-bottom: $ps-spacing-small;
  }
  .u-mv3-lg {
    margin-top: $ps-spacing-medium;
    margin-bottom: $ps-spacing-medium;
  }
  .u-mv4-lg {
    margin-top: $ps-spacing-large;
    margin-bottom: $ps-spacing-large;
  }
  .u-mv5-lg {
    margin-top: $ps-spacing-extra-large;
    margin-bottom: $ps-spacing-extra-large;
  }
  .u-mv6-lg {
    margin-top: $ps-spacing-extra-extra-large;
    margin-bottom: $ps-spacing-extra-extra-large;
  }
  .u-mv7-lg {
    margin-top: $ps-spacing-extra-extra-extra-large;
    margin-bottom: $ps-spacing-extra-extra-extra-large;
  }

  /* Margin Horizontal */
  .u-mh0-lg {
    margin-left: $ps-spacing-none;
    margin-right: $ps-spacing-none;
  }
  .u-mh1-lg {
    margin-left: $ps-spacing-extra-small;
    margin-right: $ps-spacing-extra-small;
  }
  .u-mh2-lg {
    margin-left: $ps-spacing-small;
    margin-right: $ps-spacing-small;
  }
  .u-mh3-lg {
    margin-left: $ps-spacing-medium;
    margin-right: $ps-spacing-medium;
  }
  .u-mh4-lg {
    margin-left: $ps-spacing-large;
    margin-right: $ps-spacing-large;
  }
  .u-mh5-lg {
    margin-left: $ps-spacing-extra-large;
    margin-right: $ps-spacing-extra-large;
  }
  .u-mh6-lg {
    margin-left: $ps-spacing-extra-extra-large;
    margin-right: $ps-spacing-extra-extra-large;
  }
  .u-mh7-lg {
    margin-left: $ps-spacing-extra-extra-extra-large;
    margin-right: $ps-spacing-extra-extra-extra-large;
  }


}