/*





MAX WIDTHS






*/

/* Max Width Percentages */

.mw-100  { max-width: 100%; }

/* Max Width Scale */

.u-mw1  {  max-width: 1rem; }
.u-mw2  {  max-width: 2rem; }
.u-mw3  {  max-width: 4rem; }
.u-mw4  {  max-width: 8rem; }
.u-mw5  {  max-width: 16rem; }
.u-mw6  {  max-width: 32rem; }
.u-mw7  {  max-width: 48rem; }
.u-mw8  {  max-width: 64rem; }
.u-mw9  {  max-width: 96rem; }

@media (max-width: $screen-xs-max) {
  // 767px and below

  /* Max Width Scale */
  .u-mw1-xs  {  max-width: 1rem; }
  .u-mw2-xs  {  max-width: 2rem; }
  .u-mw3-xs  {  max-width: 4rem; }
  .u-mw4-xs  {  max-width: 8rem; }
  .u-mw5-xs  {  max-width: 16rem; }
  .u-mw6-xs  {  max-width: 32rem; }
  .u-mw7-xs  {  max-width: 48rem; }
  .u-mw8-xs  {  max-width: 64rem; }
  .u-mw9-xs  {  max-width: 96rem; }
  .u-mw-none-xs { max-width: none; }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  // Between 768px and 991px

  /* Max Width Scale */
  .u-mw1-sm  {  max-width: 1rem; }
  .u-mw2-sm  {  max-width: 2rem; }
  .u-mw3-sm  {  max-width: 4rem; }
  .u-mw4-sm  {  max-width: 8rem; }
  .u-mw5-sm  {  max-width: 16rem; }
  .u-mw6-sm  {  max-width: 32rem; }
  .u-mw7-sm  {  max-width: 48rem; }
  .u-mw8-sm  {  max-width: 64rem; }
  .u-mw9-sm  {  max-width: 96rem; }
  .u-mw-none-sm { max-width: none; }
}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  // Between 992px and 1199px

  /* Max Width Scale */
  .u-mw1-md  {  max-width: 1rem; }
  .u-mw2-md  {  max-width: 2rem; }
  .u-mw3-md  {  max-width: 4rem; }
  .u-mw4-md  {  max-width: 8rem; }
  .u-mw5-md  {  max-width: 16rem; }
  .u-mw6-md  {  max-width: 32rem; }
  .u-mw7-md  {  max-width: 48rem; }
  .u-mw8-md  {  max-width: 64rem; }
  .u-mw9-md  {  max-width: 96rem; }
  .u-mw-none-md { max-width: none; }

}

@media (min-width: $screen-lg-min) {
  // 1200px and up

  /* Max Width Scale */
  .u-mw1-lg  {  max-width: 1rem; }
  .u-mw2-lg  {  max-width: 2rem; }
  .u-mw3-lg  {  max-width: 4rem; }
  .u-mw4-lg  {  max-width: 8rem; }
  .u-mw5-lg  {  max-width: 16rem; }
  .u-mw6-lg  {  max-width: 32rem; }
  .u-mw7-lg  {  max-width: 48rem; }
  .u-mw8-lg  {  max-width: 64rem; }
  .u-mw9-lg  {  max-width: 96rem; }
  .u-mw-none-lg { max-width: none; }

}