/*





OVERFLOW

Media Query Extensions:
  -xs = extra-small
  -sm  = small
  -md  = medium
  -lg = large





 */

.u-overflow-auto { overflow: auto; }

.u-overflow-x-auto { overflow-x: auto; }
.u-overflow-y-auto { overflow-y: auto; }

.u-overflow-x-hidden { overflow-x: hidden; }


@media (max-width: $screen-xs-max) {
  // 767px and below

  .u-overflow-auto-xs { overflow: auto; }

  .u-overflow-x-auto-xs { overflow-x: auto; }

}


@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  // Between 768px and 991px

  .u-overflow-auto-sm { overflow: auto; }

  .u-overflow-x-auto-sm { overflow-x: auto; }

}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  // Between 992px and 1199px

  .u-overflow-auto-md { overflow: auto; }

  .u-overflow-x-auto-md { overflow-x: auto; }

}

@media (min-width: $screen-lg-min) {
  // 1200px and up

  .u-overflow-auto-lg { overflow: auto; }

  .u-overflow-x-auto-lg { overflow-x: auto; }

}