/*




TEXT DECORATIONS




 */

.u-underline    { text-decoration: underline !important; }
.u-no-underline { text-decoration: none !important;}

.u-disabled {
  opacity: 0.5;
  cursor: default;
}

.u-cursor-defaul {
  cursor: default !important;
}

.u-cursor-pointer {
  cursor: pointer;
}
