@import '../variables/colors';
@import '../variables/typography';

@mixin tooltiptext {
    width: auto;
    height: 32px;
    visibility: hidden;
    border-radius: 0px;
    background-color: $colors-neutral-black;
    color: $colors-neutral-white;
    font-family: $helvetica-neue;
    font-size: 12px;
    text-align: center;
    padding: 0 8px;
    position: absolute;
    z-index: 2;
    line-height: 12px;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    min-width: auto;
    white-space: nowrap;
    margin-left: 0;
    font-weight: normal;
}