/*




UTILITIES



*/

.u-center { margin-right: auto; margin-left: auto; }

.u-tooltip{
  display:inline-block;
  // border-bottom: 1px dotted black;
}

.u-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.u-tooltip:hover{
  cursor: pointer;
}

.u-tooltip:hover .tooltiptext {
  visibility: visible;
}

.u-csr-ptr {
  cursor: pointer;
}

.back-link {
  color: $colors-neutral-dark;
  text-decoration: underline;
  margin-left: 4px;
  
  .link-text {
      margin-left: 4px;
  }

  &:hover {
      .link-text {
          color: $colors-neutral-black;
          cursor: pointer;
      }
  }
  
}

.u-text-underline {
  text-decoration: underline;
}