/*




VERTICAL ALIGN




*/

.u-v-base { vertical-align: baseline; }
.u-v-mid  { vertical-align: middle; }
.u-v-top  { vertical-align: top; }
.u-v-btm  { vertical-align: bottom; }

@media (max-width: $screen-xs-max) {
  // 767px and below

  .u-v-base-xs { vertical-align: baseline; }
  .u-v-mid-xs  { vertical-align: middle; }
  .u-v-top-xs  { vertical-align: top; }
  .u-v-btm-xs  { vertical-align: bottom; }
}


@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  // Between 768px and 991px

  .u-v-base-sm { vertical-align: baseline; }
  .u-v-mid-sm  { vertical-align: middle; }
  .u-v-top-sm  { vertical-align: top; }
  .u-v-btm-sm  { vertical-align: bottom; }

}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  // Between 768px and 991px

  .u-v-base-md { vertical-align: baseline; }
  .u-v-mid-md  { vertical-align: middle; }
  .u-v-top-md  { vertical-align: top; }
  .u-v-btm-md  { vertical-align: bottom; }
}

@media (min-width: $screen-lg-min) {
  // 1200px and up

  .u-v-base-lg { vertical-align: baseline; }
  .u-v-mid-lg  { vertical-align: middle; }
  .u-v-top-lg  { vertical-align: top; }
  .u-v-btm-lg  { vertical-align: bottom; }
}