/*




WHITE SPACE





*/

.u-ws-normal { white-space: normal; }
.u-nowrap { white-space: nowrap; }
.u-pre { white-space: pre; }
.u-pre-wrap { white-space: pre-wrap; }

@media (max-width: $screen-xs-max) {
  // 767px and below

  .u-ws-normal-xs { white-space: normal; }
  .u-nowrap-xs { white-space: nowrap; }
  .u-pre-xs { white-space: pre; }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  // Between 768px and 991px

  .u-ws-normal-sm { white-space: normal; }
  .u-nowrap-sm { white-space: nowrap; }
  .u-pre-sm { white-space: pre; }
}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  // Between 992px and 1199px

  .u-ws-normal-md { white-space: normal; }
  .u-nowrap-md { white-space: nowrap; }
  .u-pre-md { white-space: pre; }

}

@media (min-width: $screen-lg-min) {
  // 1200px and up

  .u-ws-normal-lg { white-space: normal; }
  .u-nowrap-lg { white-space: nowrap; }
  .u-pre-lg { white-space: pre; }

}