@import "../../scss/variables/typography";
@import "../../scss/variables/colors";

.psi-switcher-tab {
    box-shadow: 0px 2px 8px $colors-neutral-dark-t-15;
    height: 72px;

    ul.nav.nav-pills {
        border-radius: 8px;

        li {
            height: 40px;
            width: 260px;
            margin: 0;
            font-family: $crimson-pro-regular;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            text-align: center;
            color: $colors-neutral-dark;
            background-color: $colors-neutral-light;

            span {
                width: 260px;
            }

            &:hover {
                background: $colors-neutral-light-v-medium;
                cursor: pointer;
            }

            &.active,
            &.active:hover {
                background: $colors-neutral-black;
                color: $colors-neutral-white;
                font-family: $crimson-pro-medium;
                font-weight: 500;
            }

            &:first-child {
                border-radius: 8px 0 0 8px;
            }

            &:last-child {
                border-radius: 0 8px 8px 0;
            }
        }
    }
}
