@import './variables';
@import "./colors";

// Navigator 2.0 Rebranding
$crimson-pro-regular: 'CrimsonPro-Regular';
$crimson-pro-bold: 'CrimsonPro-Bold';
$crimson-pro-medium: 'CrimsonPro-Medium';
$crimson-pro-light: 'CrimsonPro-Light';

$montserrat-regular: 'Montserrat-Regular';
$montserrat-medium: 'Montserrat-Medium';
$montserrat-bold: 'Montserrat-Bold';

.text {
    font-family: 'HelveticaNeue';
    font-size: 13px;
    color: $colors-neutral-light-t-50;

    &--large {
      font-size: 18px;
    }

    &--small {
      font-size: 12px;
    }

    &--white {
      color: $colors-neutral-white;
    }

    &--dark {
      color: $colors-neutral-black;
    }

    &--primary {
      color: $colors-base-primary;
    }

    &--light {
      color: $colors-neutral-light-v-high;
    }

    &--bold {
      font-weight: bold;
    }

    &--italic {
      font-style: italic;
    }

    &--placeholder {
      color: $colors-neutral-light;
    }
}
