  <div class="notes-tab">
    <div *ngFor="let note of notes" >
      <div class="note-owner-image">
        <img class="profile-picture" [src]="note.person_image" />
        <img class="ps-logo" [src]="'/assets/images/ps_icon.png'" />
      </div>
      <div class="note-container" [ngClass]="{'u-primary-v-low-t-10': note.show_new}">
        <div class="note-detail">
          <span>
            <span class="typography-paragraph-primary-medium">{{ note.first_name }} {{ note.last_name }}</span>
            <span  class="typography-paragraph-dark-regular">(Private)</span>
          </span>
          <span class="right-section">
            <ng-container >
              <i class="fas fa-user-lock user-lock-icon" (click)="updateNotePermission(note)" title="Switch to 'Public (Everyone)'"></i>
              <i  class="fas fa-user-unlock user-unlock-icon" (click)="updateNotePermission(note)" title="Switch to 'Private (Only PS Users)'"></i>
              <i  class="fas fa-user-unlock user-unlock-icon" (click)="updateNotePermission(note)" title="Switch to 'Private (Only Me)'"></i>
              <i class="fas fa-pen" (click)="addNote(note)"></i>
              <i class="fas fa-trash" (click)="deleteNote(note.id)"></i>
            </ng-container>
            <span class="typography-paragraph-dark-regular">{{ note.en_created_at | date: 'MM/dd/yy' }}</span>
          </span>
        </div>
        <div class="typography-paragraph-black-regular m-break-word" [innerHTML]="note.content"></div>
      </div>
    </div>
    <div class="notes-loader">
      <i class="fas fa-spinner fa-spin fa-2x fa-fw"></i>
    </div>
    <div  class="add-note">
      <i class="fas fa-plus-circle" (click)="addNote()"></i>
      <span class="typography-body-dark-regular" (click)="addNote()">Add Note</span>
    </div>
  </div>
  