@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';

.notes-tab {
    box-shadow: $colors-shadows-black-25;

    .note-row-tab {
        .note-owner-image {
            flex: none;
            height: 40px;
            width: 40px;
            border-radius: 25px;

            .profile-picture {
                height: 40px;
                width: 40px;
                border-radius: 25px;
            }

            .ps-logo {
                height: 16px;
                width: 16px;
                border-radius: 25px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .note-container {
            .note-detail {
                i {
                    font-size: 12px;
                }
            }

            .note-content {
                * {
                    margin: 0;
                }
            }
        }
    }

    .note-row-tab .note-container .note-detail i,
    .add-note i,
    .add-note span {
        color: $colors-neutral-dark-t-75;
        cursor: pointer;

        &:hover {
            color: $colors-neutral-dark;
        }
    }

    .add-note {
        height: 64px;
    }
}
