@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';

.notes-tab {
    padding: 0 16px;
    background: $colors-neutral-white;
    box-shadow: $colors-shadows-black-25;
    color: $colors-neutral-black;

    .note-row-tab {
        display: flex;
        padding-top: 16px;

        .note-owner-image {
            flex: none;
            height: 40px;
            width: 40px;
            border-radius: 25px;
            background: $colors-neutral-light;
            margin-right: 8px;
            position: relative;

            .profile-picture {
                height: 40px;
                width: 40px;
                border-radius: 25px;
            }

            .ps-logo {
                height: 16px;
                width: 16px;
                border-radius: 25px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .note-container {
            width: 100%;

            .note-detail {
                display: flex;
                align-items: center;
                justify-content: space-between;

                i {
                    font-size: 12px;
                    margin-right: 8px;
                }

                .right-section {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }

            p {
                margin: 0;
            }
        }
    }

    .note-row-tab .note-container .note-detail i,
    .add-note i,
    .add-note span {
        color: $colors-neutral-dark-t-75;
        cursor: pointer;

        &:hover {
            color: $colors-neutral-dark;
        }
    }

    .notes-loader {
        padding: 16px 0;
        text-align: center;
    }

    .add-note {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
