
label {
    display: block;
    max-width: 100%;
    color: #232323;
    font-size: 12px;
    font-weight: normal;
    font-family: "Montserrat-Regular";
    padding-left: 16px;
    line-height: 16px;
  }
  input {
      display: block;
      background: #fff;
      color: #232323;
      border-bottom: 2px solid #fff;
      box-shadow: none;
      border-radius: 8px;
      padding: 0px 16px;
      height: 40px;
      border: 1px solid #cbcbcb;
      font-size: 12px;
      font-family: "Montserrat-Regular";
      caret-color: #2eb3bf;
      &:focus {
        outline: 2px solid #2eb3bf;
        border: none;
      }
      &:hover {
        outline: 2px solid #232323;
      }
  }