<div class="dropdown-label u-inline-flex u-align-center" [ngClass]="{'required': field.required || field.isRequired}">
    <span class="u-db" [textContent]="field.label"></span>
    <ng-container *ngIf="field.iconClass && field.tooltipText">
      <div class="tooltip-wrapper u-relative">
        <i [ngClass]="field.iconClass"
           class="ml-2 u-csr-ptr"
           (mouseenter)="showTooltip = true"
           (mouseleave)="showTooltip = false"></i>
        <div *ngIf="showTooltip" class="custom-tooltip">
          {{ field.tooltipText }}
        </div>
      </div>
    </ng-container>
</div>
<div [ngClass]="{'disabled' : field.disabled}">
    <input *ngIf="field?.type == 'text'"  class="w-100"
    [ngClass]="validationClasses"
    [value]="valueEntered"
    [type]="field.type" [id]="field.name" [placeholder]="field.placeholder"
    [required]="field.required" (blur)="onValueChange($event)"
    (input)="onInputValueChange($event)"/>
    <i *ngIf="valueEntered && !field.isDisabled && !field.disabled" class="far fa-times-circle u-absolute clear-icon" (click)="clearInput()"></i>
</div>
