@import '../../scss/variables/typography';
@import '../../scss/variables/colors';
@import '../../scss/mixin/input';
@import '../../scss/mixin/mixin';

.dropdown-label {
    @include psi-input-label;
}
input {
    @include psi-input;
}
.ps-required-error {
    @include ps-required-error;
}
.disabled {
    cursor: not-allowed;
    input {
        border-radius: 8px;
        background-color: $colors-neutral-light-v-low;
        color: $colors-neutral-dark-v-medium;
        pointer-events: none;
    }
}
