/*!
 * 8-point-grid 
Margin
======
    m  - margin
    mt - margin-top
    mr - margin-right
    mb - margin-bottom
    ml - margin-left
    my - margin-top, margin-bottom
    mx - margin-left, margin-right
Padding
=======
    p  - padding
    pt - padding-top
    pr - padding-right
    pb - padding-bottom
    pl - padding-left
    py - padding-top, padding-bottom
    px - padding-left, padding-right
Size
====
    w - width
    h - height
    s - width, height
Type
====
    fs - font-size
    lh - line-height
Example
=======
    So if you want 8px margin-top, its: u-pg-mt-1
 */
.u-pg-m-0 {
  margin: 0px; }

.u-pg-mt-0 {
  margin-top: 0px; }

.u-pg-mr-0 {
  margin-right: 0px; }

.u-pg-mb-0 {
  margin-bottom: 0px; }

.u-pg-ml-0 {
  margin-left: 0px; }

.u-pg-my-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.u-pg-mx-0 {
  margin-left: 0px;
  margin-right: 0px; }

.u-pg-m-1 {
  margin: 8px; }

.u-pg-mt-1 {
  margin-top: 8px; }

.u-pg-mr-1 {
  margin-right: 8px; }

.u-pg-mb-1 {
  margin-bottom: 8px; }

.u-pg-ml-1 {
  margin-left: 8px; }

.u-pg-my-1 {
  margin-top: 8px;
  margin-bottom: 8px; }

.u-pg-mx-1 {
  margin-left: 8px;
  margin-right: 8px; }

.u-pg-m-2 {
  margin: 16px; }

.u-pg-mt-2 {
  margin-top: 16px; }

.u-pg-mr-2 {
  margin-right: 16px; }

.u-pg-mb-2 {
  margin-bottom: 16px; }

.u-pg-ml-2 {
  margin-left: 16px; }

.u-pg-my-2 {
  margin-top: 16px;
  margin-bottom: 16px; }

.u-pg-mx-2 {
  margin-left: 16px;
  margin-right: 16px; }

.u-pg-m-3 {
  margin: 24px; }

.u-pg-mt-3 {
  margin-top: 24px; }

.u-pg-mr-3 {
  margin-right: 24px; }

.u-pg-mb-3 {
  margin-bottom: 24px; }

.u-pg-ml-3 {
  margin-left: 24px; }

.u-pg-my-3 {
  margin-top: 24px;
  margin-bottom: 24px; }

.u-pg-mx-3 {
  margin-left: 24px;
  margin-right: 24px; }

.u-pg-m-4 {
  margin: 32px; }

.u-pg-mt-4 {
  margin-top: 32px; }

.u-pg-mr-4 {
  margin-right: 32px; }

.u-pg-mb-4 {
  margin-bottom: 32px; }

.u-pg-ml-4 {
  margin-left: 32px; }

.u-pg-my-4 {
  margin-top: 32px;
  margin-bottom: 32px; }

.u-pg-mx-4 {
  margin-left: 32px;
  margin-right: 32px; }

.u-pg-m-5 {
  margin: 40px; }

.u-pg-mt-5 {
  margin-top: 40px; }

.u-pg-mr-5 {
  margin-right: 40px; }

.u-pg-mb-5 {
  margin-bottom: 40px; }

.u-pg-ml-5 {
  margin-left: 40px; }

.u-pg-my-5 {
  margin-top: 40px;
  margin-bottom: 40px; }

.u-pg-mx-5 {
  margin-left: 40px;
  margin-right: 40px; }

.u-pg-m-6 {
  margin: 48px; }

.u-pg-mt-6 {
  margin-top: 48px; }

.u-pg-mr-6 {
  margin-right: 48px; }

.u-pg-mb-6 {
  margin-bottom: 48px; }

.u-pg-ml-6 {
  margin-left: 48px; }

.u-pg-my-6 {
  margin-top: 48px;
  margin-bottom: 48px; }

.u-pg-mx-6 {
  margin-left: 48px;
  margin-right: 48px; }

.u-pg-m-7 {
  margin: 56px; }

.u-pg-mt-7 {
  margin-top: 56px; }

.u-pg-mr-7 {
  margin-right: 56px; }

.u-pg-mb-7 {
  margin-bottom: 56px; }

.u-pg-ml-7 {
  margin-left: 56px; }

.u-pg-my-7 {
  margin-top: 56px;
  margin-bottom: 56px; }

.u-pg-mx-7 {
  margin-left: 56px;
  margin-right: 56px; }

.u-pg-m-8 {
  margin: 64px; }

.u-pg-mt-8 {
  margin-top: 64px; }

.u-pg-mr-8 {
  margin-right: 64px; }

.u-pg-mb-8 {
  margin-bottom: 64px; }

.u-pg-ml-8 {
  margin-left: 64px; }

.u-pg-my-8 {
  margin-top: 64px;
  margin-bottom: 64px; }

.u-pg-mx-8 {
  margin-left: 64px;
  margin-right: 64px; }

.u-pg-m-9 {
  margin: 72px; }

.u-pg-mt-9 {
  margin-top: 72px; }

.u-pg-mr-9 {
  margin-right: 72px; }

.u-pg-mb-9 {
  margin-bottom: 72px; }

.u-pg-ml-9 {
  margin-left: 72px; }

.u-pg-my-9 {
  margin-top: 72px;
  margin-bottom: 72px; }

.u-pg-mx-9 {
  margin-left: 72px;
  margin-right: 72px; }

.u-pg-m-10 {
  margin: 80px; }

.u-pg-mt-10 {
  margin-top: 80px; }

.u-pg-mr-10 {
  margin-right: 80px; }

.u-pg-mb-10 {
  margin-bottom: 80px; }

.u-pg-ml-10 {
  margin-left: 80px; }

.u-pg-my-10 {
  margin-top: 80px;
  margin-bottom: 80px; }

.u-pg-mx-10 {
  margin-left: 80px;
  margin-right: 80px; }

.u-pg-m-11 {
  margin: 88px; }

.u-pg-mt-11 {
  margin-top: 88px; }

.u-pg-mr-11 {
  margin-right: 88px; }

.u-pg-mb-11 {
  margin-bottom: 88px; }

.u-pg-ml-11 {
  margin-left: 88px; }

.u-pg-my-11 {
  margin-top: 88px;
  margin-bottom: 88px; }

.u-pg-mx-11 {
  margin-left: 88px;
  margin-right: 88px; }

.u-pg-m-12 {
  margin: 96px; }

.u-pg-mt-12 {
  margin-top: 96px; }

.u-pg-mr-12 {
  margin-right: 96px; }

.u-pg-mb-12 {
  margin-bottom: 96px; }

.u-pg-ml-12 {
  margin-left: 96px; }

.u-pg-my-12 {
  margin-top: 96px;
  margin-bottom: 96px; }

.u-pg-mx-12 {
  margin-left: 96px;
  margin-right: 96px; }

.u-pg-m-13 {
  margin: 104px; }

.u-pg-mt-13 {
  margin-top: 104px; }

.u-pg-mr-13 {
  margin-right: 104px; }

.u-pg-mb-13 {
  margin-bottom: 104px; }

.u-pg-ml-13 {
  margin-left: 104px; }

.u-pg-my-13 {
  margin-top: 104px;
  margin-bottom: 104px; }

.u-pg-mx-13 {
  margin-left: 104px;
  margin-right: 104px; }

.u-pg-m-14 {
  margin: 112px; }

.u-pg-mt-14 {
  margin-top: 112px; }

.u-pg-mr-14 {
  margin-right: 112px; }

.u-pg-mb-14 {
  margin-bottom: 112px; }

.u-pg-ml-14 {
  margin-left: 112px; }

.u-pg-my-14 {
  margin-top: 112px;
  margin-bottom: 112px; }

.u-pg-mx-14 {
  margin-left: 112px;
  margin-right: 112px; }

.u-pg-m-15 {
  margin: 120px; }

.u-pg-mt-15 {
  margin-top: 120px; }

.u-pg-mr-15 {
  margin-right: 120px; }

.u-pg-mb-15 {
  margin-bottom: 120px; }

.u-pg-ml-15 {
  margin-left: 120px; }

.u-pg-my-15 {
  margin-top: 120px;
  margin-bottom: 120px; }

.u-pg-mx-15 {
  margin-left: 120px;
  margin-right: 120px; }

.u-pg-m-16 {
  margin: 128px; }

.u-pg-mt-16 {
  margin-top: 128px; }

.u-pg-mr-16 {
  margin-right: 128px; }

.u-pg-mb-16 {
  margin-bottom: 128px; }

.u-pg-ml-16 {
  margin-left: 128px; }

.u-pg-my-16 {
  margin-top: 128px;
  margin-bottom: 128px; }

.u-pg-mx-16 {
  margin-left: 128px;
  margin-right: 128px; }

.u-pg-m-17 {
  margin: 136px; }

.u-pg-mt-17 {
  margin-top: 136px; }

.u-pg-mr-17 {
  margin-right: 136px; }

.u-pg-mb-17 {
  margin-bottom: 136px; }

.u-pg-ml-17 {
  margin-left: 136px; }

.u-pg-my-17 {
  margin-top: 136px;
  margin-bottom: 136px; }

.u-pg-mx-17 {
  margin-left: 136px;
  margin-right: 136px; }

.u-pg-m-18 {
  margin: 144px; }

.u-pg-mt-18 {
  margin-top: 144px; }

.u-pg-mr-18 {
  margin-right: 144px; }

.u-pg-mb-18 {
  margin-bottom: 144px; }

.u-pg-ml-18 {
  margin-left: 144px; }

.u-pg-my-18 {
  margin-top: 144px;
  margin-bottom: 144px; }

.u-pg-mx-18 {
  margin-left: 144px;
  margin-right: 144px; }

.u-pg-m-19 {
  margin: 152px; }

.u-pg-mt-19 {
  margin-top: 152px; }

.u-pg-mr-19 {
  margin-right: 152px; }

.u-pg-mb-19 {
  margin-bottom: 152px; }

.u-pg-ml-19 {
  margin-left: 152px; }

.u-pg-my-19 {
  margin-top: 152px;
  margin-bottom: 152px; }

.u-pg-mx-19 {
  margin-left: 152px;
  margin-right: 152px; }

.u-pg-m-20 {
  margin: 160px; }

.u-pg-mt-20 {
  margin-top: 160px; }

.u-pg-mr-20 {
  margin-right: 160px; }

.u-pg-mb-20 {
  margin-bottom: 160px; }

.u-pg-ml-20 {
  margin-left: 160px; }

.u-pg-my-20 {
  margin-top: 160px;
  margin-bottom: 160px; }

.u-pg-mx-20 {
  margin-left: 160px;
  margin-right: 160px; }

.u-pg-m-21 {
  margin: 168px; }

.u-pg-mt-21 {
  margin-top: 168px; }

.u-pg-mr-21 {
  margin-right: 168px; }

.u-pg-mb-21 {
  margin-bottom: 168px; }

.u-pg-ml-21 {
  margin-left: 168px; }

.u-pg-my-21 {
  margin-top: 168px;
  margin-bottom: 168px; }

.u-pg-mx-21 {
  margin-left: 168px;
  margin-right: 168px; }

.u-pg-m-22 {
  margin: 176px; }

.u-pg-mt-22 {
  margin-top: 176px; }

.u-pg-mr-22 {
  margin-right: 176px; }

.u-pg-mb-22 {
  margin-bottom: 176px; }

.u-pg-ml-22 {
  margin-left: 176px; }

.u-pg-my-22 {
  margin-top: 176px;
  margin-bottom: 176px; }

.u-pg-mx-22 {
  margin-left: 176px;
  margin-right: 176px; }

.u-pg-m-23 {
  margin: 184px; }

.u-pg-mt-23 {
  margin-top: 184px; }

.u-pg-mr-23 {
  margin-right: 184px; }

.u-pg-mb-23 {
  margin-bottom: 184px; }

.u-pg-ml-23 {
  margin-left: 184px; }

.u-pg-my-23 {
  margin-top: 184px;
  margin-bottom: 184px; }

.u-pg-mx-23 {
  margin-left: 184px;
  margin-right: 184px; }

.u-pg-m-24 {
  margin: 192px; }

.u-pg-mt-24 {
  margin-top: 192px; }

.u-pg-mr-24 {
  margin-right: 192px; }

.u-pg-mb-24 {
  margin-bottom: 192px; }

.u-pg-ml-24 {
  margin-left: 192px; }

.u-pg-my-24 {
  margin-top: 192px;
  margin-bottom: 192px; }

.u-pg-mx-24 {
  margin-left: 192px;
  margin-right: 192px; }

.u-pg-m-25 {
  margin: 200px; }

.u-pg-mt-25 {
  margin-top: 200px; }

.u-pg-mr-25 {
  margin-right: 200px; }

.u-pg-mb-25 {
  margin-bottom: 200px; }

.u-pg-ml-25 {
  margin-left: 200px; }

.u-pg-my-25 {
  margin-top: 200px;
  margin-bottom: 200px; }

.u-pg-mx-25 {
  margin-left: 200px;
  margin-right: 200px; }

.u-pg-m-26 {
  margin: 208px; }

.u-pg-mt-26 {
  margin-top: 208px; }

.u-pg-mr-26 {
  margin-right: 208px; }

.u-pg-mb-26 {
  margin-bottom: 208px; }

.u-pg-ml-26 {
  margin-left: 208px; }

.u-pg-my-26 {
  margin-top: 208px;
  margin-bottom: 208px; }

.u-pg-mx-26 {
  margin-left: 208px;
  margin-right: 208px; }

.u-pg-m-27 {
  margin: 216px; }

.u-pg-mt-27 {
  margin-top: 216px; }

.u-pg-mr-27 {
  margin-right: 216px; }

.u-pg-mb-27 {
  margin-bottom: 216px; }

.u-pg-ml-27 {
  margin-left: 216px; }

.u-pg-my-27 {
  margin-top: 216px;
  margin-bottom: 216px; }

.u-pg-mx-27 {
  margin-left: 216px;
  margin-right: 216px; }

.u-pg-m-28 {
  margin: 224px; }

.u-pg-mt-28 {
  margin-top: 224px; }

.u-pg-mr-28 {
  margin-right: 224px; }

.u-pg-mb-28 {
  margin-bottom: 224px; }

.u-pg-ml-28 {
  margin-left: 224px; }

.u-pg-my-28 {
  margin-top: 224px;
  margin-bottom: 224px; }

.u-pg-mx-28 {
  margin-left: 224px;
  margin-right: 224px; }

.u-pg-m-29 {
  margin: 232px; }

.u-pg-mt-29 {
  margin-top: 232px; }

.u-pg-mr-29 {
  margin-right: 232px; }

.u-pg-mb-29 {
  margin-bottom: 232px; }

.u-pg-ml-29 {
  margin-left: 232px; }

.u-pg-my-29 {
  margin-top: 232px;
  margin-bottom: 232px; }

.u-pg-mx-29 {
  margin-left: 232px;
  margin-right: 232px; }

.u-pg-m-30 {
  margin: 240px; }

.u-pg-mt-30 {
  margin-top: 240px; }

.u-pg-mr-30 {
  margin-right: 240px; }

.u-pg-mb-30 {
  margin-bottom: 240px; }

.u-pg-ml-30 {
  margin-left: 240px; }

.u-pg-my-30 {
  margin-top: 240px;
  margin-bottom: 240px; }

.u-pg-mx-30 {
  margin-left: 240px;
  margin-right: 240px; }

.u-pg-m-31 {
  margin: 248px; }

.u-pg-mt-31 {
  margin-top: 248px; }

.u-pg-mr-31 {
  margin-right: 248px; }

.u-pg-mb-31 {
  margin-bottom: 248px; }

.u-pg-ml-31 {
  margin-left: 248px; }

.u-pg-my-31 {
  margin-top: 248px;
  margin-bottom: 248px; }

.u-pg-mx-31 {
  margin-left: 248px;
  margin-right: 248px; }

.u-pg-m-32 {
  margin: 256px; }

.u-pg-mt-32 {
  margin-top: 256px; }

.u-pg-mr-32 {
  margin-right: 256px; }

.u-pg-mb-32 {
  margin-bottom: 256px; }

.u-pg-ml-32 {
  margin-left: 256px; }

.u-pg-my-32 {
  margin-top: 256px;
  margin-bottom: 256px; }

.u-pg-mx-32 {
  margin-left: 256px;
  margin-right: 256px; }

.u-pg-m-33 {
  margin: 264px; }

.u-pg-mt-33 {
  margin-top: 264px; }

.u-pg-mr-33 {
  margin-right: 264px; }

.u-pg-mb-33 {
  margin-bottom: 264px; }

.u-pg-ml-33 {
  margin-left: 264px; }

.u-pg-my-33 {
  margin-top: 264px;
  margin-bottom: 264px; }

.u-pg-mx-33 {
  margin-left: 264px;
  margin-right: 264px; }

.u-pg-m-34 {
  margin: 272px; }

.u-pg-mt-34 {
  margin-top: 272px; }

.u-pg-mr-34 {
  margin-right: 272px; }

.u-pg-mb-34 {
  margin-bottom: 272px; }

.u-pg-ml-34 {
  margin-left: 272px; }

.u-pg-my-34 {
  margin-top: 272px;
  margin-bottom: 272px; }

.u-pg-mx-34 {
  margin-left: 272px;
  margin-right: 272px; }

.u-pg-m-35 {
  margin: 280px; }

.u-pg-mt-35 {
  margin-top: 280px; }

.u-pg-mr-35 {
  margin-right: 280px; }

.u-pg-mb-35 {
  margin-bottom: 280px; }

.u-pg-ml-35 {
  margin-left: 280px; }

.u-pg-my-35 {
  margin-top: 280px;
  margin-bottom: 280px; }

.u-pg-mx-35 {
  margin-left: 280px;
  margin-right: 280px; }

.u-pg-m-36 {
  margin: 288px; }

.u-pg-mt-36 {
  margin-top: 288px; }

.u-pg-mr-36 {
  margin-right: 288px; }

.u-pg-mb-36 {
  margin-bottom: 288px; }

.u-pg-ml-36 {
  margin-left: 288px; }

.u-pg-my-36 {
  margin-top: 288px;
  margin-bottom: 288px; }

.u-pg-mx-36 {
  margin-left: 288px;
  margin-right: 288px; }

.u-pg-m-37 {
  margin: 296px; }

.u-pg-mt-37 {
  margin-top: 296px; }

.u-pg-mr-37 {
  margin-right: 296px; }

.u-pg-mb-37 {
  margin-bottom: 296px; }

.u-pg-ml-37 {
  margin-left: 296px; }

.u-pg-my-37 {
  margin-top: 296px;
  margin-bottom: 296px; }

.u-pg-mx-37 {
  margin-left: 296px;
  margin-right: 296px; }

.u-pg-m-38 {
  margin: 304px; }

.u-pg-mt-38 {
  margin-top: 304px; }

.u-pg-mr-38 {
  margin-right: 304px; }

.u-pg-mb-38 {
  margin-bottom: 304px; }

.u-pg-ml-38 {
  margin-left: 304px; }

.u-pg-my-38 {
  margin-top: 304px;
  margin-bottom: 304px; }

.u-pg-mx-38 {
  margin-left: 304px;
  margin-right: 304px; }

.u-pg-m-39 {
  margin: 312px; }

.u-pg-mt-39 {
  margin-top: 312px; }

.u-pg-mr-39 {
  margin-right: 312px; }

.u-pg-mb-39 {
  margin-bottom: 312px; }

.u-pg-ml-39 {
  margin-left: 312px; }

.u-pg-my-39 {
  margin-top: 312px;
  margin-bottom: 312px; }

.u-pg-mx-39 {
  margin-left: 312px;
  margin-right: 312px; }

.u-pg-m-40 {
  margin: 320px; }

.u-pg-mt-40 {
  margin-top: 320px; }

.u-pg-mr-40 {
  margin-right: 320px; }

.u-pg-mb-40 {
  margin-bottom: 320px; }

.u-pg-ml-40 {
  margin-left: 320px; }

.u-pg-my-40 {
  margin-top: 320px;
  margin-bottom: 320px; }

.u-pg-mx-40 {
  margin-left: 320px;
  margin-right: 320px; }

.u-pg-m-41 {
  margin: 328px; }

.u-pg-mt-41 {
  margin-top: 328px; }

.u-pg-mr-41 {
  margin-right: 328px; }

.u-pg-mb-41 {
  margin-bottom: 328px; }

.u-pg-ml-41 {
  margin-left: 328px; }

.u-pg-my-41 {
  margin-top: 328px;
  margin-bottom: 328px; }

.u-pg-mx-41 {
  margin-left: 328px;
  margin-right: 328px; }

.u-pg-m-42 {
  margin: 336px; }

.u-pg-mt-42 {
  margin-top: 336px; }

.u-pg-mr-42 {
  margin-right: 336px; }

.u-pg-mb-42 {
  margin-bottom: 336px; }

.u-pg-ml-42 {
  margin-left: 336px; }

.u-pg-my-42 {
  margin-top: 336px;
  margin-bottom: 336px; }

.u-pg-mx-42 {
  margin-left: 336px;
  margin-right: 336px; }

.u-pg-m-43 {
  margin: 344px; }

.u-pg-mt-43 {
  margin-top: 344px; }

.u-pg-mr-43 {
  margin-right: 344px; }

.u-pg-mb-43 {
  margin-bottom: 344px; }

.u-pg-ml-43 {
  margin-left: 344px; }

.u-pg-my-43 {
  margin-top: 344px;
  margin-bottom: 344px; }

.u-pg-mx-43 {
  margin-left: 344px;
  margin-right: 344px; }

.u-pg-m-44 {
  margin: 352px; }

.u-pg-mt-44 {
  margin-top: 352px; }

.u-pg-mr-44 {
  margin-right: 352px; }

.u-pg-mb-44 {
  margin-bottom: 352px; }

.u-pg-ml-44 {
  margin-left: 352px; }

.u-pg-my-44 {
  margin-top: 352px;
  margin-bottom: 352px; }

.u-pg-mx-44 {
  margin-left: 352px;
  margin-right: 352px; }

.u-pg-m-45 {
  margin: 360px; }

.u-pg-mt-45 {
  margin-top: 360px; }

.u-pg-mr-45 {
  margin-right: 360px; }

.u-pg-mb-45 {
  margin-bottom: 360px; }

.u-pg-ml-45 {
  margin-left: 360px; }

.u-pg-my-45 {
  margin-top: 360px;
  margin-bottom: 360px; }

.u-pg-mx-45 {
  margin-left: 360px;
  margin-right: 360px; }

.u-pg-m-46 {
  margin: 368px; }

.u-pg-mt-46 {
  margin-top: 368px; }

.u-pg-mr-46 {
  margin-right: 368px; }

.u-pg-mb-46 {
  margin-bottom: 368px; }

.u-pg-ml-46 {
  margin-left: 368px; }

.u-pg-my-46 {
  margin-top: 368px;
  margin-bottom: 368px; }

.u-pg-mx-46 {
  margin-left: 368px;
  margin-right: 368px; }

.u-pg-m-47 {
  margin: 376px; }

.u-pg-mt-47 {
  margin-top: 376px; }

.u-pg-mr-47 {
  margin-right: 376px; }

.u-pg-mb-47 {
  margin-bottom: 376px; }

.u-pg-ml-47 {
  margin-left: 376px; }

.u-pg-my-47 {
  margin-top: 376px;
  margin-bottom: 376px; }

.u-pg-mx-47 {
  margin-left: 376px;
  margin-right: 376px; }

.u-pg-m-48 {
  margin: 384px; }

.u-pg-mt-48 {
  margin-top: 384px; }

.u-pg-mr-48 {
  margin-right: 384px; }

.u-pg-mb-48 {
  margin-bottom: 384px; }

.u-pg-ml-48 {
  margin-left: 384px; }

.u-pg-my-48 {
  margin-top: 384px;
  margin-bottom: 384px; }

.u-pg-mx-48 {
  margin-left: 384px;
  margin-right: 384px; }

.u-pg-m-49 {
  margin: 392px; }

.u-pg-mt-49 {
  margin-top: 392px; }

.u-pg-mr-49 {
  margin-right: 392px; }

.u-pg-mb-49 {
  margin-bottom: 392px; }

.u-pg-ml-49 {
  margin-left: 392px; }

.u-pg-my-49 {
  margin-top: 392px;
  margin-bottom: 392px; }

.u-pg-mx-49 {
  margin-left: 392px;
  margin-right: 392px; }

.u-pg-m-50 {
  margin: 400px; }

.u-pg-mt-50 {
  margin-top: 400px; }

.u-pg-mr-50 {
  margin-right: 400px; }

.u-pg-mb-50 {
  margin-bottom: 400px; }

.u-pg-ml-50 {
  margin-left: 400px; }

.u-pg-my-50 {
  margin-top: 400px;
  margin-bottom: 400px; }

.u-pg-mx-50 {
  margin-left: 400px;
  margin-right: 400px; }

.u-pg-m-51 {
  margin: 408px; }

.u-pg-mt-51 {
  margin-top: 408px; }

.u-pg-mr-51 {
  margin-right: 408px; }

.u-pg-mb-51 {
  margin-bottom: 408px; }

.u-pg-ml-51 {
  margin-left: 408px; }

.u-pg-my-51 {
  margin-top: 408px;
  margin-bottom: 408px; }

.u-pg-mx-51 {
  margin-left: 408px;
  margin-right: 408px; }

.u-pg-m-52 {
  margin: 416px; }

.u-pg-mt-52 {
  margin-top: 416px; }

.u-pg-mr-52 {
  margin-right: 416px; }

.u-pg-mb-52 {
  margin-bottom: 416px; }

.u-pg-ml-52 {
  margin-left: 416px; }

.u-pg-my-52 {
  margin-top: 416px;
  margin-bottom: 416px; }

.u-pg-mx-52 {
  margin-left: 416px;
  margin-right: 416px; }

.u-pg-m-53 {
  margin: 424px; }

.u-pg-mt-53 {
  margin-top: 424px; }

.u-pg-mr-53 {
  margin-right: 424px; }

.u-pg-mb-53 {
  margin-bottom: 424px; }

.u-pg-ml-53 {
  margin-left: 424px; }

.u-pg-my-53 {
  margin-top: 424px;
  margin-bottom: 424px; }

.u-pg-mx-53 {
  margin-left: 424px;
  margin-right: 424px; }

.u-pg-m-54 {
  margin: 432px; }

.u-pg-mt-54 {
  margin-top: 432px; }

.u-pg-mr-54 {
  margin-right: 432px; }

.u-pg-mb-54 {
  margin-bottom: 432px; }

.u-pg-ml-54 {
  margin-left: 432px; }

.u-pg-my-54 {
  margin-top: 432px;
  margin-bottom: 432px; }

.u-pg-mx-54 {
  margin-left: 432px;
  margin-right: 432px; }

.u-pg-m-55 {
  margin: 440px; }

.u-pg-mt-55 {
  margin-top: 440px; }

.u-pg-mr-55 {
  margin-right: 440px; }

.u-pg-mb-55 {
  margin-bottom: 440px; }

.u-pg-ml-55 {
  margin-left: 440px; }

.u-pg-my-55 {
  margin-top: 440px;
  margin-bottom: 440px; }

.u-pg-mx-55 {
  margin-left: 440px;
  margin-right: 440px; }

.u-pg-m-56 {
  margin: 448px; }

.u-pg-mt-56 {
  margin-top: 448px; }

.u-pg-mr-56 {
  margin-right: 448px; }

.u-pg-mb-56 {
  margin-bottom: 448px; }

.u-pg-ml-56 {
  margin-left: 448px; }

.u-pg-my-56 {
  margin-top: 448px;
  margin-bottom: 448px; }

.u-pg-mx-56 {
  margin-left: 448px;
  margin-right: 448px; }

.u-pg-m-57 {
  margin: 456px; }

.u-pg-mt-57 {
  margin-top: 456px; }

.u-pg-mr-57 {
  margin-right: 456px; }

.u-pg-mb-57 {
  margin-bottom: 456px; }

.u-pg-ml-57 {
  margin-left: 456px; }

.u-pg-my-57 {
  margin-top: 456px;
  margin-bottom: 456px; }

.u-pg-mx-57 {
  margin-left: 456px;
  margin-right: 456px; }

.u-pg-m-58 {
  margin: 464px; }

.u-pg-mt-58 {
  margin-top: 464px; }

.u-pg-mr-58 {
  margin-right: 464px; }

.u-pg-mb-58 {
  margin-bottom: 464px; }

.u-pg-ml-58 {
  margin-left: 464px; }

.u-pg-my-58 {
  margin-top: 464px;
  margin-bottom: 464px; }

.u-pg-mx-58 {
  margin-left: 464px;
  margin-right: 464px; }

.u-pg-m-59 {
  margin: 472px; }

.u-pg-mt-59 {
  margin-top: 472px; }

.u-pg-mr-59 {
  margin-right: 472px; }

.u-pg-mb-59 {
  margin-bottom: 472px; }

.u-pg-ml-59 {
  margin-left: 472px; }

.u-pg-my-59 {
  margin-top: 472px;
  margin-bottom: 472px; }

.u-pg-mx-59 {
  margin-left: 472px;
  margin-right: 472px; }

.u-pg-m-60 {
  margin: 480px; }

.u-pg-mt-60 {
  margin-top: 480px; }

.u-pg-mr-60 {
  margin-right: 480px; }

.u-pg-mb-60 {
  margin-bottom: 480px; }

.u-pg-ml-60 {
  margin-left: 480px; }

.u-pg-my-60 {
  margin-top: 480px;
  margin-bottom: 480px; }

.u-pg-mx-60 {
  margin-left: 480px;
  margin-right: 480px; }

.u-pg-p-0 {
  padding: 0px; }

.u-pg-pt-0 {
  padding-top: 0px; }

.u-pg-pr-0 {
  padding-right: 0px; }

.u-pg-pb-0 {
  padding-bottom: 0px; }

.u-pg-pl-0 {
  padding-left: 0px; }

.u-pg-py-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.u-pg-px-0 {
  padding-left: 0px;
  padding-right: 0px; }

.u-pg-p-1 {
  padding: 8px; }

.u-pg-pt-1 {
  padding-top: 8px; }

.u-pg-pr-1 {
  padding-right: 8px; }

.u-pg-pb-1 {
  padding-bottom: 8px; }

.u-pg-pl-1 {
  padding-left: 8px; }

.u-pg-py-1 {
  padding-top: 8px;
  padding-bottom: 8px; }

.u-pg-px-1 {
  padding-left: 8px;
  padding-right: 8px; }

.u-pg-p-2 {
  padding: 16px; }

.u-pg-pt-2 {
  padding-top: 16px; }

.u-pg-pr-2 {
  padding-right: 16px; }

.u-pg-pb-2 {
  padding-bottom: 16px; }

.u-pg-pl-2 {
  padding-left: 16px; }

.u-pg-py-2 {
  padding-top: 16px;
  padding-bottom: 16px; }

.u-pg-px-2 {
  padding-left: 16px;
  padding-right: 16px; }

.u-pg-p-3 {
  padding: 24px; }

.u-pg-pt-3 {
  padding-top: 24px; }

.u-pg-pr-3 {
  padding-right: 24px; }

.u-pg-pb-3 {
  padding-bottom: 24px; }

.u-pg-pl-3 {
  padding-left: 24px; }

.u-pg-py-3 {
  padding-top: 24px;
  padding-bottom: 24px; }

.u-pg-px-3 {
  padding-left: 24px;
  padding-right: 24px; }

.u-pg-p-4 {
  padding: 32px; }

.u-pg-pt-4 {
  padding-top: 32px; }

.u-pg-pr-4 {
  padding-right: 32px; }

.u-pg-pb-4 {
  padding-bottom: 32px; }

.u-pg-pl-4 {
  padding-left: 32px; }

.u-pg-py-4 {
  padding-top: 32px;
  padding-bottom: 32px; }

.u-pg-px-4 {
  padding-left: 32px;
  padding-right: 32px; }

.u-pg-p-5 {
  padding: 40px; }

.u-pg-pt-5 {
  padding-top: 40px; }

.u-pg-pr-5 {
  padding-right: 40px; }

.u-pg-pb-5 {
  padding-bottom: 40px; }

.u-pg-pl-5 {
  padding-left: 40px; }

.u-pg-py-5 {
  padding-top: 40px;
  padding-bottom: 40px; }

.u-pg-px-5 {
  padding-left: 40px;
  padding-right: 40px; }

.u-pg-p-6 {
  padding: 48px; }

.u-pg-pt-6 {
  padding-top: 48px; }

.u-pg-pr-6 {
  padding-right: 48px; }

.u-pg-pb-6 {
  padding-bottom: 48px; }

.u-pg-pl-6 {
  padding-left: 48px; }

.u-pg-py-6 {
  padding-top: 48px;
  padding-bottom: 48px; }

.u-pg-px-6 {
  padding-left: 48px;
  padding-right: 48px; }

.u-pg-p-7 {
  padding: 56px; }

.u-pg-pt-7 {
  padding-top: 56px; }

.u-pg-pr-7 {
  padding-right: 56px; }

.u-pg-pb-7 {
  padding-bottom: 56px; }

.u-pg-pl-7 {
  padding-left: 56px; }

.u-pg-py-7 {
  padding-top: 56px;
  padding-bottom: 56px; }

.u-pg-px-7 {
  padding-left: 56px;
  padding-right: 56px; }

.u-pg-p-8 {
  padding: 64px; }

.u-pg-pt-8 {
  padding-top: 64px; }

.u-pg-pr-8 {
  padding-right: 64px; }

.u-pg-pb-8 {
  padding-bottom: 64px; }

.u-pg-pl-8 {
  padding-left: 64px; }

.u-pg-py-8 {
  padding-top: 64px;
  padding-bottom: 64px; }

.u-pg-px-8 {
  padding-left: 64px;
  padding-right: 64px; }

.u-pg-p-9 {
  padding: 72px; }

.u-pg-pt-9 {
  padding-top: 72px; }

.u-pg-pr-9 {
  padding-right: 72px; }

.u-pg-pb-9 {
  padding-bottom: 72px; }

.u-pg-pl-9 {
  padding-left: 72px; }

.u-pg-py-9 {
  padding-top: 72px;
  padding-bottom: 72px; }

.u-pg-px-9 {
  padding-left: 72px;
  padding-right: 72px; }

.u-pg-p-10 {
  padding: 80px; }

.u-pg-pt-10 {
  padding-top: 80px; }

.u-pg-pr-10 {
  padding-right: 80px; }

.u-pg-pb-10 {
  padding-bottom: 80px; }

.u-pg-pl-10 {
  padding-left: 80px; }

.u-pg-py-10 {
  padding-top: 80px;
  padding-bottom: 80px; }

.u-pg-px-10 {
  padding-left: 80px;
  padding-right: 80px; }

.u-pg-p-11 {
  padding: 88px; }

.u-pg-pt-11 {
  padding-top: 88px; }

.u-pg-pr-11 {
  padding-right: 88px; }

.u-pg-pb-11 {
  padding-bottom: 88px; }

.u-pg-pl-11 {
  padding-left: 88px; }

.u-pg-py-11 {
  padding-top: 88px;
  padding-bottom: 88px; }

.u-pg-px-11 {
  padding-left: 88px;
  padding-right: 88px; }

.u-pg-p-12 {
  padding: 96px; }

.u-pg-pt-12 {
  padding-top: 96px; }

.u-pg-pr-12 {
  padding-right: 96px; }

.u-pg-pb-12 {
  padding-bottom: 96px; }

.u-pg-pl-12 {
  padding-left: 96px; }

.u-pg-py-12 {
  padding-top: 96px;
  padding-bottom: 96px; }

.u-pg-px-12 {
  padding-left: 96px;
  padding-right: 96px; }

.u-pg-p-13 {
  padding: 104px; }

.u-pg-pt-13 {
  padding-top: 104px; }

.u-pg-pr-13 {
  padding-right: 104px; }

.u-pg-pb-13 {
  padding-bottom: 104px; }

.u-pg-pl-13 {
  padding-left: 104px; }

.u-pg-py-13 {
  padding-top: 104px;
  padding-bottom: 104px; }

.u-pg-px-13 {
  padding-left: 104px;
  padding-right: 104px; }

.u-pg-p-14 {
  padding: 112px; }

.u-pg-pt-14 {
  padding-top: 112px; }

.u-pg-pr-14 {
  padding-right: 112px; }

.u-pg-pb-14 {
  padding-bottom: 112px; }

.u-pg-pl-14 {
  padding-left: 112px; }

.u-pg-py-14 {
  padding-top: 112px;
  padding-bottom: 112px; }

.u-pg-px-14 {
  padding-left: 112px;
  padding-right: 112px; }

.u-pg-p-15 {
  padding: 120px; }

.u-pg-pt-15 {
  padding-top: 120px; }

.u-pg-pr-15 {
  padding-right: 120px; }

.u-pg-pb-15 {
  padding-bottom: 120px; }

.u-pg-pl-15 {
  padding-left: 120px; }

.u-pg-py-15 {
  padding-top: 120px;
  padding-bottom: 120px; }

.u-pg-px-15 {
  padding-left: 120px;
  padding-right: 120px; }

.u-pg-p-16 {
  padding: 128px; }

.u-pg-pt-16 {
  padding-top: 128px; }

.u-pg-pr-16 {
  padding-right: 128px; }

.u-pg-pb-16 {
  padding-bottom: 128px; }

.u-pg-pl-16 {
  padding-left: 128px; }

.u-pg-py-16 {
  padding-top: 128px;
  padding-bottom: 128px; }

.u-pg-px-16 {
  padding-left: 128px;
  padding-right: 128px; }

.u-pg-p-17 {
  padding: 136px; }

.u-pg-pt-17 {
  padding-top: 136px; }

.u-pg-pr-17 {
  padding-right: 136px; }

.u-pg-pb-17 {
  padding-bottom: 136px; }

.u-pg-pl-17 {
  padding-left: 136px; }

.u-pg-py-17 {
  padding-top: 136px;
  padding-bottom: 136px; }

.u-pg-px-17 {
  padding-left: 136px;
  padding-right: 136px; }

.u-pg-p-18 {
  padding: 144px; }

.u-pg-pt-18 {
  padding-top: 144px; }

.u-pg-pr-18 {
  padding-right: 144px; }

.u-pg-pb-18 {
  padding-bottom: 144px; }

.u-pg-pl-18 {
  padding-left: 144px; }

.u-pg-py-18 {
  padding-top: 144px;
  padding-bottom: 144px; }

.u-pg-px-18 {
  padding-left: 144px;
  padding-right: 144px; }

.u-pg-p-19 {
  padding: 152px; }

.u-pg-pt-19 {
  padding-top: 152px; }

.u-pg-pr-19 {
  padding-right: 152px; }

.u-pg-pb-19 {
  padding-bottom: 152px; }

.u-pg-pl-19 {
  padding-left: 152px; }

.u-pg-py-19 {
  padding-top: 152px;
  padding-bottom: 152px; }

.u-pg-px-19 {
  padding-left: 152px;
  padding-right: 152px; }

.u-pg-p-20 {
  padding: 160px; }

.u-pg-pt-20 {
  padding-top: 160px; }

.u-pg-pr-20 {
  padding-right: 160px; }

.u-pg-pb-20 {
  padding-bottom: 160px; }

.u-pg-pl-20 {
  padding-left: 160px; }

.u-pg-py-20 {
  padding-top: 160px;
  padding-bottom: 160px; }

.u-pg-px-20 {
  padding-left: 160px;
  padding-right: 160px; }

.u-pg-p-21 {
  padding: 168px; }

.u-pg-pt-21 {
  padding-top: 168px; }

.u-pg-pr-21 {
  padding-right: 168px; }

.u-pg-pb-21 {
  padding-bottom: 168px; }

.u-pg-pl-21 {
  padding-left: 168px; }

.u-pg-py-21 {
  padding-top: 168px;
  padding-bottom: 168px; }

.u-pg-px-21 {
  padding-left: 168px;
  padding-right: 168px; }

.u-pg-p-22 {
  padding: 176px; }

.u-pg-pt-22 {
  padding-top: 176px; }

.u-pg-pr-22 {
  padding-right: 176px; }

.u-pg-pb-22 {
  padding-bottom: 176px; }

.u-pg-pl-22 {
  padding-left: 176px; }

.u-pg-py-22 {
  padding-top: 176px;
  padding-bottom: 176px; }

.u-pg-px-22 {
  padding-left: 176px;
  padding-right: 176px; }

.u-pg-p-23 {
  padding: 184px; }

.u-pg-pt-23 {
  padding-top: 184px; }

.u-pg-pr-23 {
  padding-right: 184px; }

.u-pg-pb-23 {
  padding-bottom: 184px; }

.u-pg-pl-23 {
  padding-left: 184px; }

.u-pg-py-23 {
  padding-top: 184px;
  padding-bottom: 184px; }

.u-pg-px-23 {
  padding-left: 184px;
  padding-right: 184px; }

.u-pg-p-24 {
  padding: 192px; }

.u-pg-pt-24 {
  padding-top: 192px; }

.u-pg-pr-24 {
  padding-right: 192px; }

.u-pg-pb-24 {
  padding-bottom: 192px; }

.u-pg-pl-24 {
  padding-left: 192px; }

.u-pg-py-24 {
  padding-top: 192px;
  padding-bottom: 192px; }

.u-pg-px-24 {
  padding-left: 192px;
  padding-right: 192px; }

.u-pg-p-25 {
  padding: 200px; }

.u-pg-pt-25 {
  padding-top: 200px; }

.u-pg-pr-25 {
  padding-right: 200px; }

.u-pg-pb-25 {
  padding-bottom: 200px; }

.u-pg-pl-25 {
  padding-left: 200px; }

.u-pg-py-25 {
  padding-top: 200px;
  padding-bottom: 200px; }

.u-pg-px-25 {
  padding-left: 200px;
  padding-right: 200px; }

.u-pg-p-26 {
  padding: 208px; }

.u-pg-pt-26 {
  padding-top: 208px; }

.u-pg-pr-26 {
  padding-right: 208px; }

.u-pg-pb-26 {
  padding-bottom: 208px; }

.u-pg-pl-26 {
  padding-left: 208px; }

.u-pg-py-26 {
  padding-top: 208px;
  padding-bottom: 208px; }

.u-pg-px-26 {
  padding-left: 208px;
  padding-right: 208px; }

.u-pg-p-27 {
  padding: 216px; }

.u-pg-pt-27 {
  padding-top: 216px; }

.u-pg-pr-27 {
  padding-right: 216px; }

.u-pg-pb-27 {
  padding-bottom: 216px; }

.u-pg-pl-27 {
  padding-left: 216px; }

.u-pg-py-27 {
  padding-top: 216px;
  padding-bottom: 216px; }

.u-pg-px-27 {
  padding-left: 216px;
  padding-right: 216px; }

.u-pg-p-28 {
  padding: 224px; }

.u-pg-pt-28 {
  padding-top: 224px; }

.u-pg-pr-28 {
  padding-right: 224px; }

.u-pg-pb-28 {
  padding-bottom: 224px; }

.u-pg-pl-28 {
  padding-left: 224px; }

.u-pg-py-28 {
  padding-top: 224px;
  padding-bottom: 224px; }

.u-pg-px-28 {
  padding-left: 224px;
  padding-right: 224px; }

.u-pg-p-29 {
  padding: 232px; }

.u-pg-pt-29 {
  padding-top: 232px; }

.u-pg-pr-29 {
  padding-right: 232px; }

.u-pg-pb-29 {
  padding-bottom: 232px; }

.u-pg-pl-29 {
  padding-left: 232px; }

.u-pg-py-29 {
  padding-top: 232px;
  padding-bottom: 232px; }

.u-pg-px-29 {
  padding-left: 232px;
  padding-right: 232px; }

.u-pg-p-30 {
  padding: 240px; }

.u-pg-pt-30 {
  padding-top: 240px; }

.u-pg-pr-30 {
  padding-right: 240px; }

.u-pg-pb-30 {
  padding-bottom: 240px; }

.u-pg-pl-30 {
  padding-left: 240px; }

.u-pg-py-30 {
  padding-top: 240px;
  padding-bottom: 240px; }

.u-pg-px-30 {
  padding-left: 240px;
  padding-right: 240px; }

.u-pg-p-31 {
  padding: 248px; }

.u-pg-pt-31 {
  padding-top: 248px; }

.u-pg-pr-31 {
  padding-right: 248px; }

.u-pg-pb-31 {
  padding-bottom: 248px; }

.u-pg-pl-31 {
  padding-left: 248px; }

.u-pg-py-31 {
  padding-top: 248px;
  padding-bottom: 248px; }

.u-pg-px-31 {
  padding-left: 248px;
  padding-right: 248px; }

.u-pg-p-32 {
  padding: 256px; }

.u-pg-pt-32 {
  padding-top: 256px; }

.u-pg-pr-32 {
  padding-right: 256px; }

.u-pg-pb-32 {
  padding-bottom: 256px; }

.u-pg-pl-32 {
  padding-left: 256px; }

.u-pg-py-32 {
  padding-top: 256px;
  padding-bottom: 256px; }

.u-pg-px-32 {
  padding-left: 256px;
  padding-right: 256px; }

.u-pg-p-33 {
  padding: 264px; }

.u-pg-pt-33 {
  padding-top: 264px; }

.u-pg-pr-33 {
  padding-right: 264px; }

.u-pg-pb-33 {
  padding-bottom: 264px; }

.u-pg-pl-33 {
  padding-left: 264px; }

.u-pg-py-33 {
  padding-top: 264px;
  padding-bottom: 264px; }

.u-pg-px-33 {
  padding-left: 264px;
  padding-right: 264px; }

.u-pg-p-34 {
  padding: 272px; }

.u-pg-pt-34 {
  padding-top: 272px; }

.u-pg-pr-34 {
  padding-right: 272px; }

.u-pg-pb-34 {
  padding-bottom: 272px; }

.u-pg-pl-34 {
  padding-left: 272px; }

.u-pg-py-34 {
  padding-top: 272px;
  padding-bottom: 272px; }

.u-pg-px-34 {
  padding-left: 272px;
  padding-right: 272px; }

.u-pg-p-35 {
  padding: 280px; }

.u-pg-pt-35 {
  padding-top: 280px; }

.u-pg-pr-35 {
  padding-right: 280px; }

.u-pg-pb-35 {
  padding-bottom: 280px; }

.u-pg-pl-35 {
  padding-left: 280px; }

.u-pg-py-35 {
  padding-top: 280px;
  padding-bottom: 280px; }

.u-pg-px-35 {
  padding-left: 280px;
  padding-right: 280px; }

.u-pg-p-36 {
  padding: 288px; }

.u-pg-pt-36 {
  padding-top: 288px; }

.u-pg-pr-36 {
  padding-right: 288px; }

.u-pg-pb-36 {
  padding-bottom: 288px; }

.u-pg-pl-36 {
  padding-left: 288px; }

.u-pg-py-36 {
  padding-top: 288px;
  padding-bottom: 288px; }

.u-pg-px-36 {
  padding-left: 288px;
  padding-right: 288px; }

.u-pg-p-37 {
  padding: 296px; }

.u-pg-pt-37 {
  padding-top: 296px; }

.u-pg-pr-37 {
  padding-right: 296px; }

.u-pg-pb-37 {
  padding-bottom: 296px; }

.u-pg-pl-37 {
  padding-left: 296px; }

.u-pg-py-37 {
  padding-top: 296px;
  padding-bottom: 296px; }

.u-pg-px-37 {
  padding-left: 296px;
  padding-right: 296px; }

.u-pg-p-38 {
  padding: 304px; }

.u-pg-pt-38 {
  padding-top: 304px; }

.u-pg-pr-38 {
  padding-right: 304px; }

.u-pg-pb-38 {
  padding-bottom: 304px; }

.u-pg-pl-38 {
  padding-left: 304px; }

.u-pg-py-38 {
  padding-top: 304px;
  padding-bottom: 304px; }

.u-pg-px-38 {
  padding-left: 304px;
  padding-right: 304px; }

.u-pg-p-39 {
  padding: 312px; }

.u-pg-pt-39 {
  padding-top: 312px; }

.u-pg-pr-39 {
  padding-right: 312px; }

.u-pg-pb-39 {
  padding-bottom: 312px; }

.u-pg-pl-39 {
  padding-left: 312px; }

.u-pg-py-39 {
  padding-top: 312px;
  padding-bottom: 312px; }

.u-pg-px-39 {
  padding-left: 312px;
  padding-right: 312px; }

.u-pg-p-40 {
  padding: 320px; }

.u-pg-pt-40 {
  padding-top: 320px; }

.u-pg-pr-40 {
  padding-right: 320px; }

.u-pg-pb-40 {
  padding-bottom: 320px; }

.u-pg-pl-40 {
  padding-left: 320px; }

.u-pg-py-40 {
  padding-top: 320px;
  padding-bottom: 320px; }

.u-pg-px-40 {
  padding-left: 320px;
  padding-right: 320px; }

.u-pg-p-41 {
  padding: 328px; }

.u-pg-pt-41 {
  padding-top: 328px; }

.u-pg-pr-41 {
  padding-right: 328px; }

.u-pg-pb-41 {
  padding-bottom: 328px; }

.u-pg-pl-41 {
  padding-left: 328px; }

.u-pg-py-41 {
  padding-top: 328px;
  padding-bottom: 328px; }

.u-pg-px-41 {
  padding-left: 328px;
  padding-right: 328px; }

.u-pg-p-42 {
  padding: 336px; }

.u-pg-pt-42 {
  padding-top: 336px; }

.u-pg-pr-42 {
  padding-right: 336px; }

.u-pg-pb-42 {
  padding-bottom: 336px; }

.u-pg-pl-42 {
  padding-left: 336px; }

.u-pg-py-42 {
  padding-top: 336px;
  padding-bottom: 336px; }

.u-pg-px-42 {
  padding-left: 336px;
  padding-right: 336px; }

.u-pg-p-43 {
  padding: 344px; }

.u-pg-pt-43 {
  padding-top: 344px; }

.u-pg-pr-43 {
  padding-right: 344px; }

.u-pg-pb-43 {
  padding-bottom: 344px; }

.u-pg-pl-43 {
  padding-left: 344px; }

.u-pg-py-43 {
  padding-top: 344px;
  padding-bottom: 344px; }

.u-pg-px-43 {
  padding-left: 344px;
  padding-right: 344px; }

.u-pg-p-44 {
  padding: 352px; }

.u-pg-pt-44 {
  padding-top: 352px; }

.u-pg-pr-44 {
  padding-right: 352px; }

.u-pg-pb-44 {
  padding-bottom: 352px; }

.u-pg-pl-44 {
  padding-left: 352px; }

.u-pg-py-44 {
  padding-top: 352px;
  padding-bottom: 352px; }

.u-pg-px-44 {
  padding-left: 352px;
  padding-right: 352px; }

.u-pg-p-45 {
  padding: 360px; }

.u-pg-pt-45 {
  padding-top: 360px; }

.u-pg-pr-45 {
  padding-right: 360px; }

.u-pg-pb-45 {
  padding-bottom: 360px; }

.u-pg-pl-45 {
  padding-left: 360px; }

.u-pg-py-45 {
  padding-top: 360px;
  padding-bottom: 360px; }

.u-pg-px-45 {
  padding-left: 360px;
  padding-right: 360px; }

.u-pg-p-46 {
  padding: 368px; }

.u-pg-pt-46 {
  padding-top: 368px; }

.u-pg-pr-46 {
  padding-right: 368px; }

.u-pg-pb-46 {
  padding-bottom: 368px; }

.u-pg-pl-46 {
  padding-left: 368px; }

.u-pg-py-46 {
  padding-top: 368px;
  padding-bottom: 368px; }

.u-pg-px-46 {
  padding-left: 368px;
  padding-right: 368px; }

.u-pg-p-47 {
  padding: 376px; }

.u-pg-pt-47 {
  padding-top: 376px; }

.u-pg-pr-47 {
  padding-right: 376px; }

.u-pg-pb-47 {
  padding-bottom: 376px; }

.u-pg-pl-47 {
  padding-left: 376px; }

.u-pg-py-47 {
  padding-top: 376px;
  padding-bottom: 376px; }

.u-pg-px-47 {
  padding-left: 376px;
  padding-right: 376px; }

.u-pg-p-48 {
  padding: 384px; }

.u-pg-pt-48 {
  padding-top: 384px; }

.u-pg-pr-48 {
  padding-right: 384px; }

.u-pg-pb-48 {
  padding-bottom: 384px; }

.u-pg-pl-48 {
  padding-left: 384px; }

.u-pg-py-48 {
  padding-top: 384px;
  padding-bottom: 384px; }

.u-pg-px-48 {
  padding-left: 384px;
  padding-right: 384px; }

.u-pg-p-49 {
  padding: 392px; }

.u-pg-pt-49 {
  padding-top: 392px; }

.u-pg-pr-49 {
  padding-right: 392px; }

.u-pg-pb-49 {
  padding-bottom: 392px; }

.u-pg-pl-49 {
  padding-left: 392px; }

.u-pg-py-49 {
  padding-top: 392px;
  padding-bottom: 392px; }

.u-pg-px-49 {
  padding-left: 392px;
  padding-right: 392px; }

.u-pg-p-50 {
  padding: 400px; }

.u-pg-pt-50 {
  padding-top: 400px; }

.u-pg-pr-50 {
  padding-right: 400px; }

.u-pg-pb-50 {
  padding-bottom: 400px; }

.u-pg-pl-50 {
  padding-left: 400px; }

.u-pg-py-50 {
  padding-top: 400px;
  padding-bottom: 400px; }

.u-pg-px-50 {
  padding-left: 400px;
  padding-right: 400px; }

.u-pg-p-51 {
  padding: 408px; }

.u-pg-pt-51 {
  padding-top: 408px; }

.u-pg-pr-51 {
  padding-right: 408px; }

.u-pg-pb-51 {
  padding-bottom: 408px; }

.u-pg-pl-51 {
  padding-left: 408px; }

.u-pg-py-51 {
  padding-top: 408px;
  padding-bottom: 408px; }

.u-pg-px-51 {
  padding-left: 408px;
  padding-right: 408px; }

.u-pg-p-52 {
  padding: 416px; }

.u-pg-pt-52 {
  padding-top: 416px; }

.u-pg-pr-52 {
  padding-right: 416px; }

.u-pg-pb-52 {
  padding-bottom: 416px; }

.u-pg-pl-52 {
  padding-left: 416px; }

.u-pg-py-52 {
  padding-top: 416px;
  padding-bottom: 416px; }

.u-pg-px-52 {
  padding-left: 416px;
  padding-right: 416px; }

.u-pg-p-53 {
  padding: 424px; }

.u-pg-pt-53 {
  padding-top: 424px; }

.u-pg-pr-53 {
  padding-right: 424px; }

.u-pg-pb-53 {
  padding-bottom: 424px; }

.u-pg-pl-53 {
  padding-left: 424px; }

.u-pg-py-53 {
  padding-top: 424px;
  padding-bottom: 424px; }

.u-pg-px-53 {
  padding-left: 424px;
  padding-right: 424px; }

.u-pg-p-54 {
  padding: 432px; }

.u-pg-pt-54 {
  padding-top: 432px; }

.u-pg-pr-54 {
  padding-right: 432px; }

.u-pg-pb-54 {
  padding-bottom: 432px; }

.u-pg-pl-54 {
  padding-left: 432px; }

.u-pg-py-54 {
  padding-top: 432px;
  padding-bottom: 432px; }

.u-pg-px-54 {
  padding-left: 432px;
  padding-right: 432px; }

.u-pg-p-55 {
  padding: 440px; }

.u-pg-pt-55 {
  padding-top: 440px; }

.u-pg-pr-55 {
  padding-right: 440px; }

.u-pg-pb-55 {
  padding-bottom: 440px; }

.u-pg-pl-55 {
  padding-left: 440px; }

.u-pg-py-55 {
  padding-top: 440px;
  padding-bottom: 440px; }

.u-pg-px-55 {
  padding-left: 440px;
  padding-right: 440px; }

.u-pg-p-56 {
  padding: 448px; }

.u-pg-pt-56 {
  padding-top: 448px; }

.u-pg-pr-56 {
  padding-right: 448px; }

.u-pg-pb-56 {
  padding-bottom: 448px; }

.u-pg-pl-56 {
  padding-left: 448px; }

.u-pg-py-56 {
  padding-top: 448px;
  padding-bottom: 448px; }

.u-pg-px-56 {
  padding-left: 448px;
  padding-right: 448px; }

.u-pg-p-57 {
  padding: 456px; }

.u-pg-pt-57 {
  padding-top: 456px; }

.u-pg-pr-57 {
  padding-right: 456px; }

.u-pg-pb-57 {
  padding-bottom: 456px; }

.u-pg-pl-57 {
  padding-left: 456px; }

.u-pg-py-57 {
  padding-top: 456px;
  padding-bottom: 456px; }

.u-pg-px-57 {
  padding-left: 456px;
  padding-right: 456px; }

.u-pg-p-58 {
  padding: 464px; }

.u-pg-pt-58 {
  padding-top: 464px; }

.u-pg-pr-58 {
  padding-right: 464px; }

.u-pg-pb-58 {
  padding-bottom: 464px; }

.u-pg-pl-58 {
  padding-left: 464px; }

.u-pg-py-58 {
  padding-top: 464px;
  padding-bottom: 464px; }

.u-pg-px-58 {
  padding-left: 464px;
  padding-right: 464px; }

.u-pg-p-59 {
  padding: 472px; }

.u-pg-pt-59 {
  padding-top: 472px; }

.u-pg-pr-59 {
  padding-right: 472px; }

.u-pg-pb-59 {
  padding-bottom: 472px; }

.u-pg-pl-59 {
  padding-left: 472px; }

.u-pg-py-59 {
  padding-top: 472px;
  padding-bottom: 472px; }

.u-pg-px-59 {
  padding-left: 472px;
  padding-right: 472px; }

.u-pg-p-60 {
  padding: 480px; }

.u-pg-pt-60 {
  padding-top: 480px; }

.u-pg-pr-60 {
  padding-right: 480px; }

.u-pg-pb-60 {
  padding-bottom: 480px; }

.u-pg-pl-60 {
  padding-left: 480px; }

.u-pg-py-60 {
  padding-top: 480px;
  padding-bottom: 480px; }

.u-pg-px-60 {
  padding-left: 480px;
  padding-right: 480px; }

.u-pg-w-1 {
  width: 8px; }

.u-pg-h-1 {
  height: 8px; }

.u-pg-s-1 {
  height: 8px;
  width: 8px; }

.u-pg-g-1 {
  gap: 8px; }

.u-pg-w-2 {
  width: 16px; }

.u-pg-h-2 {
  height: 16px; }

.u-pg-s-2 {
  height: 16px;
  width: 16px; }

.u-pg-g-2 {
  gap: 16px; }

.u-pg-w-3 {
  width: 24px; }

.u-pg-h-3 {
  height: 24px; }

.u-pg-s-3 {
  height: 24px;
  width: 24px; }

.u-pg-g-3 {
  gap: 24px; }

.u-pg-w-4 {
  width: 32px; }

.u-pg-h-4 {
  height: 32px; }

.u-pg-s-4 {
  height: 32px;
  width: 32px; }

.u-pg-g-4 {
  gap: 32px; }

.u-pg-w-5 {
  width: 40px; }

.u-pg-h-5 {
  height: 40px; }

.u-pg-s-5 {
  height: 40px;
  width: 40px; }

.u-pg-g-5 {
  gap: 40px; }

.u-pg-w-6 {
  width: 48px; }

.u-pg-h-6 {
  height: 48px; }

.u-pg-s-6 {
  height: 48px;
  width: 48px; }

.u-pg-g-6 {
  gap: 48px; }

.u-pg-w-7 {
  width: 56px; }

.u-pg-h-7 {
  height: 56px; }

.u-pg-s-7 {
  height: 56px;
  width: 56px; }

.u-pg-g-7 {
  gap: 56px; }

.u-pg-w-8 {
  width: 64px; }

.u-pg-h-8 {
  height: 64px; }

.u-pg-s-8 {
  height: 64px;
  width: 64px; }

.u-pg-g-8 {
  gap: 64px; }

.u-pg-w-9 {
  width: 72px; }

.u-pg-h-9 {
  height: 72px; }

.u-pg-s-9 {
  height: 72px;
  width: 72px; }

.u-pg-g-9 {
  gap: 72px; }

.u-pg-w-10 {
  width: 80px; }

.u-pg-h-10 {
  height: 80px; }

.u-pg-s-10 {
  height: 80px;
  width: 80px; }

.u-pg-g-10 {
  gap: 80px; }

.u-pg-w-11 {
  width: 88px; }

.u-pg-h-11 {
  height: 88px; }

.u-pg-s-11 {
  height: 88px;
  width: 88px; }

.u-pg-g-11 {
  gap: 88px; }

.u-pg-w-12 {
  width: 96px; }

.u-pg-h-12 {
  height: 96px; }

.u-pg-s-12 {
  height: 96px;
  width: 96px; }

.u-pg-g-12 {
  gap: 96px; }

.u-pg-w-13 {
  width: 104px; }

.u-pg-h-13 {
  height: 104px; }

.u-pg-s-13 {
  height: 104px;
  width: 104px; }

.u-pg-g-13 {
  gap: 104px; }

.u-pg-w-14 {
  width: 112px; }

.u-pg-h-14 {
  height: 112px; }

.u-pg-s-14 {
  height: 112px;
  width: 112px; }

.u-pg-g-14 {
  gap: 112px; }

.u-pg-w-15 {
  width: 120px; }

.u-pg-h-15 {
  height: 120px; }

.u-pg-s-15 {
  height: 120px;
  width: 120px; }

.u-pg-g-15 {
  gap: 120px; }

.u-pg-w-16 {
  width: 128px; }

.u-pg-h-16 {
  height: 128px; }

.u-pg-s-16 {
  height: 128px;
  width: 128px; }

.u-pg-g-16 {
  gap: 128px; }

.u-pg-w-17 {
  width: 136px; }

.u-pg-h-17 {
  height: 136px; }

.u-pg-s-17 {
  height: 136px;
  width: 136px; }

.u-pg-g-17 {
  gap: 136px; }

.u-pg-w-18 {
  width: 144px; }

.u-pg-h-18 {
  height: 144px; }

.u-pg-s-18 {
  height: 144px;
  width: 144px; }

.u-pg-g-18 {
  gap: 144px; }

.u-pg-w-19 {
  width: 152px; }

.u-pg-h-19 {
  height: 152px; }

.u-pg-s-19 {
  height: 152px;
  width: 152px; }

.u-pg-g-19 {
  gap: 152px; }

.u-pg-w-20 {
  width: 160px; }

.u-pg-h-20 {
  height: 160px; }

.u-pg-s-20 {
  height: 160px;
  width: 160px; }

.u-pg-g-20 {
  gap: 160px; }

.u-pg-w-21 {
  width: 168px; }

.u-pg-h-21 {
  height: 168px; }

.u-pg-s-21 {
  height: 168px;
  width: 168px; }

.u-pg-g-21 {
  gap: 168px; }

.u-pg-w-22 {
  width: 176px; }

.u-pg-h-22 {
  height: 176px; }

.u-pg-s-22 {
  height: 176px;
  width: 176px; }

.u-pg-g-22 {
  gap: 176px; }

.u-pg-w-23 {
  width: 184px; }

.u-pg-h-23 {
  height: 184px; }

.u-pg-s-23 {
  height: 184px;
  width: 184px; }

.u-pg-g-23 {
  gap: 184px; }

.u-pg-w-24 {
  width: 192px; }

.u-pg-h-24 {
  height: 192px; }

.u-pg-s-24 {
  height: 192px;
  width: 192px; }

.u-pg-g-24 {
  gap: 192px; }

.u-pg-w-25 {
  width: 200px; }

.u-pg-h-25 {
  height: 200px; }

.u-pg-s-25 {
  height: 200px;
  width: 200px; }

.u-pg-g-25 {
  gap: 200px; }

.u-pg-w-26 {
  width: 208px; }

.u-pg-h-26 {
  height: 208px; }

.u-pg-s-26 {
  height: 208px;
  width: 208px; }

.u-pg-g-26 {
  gap: 208px; }

.u-pg-w-27 {
  width: 216px; }

.u-pg-h-27 {
  height: 216px; }

.u-pg-s-27 {
  height: 216px;
  width: 216px; }

.u-pg-g-27 {
  gap: 216px; }

.u-pg-w-28 {
  width: 224px; }

.u-pg-h-28 {
  height: 224px; }

.u-pg-s-28 {
  height: 224px;
  width: 224px; }

.u-pg-g-28 {
  gap: 224px; }

.u-pg-w-29 {
  width: 232px; }

.u-pg-h-29 {
  height: 232px; }

.u-pg-s-29 {
  height: 232px;
  width: 232px; }

.u-pg-g-29 {
  gap: 232px; }

.u-pg-w-30 {
  width: 240px; }

.u-pg-h-30 {
  height: 240px; }

.u-pg-s-30 {
  height: 240px;
  width: 240px; }

.u-pg-g-30 {
  gap: 240px; }

.u-pg-w-31 {
  width: 248px; }

.u-pg-h-31 {
  height: 248px; }

.u-pg-s-31 {
  height: 248px;
  width: 248px; }

.u-pg-g-31 {
  gap: 248px; }

.u-pg-w-32 {
  width: 256px; }

.u-pg-h-32 {
  height: 256px; }

.u-pg-s-32 {
  height: 256px;
  width: 256px; }

.u-pg-g-32 {
  gap: 256px; }

.u-pg-w-33 {
  width: 264px; }

.u-pg-h-33 {
  height: 264px; }

.u-pg-s-33 {
  height: 264px;
  width: 264px; }

.u-pg-g-33 {
  gap: 264px; }

.u-pg-w-34 {
  width: 272px; }

.u-pg-h-34 {
  height: 272px; }

.u-pg-s-34 {
  height: 272px;
  width: 272px; }

.u-pg-g-34 {
  gap: 272px; }

.u-pg-w-35 {
  width: 280px; }

.u-pg-h-35 {
  height: 280px; }

.u-pg-s-35 {
  height: 280px;
  width: 280px; }

.u-pg-g-35 {
  gap: 280px; }

.u-pg-w-36 {
  width: 288px; }

.u-pg-h-36 {
  height: 288px; }

.u-pg-s-36 {
  height: 288px;
  width: 288px; }

.u-pg-g-36 {
  gap: 288px; }

.u-pg-w-37 {
  width: 296px; }

.u-pg-h-37 {
  height: 296px; }

.u-pg-s-37 {
  height: 296px;
  width: 296px; }

.u-pg-g-37 {
  gap: 296px; }

.u-pg-w-38 {
  width: 304px; }

.u-pg-h-38 {
  height: 304px; }

.u-pg-s-38 {
  height: 304px;
  width: 304px; }

.u-pg-g-38 {
  gap: 304px; }

.u-pg-w-39 {
  width: 312px; }

.u-pg-h-39 {
  height: 312px; }

.u-pg-s-39 {
  height: 312px;
  width: 312px; }

.u-pg-g-39 {
  gap: 312px; }

.u-pg-w-40 {
  width: 320px; }

.u-pg-h-40 {
  height: 320px; }

.u-pg-s-40 {
  height: 320px;
  width: 320px; }

.u-pg-g-40 {
  gap: 320px; }

.u-pg-w-41 {
  width: 328px; }

.u-pg-h-41 {
  height: 328px; }

.u-pg-s-41 {
  height: 328px;
  width: 328px; }

.u-pg-g-41 {
  gap: 328px; }

.u-pg-w-42 {
  width: 336px; }

.u-pg-h-42 {
  height: 336px; }

.u-pg-s-42 {
  height: 336px;
  width: 336px; }

.u-pg-g-42 {
  gap: 336px; }

.u-pg-w-43 {
  width: 344px; }

.u-pg-h-43 {
  height: 344px; }

.u-pg-s-43 {
  height: 344px;
  width: 344px; }

.u-pg-g-43 {
  gap: 344px; }

.u-pg-w-44 {
  width: 352px; }

.u-pg-h-44 {
  height: 352px; }

.u-pg-s-44 {
  height: 352px;
  width: 352px; }

.u-pg-g-44 {
  gap: 352px; }

.u-pg-w-45 {
  width: 360px; }

.u-pg-h-45 {
  height: 360px; }

.u-pg-s-45 {
  height: 360px;
  width: 360px; }

.u-pg-g-45 {
  gap: 360px; }

.u-pg-w-46 {
  width: 368px; }

.u-pg-h-46 {
  height: 368px; }

.u-pg-s-46 {
  height: 368px;
  width: 368px; }

.u-pg-g-46 {
  gap: 368px; }

.u-pg-w-47 {
  width: 376px; }

.u-pg-h-47 {
  height: 376px; }

.u-pg-s-47 {
  height: 376px;
  width: 376px; }

.u-pg-g-47 {
  gap: 376px; }

.u-pg-w-48 {
  width: 384px; }

.u-pg-h-48 {
  height: 384px; }

.u-pg-s-48 {
  height: 384px;
  width: 384px; }

.u-pg-g-48 {
  gap: 384px; }

.u-pg-w-49 {
  width: 392px; }

.u-pg-h-49 {
  height: 392px; }

.u-pg-s-49 {
  height: 392px;
  width: 392px; }

.u-pg-g-49 {
  gap: 392px; }

.u-pg-w-50 {
  width: 400px; }

.u-pg-h-50 {
  height: 400px; }

.u-pg-s-50 {
  height: 400px;
  width: 400px; }

.u-pg-g-50 {
  gap: 400px; }

.u-pg-w-51 {
  width: 408px; }

.u-pg-h-51 {
  height: 408px; }

.u-pg-s-51 {
  height: 408px;
  width: 408px; }

.u-pg-g-51 {
  gap: 408px; }

.u-pg-w-52 {
  width: 416px; }

.u-pg-h-52 {
  height: 416px; }

.u-pg-s-52 {
  height: 416px;
  width: 416px; }

.u-pg-g-52 {
  gap: 416px; }

.u-pg-w-53 {
  width: 424px; }

.u-pg-h-53 {
  height: 424px; }

.u-pg-s-53 {
  height: 424px;
  width: 424px; }

.u-pg-g-53 {
  gap: 424px; }

.u-pg-w-54 {
  width: 432px; }

.u-pg-h-54 {
  height: 432px; }

.u-pg-s-54 {
  height: 432px;
  width: 432px; }

.u-pg-g-54 {
  gap: 432px; }

.u-pg-w-55 {
  width: 440px; }

.u-pg-h-55 {
  height: 440px; }

.u-pg-s-55 {
  height: 440px;
  width: 440px; }

.u-pg-g-55 {
  gap: 440px; }

.u-pg-w-56 {
  width: 448px; }

.u-pg-h-56 {
  height: 448px; }

.u-pg-s-56 {
  height: 448px;
  width: 448px; }

.u-pg-g-56 {
  gap: 448px; }

.u-pg-w-57 {
  width: 456px; }

.u-pg-h-57 {
  height: 456px; }

.u-pg-s-57 {
  height: 456px;
  width: 456px; }

.u-pg-g-57 {
  gap: 456px; }

.u-pg-w-58 {
  width: 464px; }

.u-pg-h-58 {
  height: 464px; }

.u-pg-s-58 {
  height: 464px;
  width: 464px; }

.u-pg-g-58 {
  gap: 464px; }

.u-pg-w-59 {
  width: 472px; }

.u-pg-h-59 {
  height: 472px; }

.u-pg-s-59 {
  height: 472px;
  width: 472px; }

.u-pg-g-59 {
  gap: 472px; }

.u-pg-w-60 {
  width: 480px; }

.u-pg-h-60 {
  height: 480px; }

.u-pg-s-60 {
  height: 480px;
  width: 480px; }

.u-pg-g-60 {
  gap: 480px; }

.u-pg-w-pr-1 {
  width: 1%; }

.u-pg-w-pr-2 {
  width: 2%; }

.u-pg-w-pr-3 {
  width: 3%; }

.u-pg-w-pr-4 {
  width: 4%; }

.u-pg-w-pr-5 {
  width: 5%; }

.u-pg-w-pr-6 {
  width: 6%; }

.u-pg-w-pr-7 {
  width: 7%; }

.u-pg-w-pr-8 {
  width: 8%; }

.u-pg-w-pr-9 {
  width: 9%; }

.u-pg-w-pr-10 {
  width: 10%; }

.u-pg-w-pr-11 {
  width: 11%; }

.u-pg-w-pr-12 {
  width: 12%; }

.u-pg-w-pr-13 {
  width: 13%; }

.u-pg-w-pr-14 {
  width: 14%; }

.u-pg-w-pr-15 {
  width: 15%; }

.u-pg-w-pr-16 {
  width: 16%; }

.u-pg-w-pr-17 {
  width: 17%; }

.u-pg-w-pr-18 {
  width: 18%; }

.u-pg-w-pr-19 {
  width: 19%; }

.u-pg-w-pr-20 {
  width: 20%; }

.u-pg-w-pr-21 {
  width: 21%; }

.u-pg-w-pr-22 {
  width: 22%; }

.u-pg-w-pr-23 {
  width: 23%; }

.u-pg-w-pr-24 {
  width: 24%; }

.u-pg-w-pr-25 {
  width: 25%; }

.u-pg-w-pr-26 {
  width: 26%; }

.u-pg-w-pr-27 {
  width: 27%; }

.u-pg-w-pr-28 {
  width: 28%; }

.u-pg-w-pr-29 {
  width: 29%; }

.u-pg-w-pr-30 {
  width: 30%; }

.u-pg-w-pr-31 {
  width: 31%; }

.u-pg-w-pr-32 {
  width: 32%; }

.u-pg-w-pr-33 {
  width: 33%; }

.u-pg-w-pr-34 {
  width: 34%; }

.u-pg-w-pr-35 {
  width: 35%; }

.u-pg-w-pr-36 {
  width: 36%; }

.u-pg-w-pr-37 {
  width: 37%; }

.u-pg-w-pr-38 {
  width: 38%; }

.u-pg-w-pr-39 {
  width: 39%; }

.u-pg-w-pr-40 {
  width: 40%; }

.u-pg-w-pr-41 {
  width: 41%; }

.u-pg-w-pr-42 {
  width: 42%; }

.u-pg-w-pr-43 {
  width: 43%; }

.u-pg-w-pr-44 {
  width: 44%; }

.u-pg-w-pr-45 {
  width: 45%; }

.u-pg-w-pr-46 {
  width: 46%; }

.u-pg-w-pr-47 {
  width: 47%; }

.u-pg-w-pr-48 {
  width: 48%; }

.u-pg-w-pr-49 {
  width: 49%; }

.u-pg-w-pr-50 {
  width: 50%; }

.u-pg-w-pr-51 {
  width: 51%; }

.u-pg-w-pr-52 {
  width: 52%; }

.u-pg-w-pr-53 {
  width: 53%; }

.u-pg-w-pr-54 {
  width: 54%; }

.u-pg-w-pr-55 {
  width: 55%; }

.u-pg-w-pr-56 {
  width: 56%; }

.u-pg-w-pr-57 {
  width: 57%; }

.u-pg-w-pr-58 {
  width: 58%; }

.u-pg-w-pr-59 {
  width: 59%; }

.u-pg-w-pr-60 {
  width: 60%; }

.u-pg-w-pr-61 {
  width: 61%; }

.u-pg-w-pr-62 {
  width: 62%; }

.u-pg-w-pr-63 {
  width: 63%; }

.u-pg-w-pr-64 {
  width: 64%; }

.u-pg-w-pr-65 {
  width: 65%; }

.u-pg-w-pr-66 {
  width: 66%; }

.u-pg-w-pr-67 {
  width: 67%; }

.u-pg-w-pr-68 {
  width: 68%; }

.u-pg-w-pr-69 {
  width: 69%; }

.u-pg-w-pr-70 {
  width: 70%; }

.u-pg-w-pr-71 {
  width: 71%; }

.u-pg-w-pr-72 {
  width: 72%; }

.u-pg-w-pr-73 {
  width: 73%; }

.u-pg-w-pr-74 {
  width: 74%; }

.u-pg-w-pr-75 {
  width: 75%; }

.u-pg-w-pr-76 {
  width: 76%; }

.u-pg-w-pr-77 {
  width: 77%; }

.u-pg-w-pr-78 {
  width: 78%; }

.u-pg-w-pr-79 {
  width: 79%; }

.u-pg-w-pr-80 {
  width: 80%; }

.u-pg-w-pr-81 {
  width: 81%; }

.u-pg-w-pr-82 {
  width: 82%; }

.u-pg-w-pr-83 {
  width: 83%; }

.u-pg-w-pr-84 {
  width: 84%; }

.u-pg-w-pr-85 {
  width: 85%; }

.u-pg-w-pr-86 {
  width: 86%; }

.u-pg-w-pr-87 {
  width: 87%; }

.u-pg-w-pr-88 {
  width: 88%; }

.u-pg-w-pr-89 {
  width: 89%; }

.u-pg-w-pr-90 {
  width: 90%; }

.u-pg-w-pr-91 {
  width: 91%; }

.u-pg-w-pr-92 {
  width: 92%; }

.u-pg-w-pr-93 {
  width: 93%; }

.u-pg-w-pr-94 {
  width: 94%; }

.u-pg-w-pr-95 {
  width: 95%; }

.u-pg-w-pr-96 {
  width: 96%; }

.u-pg-w-pr-97 {
  width: 97%; }

.u-pg-w-pr-98 {
  width: 98%; }

.u-pg-w-pr-99 {
  width: 99%; }

.u-pg-w-pr-100 {
  width: 100%; }
