@import "../../../scss/variables/typography";
@import "../../../scss/variables/colors";

.cmp-checkbox {
    display: flex;
    position: relative;
    padding-left: 24px;
    color: $colors-neutral-black;
    font-family: $montserrat-regular;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkmark {
            background-color: $colors-v2-base-primary;

            i {
                display: block;
            }
        }

        &:disabled~.checkmark {
            opacity: 0.5;
        }
    }

    .checkmark {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $colors-neutral-dark;
        border-radius: 4px;

        i {
            font-size: 10px;
            color: $colors-neutral-white;
            display: none;
        }
    }
}
