
<div>
    <div class="checkbox-selectall" *ngIf="selectAllOption">
        <label class="checkbox-container" #checkboxContainer>
          <input 
            class="checkbox_select_all" 
            type="checkbox" 
            #checkboxSelectAll
            [checked] = "selectedRowCount > 0"
            (change)="onSelectAllChange($event)"/>
          <span class="checkmark"></span>
        </label>
    </div>
    <ag-grid-angular
        class="ag-theme-material ag-grid-custom"
        [style.height.px]="gridHeight"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>
