@import "../../../../../src/styles/typography";
@import "../../../../../src/styles/colors";
@import '../../../scss/utilities/colors';
@import '../../../scss/utilities/base';

.checkbox-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    width: 16px;
}

.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    height: 16px;
    width: 16px;
    background-color: $colors-neutral-white;
    border: 1px solid $colors-v2-base-primary;
    top: 24px;
    z-index: 9999;
    margin-left: 11px;
    border-radius: 4px;
}

.checkbox-container input[type="checkbox"]:checked+.checkmark {
    background-color: $colors-v2-base-primary;
    border-color: $colors-v2-base-primary;
}

.checkbox-container input[type="checkbox"]:checked+.checkmark::after {
    content: "";
    position: absolute;
    display: block;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid $colors-neutral-white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

::ng-deep .ag-theme-material {
    .ag-header-cell {
        color: #232323;
        font-size: 16px;
        background-color: white;
        text-transform: none;
        cursor: default;
        font-family: $montserrat-medium;

        &:hover {
            background-color: unset !important;
            border: none !important;
        }
    }

    .ag-header {
        background-color: $ps-washed-gray;
        color: $ps-black;
        text-transform: uppercase;

        .ag-header-viewport {
            .ag-header-container {
                .ag-header-row {
                    display: flex !important;
                }
            }
        }
    }

    .ag-body-container a {
        color: #337ab7 !important;
    }

    .ag-cell {
        -webkit-user-select: text !important;
        -moz-user-select: text !important;
        -ms-user-select: text !important;
        user-select: text !important;
        font-family: $montserrat-regular;

        &:focus {
            border:none !important;
            outline: none;
        }
    }

    .ag-row {
        .ag-cell {
            .status-label {
                color: $colors-neutral-black;
                font-weight: 500;
                display: inline-block;
                width: 123px;
                height: 23px;
                font-size: 10px;
                line-height: 14px;
                padding: 5px 0px;
                text-align: center;
                font-family: $montserrat-regular;
            }
        }
    }

    .ag-row-hover {
        background: $colors-neutral-white;
    }

    .attachments-notes .fas.fa-file,
    .fas.fa-comment {
        color: $colors-base-primary;

        &:hover {
            color: $colors-base-primary-v-high;
        }
    }

    .attachments-notes {
        .note-count {
            background: $colors-base-error;
            height: 12px;
            width: 13%;
            border-radius: 50px;
            position: absolute;

            p {
                color: $colors-neutral-white;
                font-family: $helvetica-medium;
                font-weight: 500;
                font-size: 10px;
                position: absolute;
                top: -8px;
                left: 4px;
            }
        }
    }

    .attachments-notes .far.fa-file,
    .far.fa-comment {
        color: $colors-neutral-dark;

        &:hover {
            color: $colors-neutral-dark-v-high;
        }
    }

    .attachments-notes {
        .note-count {
            background: $colors-base-error;
            height: 12px;
            width: 13%;
            border-radius: 50px;
            position: absolute;

            p {
                color: $colors-neutral-white;
                font-family: $helvetica-medium;
                font-weight: 500;
                font-size: 10px;
                position: absolute;
                top: -8px;
                left: 4px;
            }
        }
    }

    .ag-header {
        color: $colors-neutral-black;
        font-size: 16px;
        background-color: $colors-neutral-white;
        text-transform: none;

        .ag-header-row {
            border-bottom: 1px solid $colors-neutral-light;

            .ag-header-cell.check {
                .ag-header-cell-resize {
                    display: none;
                }
            }

            .ag-header-cell {
                line-height: 41px;
                padding-left: 12px;
                padding-right: 12px;

                .ag-header-cell-resize::after {
                    height: 20px;
                    margin-top: 12px;
                    border-right: none !important;
                }

                .ag-header-cell-label {
                    width: 100%;
                }

                .ag-header-cell-label .ag-header-icon {
                    margin-left: 4px;
                    opacity: unset;
                }
            }
        }
    }

    .ag-row {
        height: 30px !important;
        margin-top: 3px;
        margin-bottom: 3px;
        border: none;

        .ag-cell {
            line-height: 27px;
            white-space: nowrap !important;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 14px;
        }

        .gird-selected-row {
            background: $colors-base-primary-v-low-t-10;
        }
    }

    .ag-row:hover {
        background: $colors-base-primary-v-low-t-05;
    }

    .ag-overlay {
        top: 41px;

        .ag-overlay-wrapper {
            .no-data-message {
                color: #a5a5a5;
                font-size: 14px;
                margin-top: 100px;
                font-family: $helvetica-medium;
                display: flex;
                flex-direction: column;

                i {
                    font-size: 25px;
                }

                span {
                    height: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .ag-body-viewport::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    .ag-body-viewport::-webkit-scrollbar-track {
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: $colors-base-primary-t-10;
    }

    span.ag-header-icon.ag-sort-order {
        display: none;
    }

    .show-attachment-modal {
        margin-left: 12px;
        margin-right: 13px;
        cursor: pointer;
    }

    .note-modal {
        cursor: pointer;
    }

    .note-modal,
    .show-attachment-modal {
        font-size: 12px;
    }

    .tooltip-cell {
        .text-ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .add-tooltip {
                display: none;

                &.w-130 {
                    width: 130px;
                }
            }

            .text-right {
                float: right;
                padding-right: 12px;
            }
        }

        &:hover {
            overflow: visible;

            .tooltip-text {
                color: #232323;
                display: flex;
            }
        }

        .tooltip-text {
            height: auto;
            display: none;
            border-radius: 0px;
            background-color: $colors-neutral-black;
            color: $colors-neutral-white !important;
            font-family: $helvetica-neue;
            font-size: 14px;
            text-align: center;
            margin-top: -6px;
            padding: 6px 4px;
            position: absolute;
            z-index: 1;
            line-height: 14px;
            align-items: center;
            justify-content: center;
            white-space: pre-wrap;
        }
    }

    &:not(.gird-selected-row):hover {
        z-index: 5;
        background: $colors-base-primary-v-low-t-05;
    }

    .ag-cell-focus,
    .ag-cell-no-focus {
        border:none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}