
<div>
    <div class="checkbox-selectall" *ngIf="selectAllOption">
        <label class="checkbox-container" #checkboxContainer>
          <input type="checkbox" #checkboxSelectAll (change)="onSelectAllChange($event)"/>
          <span class="checkmark"></span>
        </label>
    </div>
    <ag-grid-angular
        class="ag-theme-material ag-grid-custom"
        [style.height.px]="gridHeight"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>
