@import '../../../scss/variables/typography';
@import '../../../scss/variables/colors';
@import '../../../scss/utilities/colors';
@import '../../../scss/utilities/base';
@import '../../../scss/mixin/checkbox';


@mixin ag-icon-asc {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJsb25nLWFycm93LWFsdC11cCIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWxvbmctYXJyb3ctYWx0LXVwIGZhLXctOCIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgNTEyIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik04OCAxNjYuMDU5VjQ2OGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDU2YzYuNjI3IDAgMTItNS4zNzMgMTItMTJWMTY2LjA1OWg0Ni4wNTljMjEuMzgyIDAgMzIuMDktMjUuODUxIDE2Ljk3MS00MC45NzFsLTg2LjA1OS04Ni4wNTljLTkuMzczLTkuMzczLTI0LjU2OS05LjM3My0zMy45NDEgMGwtODYuMDU5IDg2LjA1OWMtMTUuMTE5IDE1LjExOS00LjQxMSA0MC45NzEgMTYuOTcxIDQwLjk3MUg4OHoiPjwvcGF0aD48L3N2Zz4=) center no-repeat;
    height: 11px;
    width: 6px;
    display: block !important;
    margin: 2px 0 0 4px;
}

@mixin ag-icon-desc {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJsb25nLWFycm93LWFsdC1kb3duIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtbG9uZy1hcnJvdy1hbHQtZG93biBmYS13LTgiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjU2IDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMTY4IDM0NS45NDFWNDRjMC02LjYyNy01LjM3My0xMi0xMi0xMmgtNTZjLTYuNjI3IDAtMTIgNS4zNzMtMTIgMTJ2MzAxLjk0MUg0MS45NDFjLTIxLjM4MiAwLTMyLjA5IDI1Ljg1MS0xNi45NzEgNDAuOTcxbDg2LjA1OSA4Ni4wNTljOS4zNzMgOS4zNzMgMjQuNTY5IDkuMzczIDMzLjk0MSAwbDg2LjA1OS04Ni4wNTljMTUuMTE5LTE1LjExOSA0LjQxMS00MC45NzEtMTYuOTcxLTQwLjk3MUgxNjh6Ij48L3BhdGg+PC9zdmc+) center no-repeat;
    height: 11px;
    width: 6px;
    display: block !important;
    margin: 2px 0 0 4px;
}

.checkbox-selectall {
    position: relative;
    display: block;
    top: 5px;
    z-index: 1;

    .checkbox-container {
        @include checkbox-container;
        position: absolute;
        top: 8px;
        margin-left: 12px;

        input {
            @include checkbox-container-input;
        }

        input[type="checkbox"]:checked+.checkmark {
            @include checkmark-checked;
        }

        input[type="checkbox"]:checked+.checkmark::after {
            @include check-all-checkmark-after ;
        }

        .checkmark {
            @include checkmark;
        }
    }
}


::ng-deep .ag-theme-material {
    .ag-header-cell {
        color: $colors-neutral-black;
        font-size: 16px;
        background-color: $colors-neutral-white;
        text-transform: none;
        cursor: default;
        font-family: $crimson-pro-medium;
        font-weight: 500;
        line-height: 24px !important;

        &:hover {
            background-color: unset !important;
            border: none !important;
        }

        .ag-icon-asc {
            @include ag-icon-asc;

            &::before {
                content: '' !important;
            }
        }

        .ag-icon-desc {
            @include ag-icon-desc;

            &::before {
                content: '' !important;
            }
        }

        
        &:focus::after {
            border: none !important;
        }

        &.ag-header-cell-moving {
            background: $colors-neutral-white !important;
        }
    }

    .ag-header {
        background-color: $colors-neutral-light;
        color: $colors-neutral-dark;
        text-transform: uppercase;

        .ag-header-viewport {
            .ag-header-container {
                .ag-header-row {
                    display: flex !important;
                }
            }
        }
    }

    .ag-body-container a {
        color: $colors-v2-base-secondary !important;
    }

    .ag-cell {
        -webkit-user-select: text !important;
        -moz-user-select: text !important;
        -ms-user-select: text !important;
        user-select: text !important;
        font-family: $montserrat-regular;
        border:none !important;

        &:focus {
            border:none !important;
            outline: none;
        }
    }

    .ag-row {
        .ag-cell {
            span:has(.status-label),
            span:has(.text-ellipsis) {
                width: 100%;
            }
            .status-label {
                color: $colors-neutral-black;
                font-weight: 500;
                display: block;
                min-width: 120px;
                max-width: fit-content;
                height: 20px;
                font-size: 10px;
                line-height: 14px;
                padding: 3px 16px;
                text-align: center;
                font-family: $montserrat-medium;
            }
            .checkbox-container {
                @include checkbox-container;
    
                position: relative;
                cursor: pointer;
                font-size: 16px;
                line-height: 16px;
                height: 16px;
                top: -7px;
                width: 16px;
    
                input[type="checkbox"] {
                    @include checkbox-container-input;
                }
    
                .checkmark {
                    @include checkmark;
                    top: 10px;
                    z-index: 9999;
                }
    
                input[type="checkbox"]:checked + .checkmark {
                    @include checkmark-checked;
                }
    
                input[type="checkbox"]:checked + .checkmark::after {
                    @include checkmark-after;
                }
            }
        }
    }
    

    .ag-row-hover {
        background: $colors-neutral-white;
    }

    .attachments-notes .fas.fa-file,
    .fas.fa-comment {
        color: $colors-v2-base-primary;

        &:hover {
            color: $colors-v2-base-primary-v-high;
        }
    }

    .attachments-notes {
        .note-count {
            background: $colors-v2-base-error;
            height: 12px;
            width: 13%;
            border-radius: 50px;
            position: absolute;

            p {
                color: $colors-neutral-white;
                font-family: $montserrat-medium;
                font-weight: 500;
                font-size: 10px;
                position: absolute;
                top: -8px;
                left: 4px;
            }
        }
    }

    .attachments-notes .far.fa-file,
    .far.fa-comment {
        color: $colors-neutral-dark;

        &:hover {
            color: $colors-neutral-dark-v-high;
        }
    }

    .attachments-notes {
        .note-count {
            background: $colors-v2-base-error;
            height: 12px;
            width: 13%;
            border-radius: 50px;
            position: absolute;

            p {
                color: $colors-neutral-white;
                font-family: $montserrat-medium;
                font-weight: 500;
                font-size: 10px;
                position: absolute;
                top: -8px;
                left: 4px;
            }
        }
    }

    .ag-header {
        color: $colors-neutral-black;
        font-size: 16px;
        background-color: $colors-neutral-white;
        text-transform: none;

        .ag-header-row {
            border-bottom: 1px solid $colors-neutral-light;

            .ag-header-cell.check {
                .ag-header-cell-resize {
                    display: none;
                }
            }

            .ag-header-cell {
                line-height: 41px;
                padding-left: 12px;
                padding-right: 12px;

                .ag-header-cell-resize::after {
                    height: 20px;
                    margin-top: 12px;
                    border-right: none !important;
                }

                .ag-header-cell-label {
                    width: 100%;
                }

                .ag-header-cell-label .ag-header-icon {
                    margin-left: 4px;
                    opacity: unset;
                }
            }
        }
    }

    .ag-row {
        margin-top: 3px;
        margin-bottom: 3px;
        border: none;
        height: 24px !important;

        .ag-cell {
            display: flex;
            align-items: center;
            line-height: 36px;
            white-space: nowrap !important;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 14px;
            span {
                color: $colors-neutral-black;
                a {
                    color: $colors-neutral-black !important;
                }
            }
        }
    }

    .grid-selected-row {
        background: $colors-v2-base-primary-v-low-t-10;
    }

    .ag-row:hover {
        background: $colors-v2-base-primary-v-low-t-05;
    }

    .ag-overlay {
        top: 41px;

        .ag-overlay-wrapper {
            .no-data-message {
                color: $colors-neutral-light;
                font-size: 14px;
                margin-top: 100px;
                font-family: $montserrat-medium;
                display: flex;
                flex-direction: column;

                i {
                    font-size: 25px;
                }

                span {
                    height: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .ag-body-viewport::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    .ag-body-viewport::-webkit-scrollbar-track {
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    .ag-root ::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
    .ag-root ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: $colors-neutral-light-t-50;
        &:hover {
            background: $colors-neutral-light;
        }
    }​   
    span.ag-header-icon.ag-sort-order {
        display: none;
    }

    .show-attachment-modal {
        margin-left: 12px;
        margin-right: 13px;
        cursor: pointer;
    }

    .note-modal {
        cursor: pointer;
    }

    .note-modal,
    .show-attachment-modal {
        font-size: 14px;
    }

    .tooltip-cell {
        .text-ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .add-tooltip {
                display: none;
                &.w-130 {
                    width: 130px;
                }
            }
            
            i.sync-failed,i.fa-clock {
                padding-left: 4px;
                cursor: pointer;
                .tooltip-content_,.tooltip-content_pending_status {
                    z-index: 9;
                    top: 153%;
                    width: fit-content;
                    margin-left: -74px;
                    transform: translate(0, -37%);
                    color: $colors-neutral-black;
                    background: $colors-neutral-white;
                    font-weight: normal;
                    position: absolute;
                    display: none;
                    border: 1px solid $colors-neutral-light;
                    box-shadow: 0px 4px 8px 0px $colors-neutral-dark-t-15; 
                    border-radius: 8px;
                    padding: 8px;
                    font-family: $montserrat-regular;
                    font-size: 10px;
                    .tooltip-text_ {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .sync-heading {
                            font-family: $montserrat-medium;
                            font-size: 10px;
                            margin-right: 4px;
                        }
                        .fail {
                            color: $colors-neutral-black;
                            font-family: $montserrat-medium;
                            font-size: 10px;
                            line-height: 10px;
                            .fail-msg {
                                color: $colors-v2-base-error;
                                font-family: $montserrat-regular;
                            }
                            &:hover {
                                cursor: default;
                                text-decoration: none;
                            }
                        }
                        .re-sync {
                            height: 100%;
                            font-family: $montserrat-regular;
                            font-size: 10px;
                            line-height: 0;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    i::before {
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        left: 62px;
                        top: 8%;
                        transform: translate(100%, -70%) rotate(-45deg);
                        background-color: $colors-neutral-white;
                        border: 1px solid $colors-neutral-light;
                        border-left: none;
                        border-bottom: none;
                    }
                }
                .tooltip-content_pending_status {
                    margin-left: -49px;
                    i::before {
                        left: 37px;
                    }
                }
            }
            i.fa-clock {
                .tooltip-content_ {
                    top: 152%;
                    margin-left: -58px;
                    transform: translate(0, -37%);
                    i::before {
                        left: 46px;
                        top: 7%;
                    }
                }
            }
            i.sync-failed:hover .tooltip-content_,
            i.fa-clock:hover .tooltip-content_,
            i.sync-failed:hover .tooltip-content_pending_status {
                display: block;
                position: absolute;
                cursor: default;
            }

            .text-right {
                float: right;
                padding-right: 12px;
            }
        }

        &:hover {
            overflow: visible;

            .tooltip-text {
                color: $colors-neutral-black;
                display: flex;
            }
        }

        .tooltip-text {
            height: auto;
            display: none;
            border-radius: 0px;
            background-color: $colors-neutral-black;
            color: $colors-neutral-white !important;
            font-family: $montserrat-regular;
            font-size: 14px;
            text-align: center;
            margin-top: -6px;
            padding: 6px 4px;
            position: absolute;
            z-index: 1;
            line-height: 14px;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            width: max-content;
        }
    }

    &:not(.gird-selected-row):hover {
        z-index: 5;
        font-family: $crimson-pro-bold;
        background-color: $colors-neutral-white;
        color: $colors-neutral-black;
    }

    .ag-cell-focus,
    .ag-cell-no-focus {
        border:none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}

.ag-dnd-dragging {
    background-color: $colors-neutral-black !important;
}