@import "../../scss/variables/typography";
@import "../../scss/variables/colors";

.psi-crud-form {
  margin: 0 16px;
  .lt-c {
    padding-right: 4px;
    padding-left: 0px;
  }
  .rt-c {
    padding-left: 4px;
    padding-right: 0px;
  }   
  .back-color {
    background-color: $colors-neutral-white;
  }
  .field-group {
    margin:16px 0px;
   // margin-bottom: 16px;
    padding: 0 8px 0 8px;
  }
  
  .form-submit-button {
    background-color: $colors-neutral-light-v-low;
    padding: 16px;
    justify-content: right;
  }   
}
.field-group {
  margin-bottom: 16px;
  padding: 0 8px 0 8px;
}

.form-submit-button {
  background-color: white;
  padding: 16px;
  justify-content: center;
}
.error-message {
  margin-top: 4px;
  color: #c50000;
  font-size: 12px;
  background-repeat: no-repeat !important;
  background-size: 12px;
  padding: 0px 20px;
  background-position: left center;
  display: block;
}
