<div class="row psi-crud-form">
    <div class=" col-sm-12 p-0">
        <div class=" col-sm-6 lt-c">
            <app-psi-page-column-header
                [headerTitle]="leftHeaderTitle">
            </app-psi-page-column-header>
        </div>
        <div class=" col-sm-6 rt-c">
            <app-psi-page-column-header
                [headerTitle]="rightHeaderTitle">
            </app-psi-page-column-header>
        </div>
    </div>
    <div class="col-sm-6 back-color p-0">
        <div *ngFor="let field of crudFieldConfig.rightSection">
            <div class="d-flex flex-column w-100 field-group" *ngIf="field.type === 'multiselect-dropdown'">
                <app-cmp-input-dropdown
                    [label]="field.label"
                    [showSelectAll]="false"
                    [showCheckboxes]="false"
                    [allowSingleSelect]="true"
                    [selectedItems]="sellectedData[field.key] || []"
                    [settings]="field.inputSetting"
                    [filteredItems]="field.options"
                    [validationClasses] = "{'ps-required-error': isFieldInvalid(field.name), 'disabled': field.isDisabled}"
                    [disabled]="field.isDisabled"
                    [required]="field.isRequired"
                    (onDropDownChange)="onDropdownStateChange(field.key, $event)">
                </app-cmp-input-dropdown>
                <div *ngIf="isFieldInvalid(field.name)" class="error-message">
                    <span *ngIf="form.get(field.name)?.errors?.required">Required</span>
                </div>
            </div>
            <div class="d-flex flex-column w-100 field-group" *ngIf="field.type === 'text'">
                <app-psi-input-text-field
                [field]="field"
                ></app-psi-input-text-field>
                <div *ngIf="isFieldInvalid(field.name)" class="error-message">
                    <span *ngIf="form.get(field.name)?.errors?.required">Required</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 back-color p-0">
        <div *ngFor="let field of crudFieldConfig.leftSection">
            <div class="d-flex flex-column w-100 field-group" *ngIf="field.type === 'multiselect-dropdown'">
                <app-cmp-input-dropdown
                    [label]="field.label"
                    [showSelectAll]="false"
                    [showCheckboxes]="false"
                    [allowSingleSelect]="true"
                    [selectedItems]="sellectedData[field.key] || []"
                    [settings]="field.inputSetting"
                    [filteredItems]="field.options"
                    [validationClasses] = "{'ps-required-error': isFieldInvalid(field.name), 'disabled': field.isDisabled}"
                    [disabled]="field.isDisabled"
                    [required]="field.isRequired"
                    (onDropDownChange)="onDropdownStateChange(field.key, $event)">
                </app-cmp-input-dropdown>
                <div *ngIf="isFieldInvalid(field.name)" class="error-message">
                    <span *ngIf="form.get(field.name)?.errors?.required">Required</span>
                </div>
            </div>
            <div class="d-flex flex-column w-100 field-group" *ngIf="field.type === 'text'">
                <app-psi-input-text-field
                [field]="field"
                ></app-psi-input-text-field>
                <div *ngIf="isFieldInvalid(field.name)" class="error-message">
                    <span *ngIf="form.get(field.name)?.errors?.required">Required</span>
                </div>
            </div>
        </div>
        <app-psi-page-column-header
            [headerTitle]="rightHeaderBottomTitle">
        </app-psi-page-column-header>
        <div *ngFor="let field of crudFieldConfig.lastSection">
            <div class="d-flex flex-column w-100 field-group" *ngIf="field.type === 'multiselect-dropdown'">
                <app-cmp-input-dropdown
                    [label]="field.label"
                    [showSelectAll]="false"
                    [showCheckboxes]="false"
                    [allowSingleSelect]="true"
                    [selectedItems]="sellectedData[field.key] || []"
                    [settings]="field.inputSetting"
                    [filteredItems]="field.options"
                    [validationClasses] = "{'ps-required-error': isFieldInvalid(field.name), 'disabled': field.isDisabled}"
                    [disabled]="field.isDisabled"
                    [required]="field.isRequired"
                    (onDropDownChange)="onDropdownStateChange(field.key, $event)">
                </app-cmp-input-dropdown>
                <div *ngIf="isFieldInvalid(field.name)" class="error-message">
                    <span *ngIf="form.get(field.name)?.errors?.required">Required</span>
                </div>
            </div>
            <div class="d-flex flex-column w-100 field-group" *ngIf="field.type === 'text'">
                <app-psi-input-text-field
                [field]="field"
                ></app-psi-input-text-field>
                <div *ngIf="isFieldInvalid(field.name)" class="error-message">
                    <span *ngIf="form.get(field.name)?.errors?.required">Required</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 u-flex justify-content-end">
        <div class="u-pg-g-2 form-submit-button" *ngFor="let field of crudFieldConfig.btnLabel">
            <app-cmp-button
              [buttonText]="field.label"
              [buttonClass]="field.class">
            </app-cmp-button>
        </div>
    </div>
</div>
