@import "../../scss/variables/typography";
@import "../../scss/variables/colors";

.psi-crud-form {
    margin: 0 16px;

    .lt-c {
        padding-right: 4px;
        padding-left: 0px;
    }

    .rt-c {
        padding-left: 4px;
        padding-right: 0px;
    }

    .container-body {
        display: flex;

        .left-section {
            flex: 1;
            padding-top: 16px;
            background-color: $colors-neutral-white;
            margin-right: 4px;
            height: fit-content;
            margin-bottom: 40px;
        }

        .right-section {
            flex: 1;
            padding-top: 16px;
            background-color: $colors-neutral-white;
            margin-left: 4px;
            height: fit-content;
            margin-bottom: 40px;
        }

        .section-header {
            background-color: $colors-neutral-light-v-low;
            padding: 0;
        }

        .attachment-label {
            margin-left: 16px;
            font-size: 12px;
            margin-bottom: 0px !important;
            line-height: 6px;
            color: #232323;
            font-weight: 400;
        }
        
        .field-group {
            margin: 0px 0px 16px;
            padding: 0 16px;
        }

        .after-section-margin {
            margin-top: 16px !important;
        }
    }

    .form-submit-button {
        background-color: $colors-neutral-light-v-low;
        padding: 16px;
    }
}
