<div class="row psi-crud-form">
    <div class=" col-sm-12 p-0">
        <div class=" col-sm-6 lt-c">
            <app-psi-page-column-header
                [headerTitle]="leftHeaderTitle">
            </app-psi-page-column-header>
        </div>
        <div class=" col-sm-6 rt-c">
            <app-psi-page-column-header
                [headerTitle]="rightHeaderTitle">
            </app-psi-page-column-header>
        </div>
    </div>
    <div class="col-sm-6 back-color p-0">
        <div *ngFor="let field of crudFieldConfig.productSection">
            <div *ngIf="field.type === 'multiselect-dropdown'"  class="d-flex flex-column w-100 field-group">
                <app-cmp-input-dropdown
                    [label]="field.label"
                    [showSelectAll]="false"
                    [showCheckboxes]="false"
                    [allowSingleSelect]="true"
                    [settings]="field.inputSetting"
                    [filteredItems]="field.options">
                </app-cmp-input-dropdown>
            </div>
            <div *ngIf="field.type === 'text'" class="d-flex flex-column w-100 field-group">
                <app-psi-input-text-field
                [field]="field"
                ></app-psi-input-text-field>
            </div>
        </div>
    </div>
    <div class="col-sm-6 back-color p-0">
        <div *ngFor="let field of crudFieldConfig.dimensionsSection">
            <div *ngIf="field.type === 'multiselect-dropdown'"  class="d-flex flex-column w-100 field-group">
                <app-cmp-input-dropdown
                    [label]="field.label"
                    [settings]="field.inputSetting"
                    [filteredItems]="field.options">
                </app-cmp-input-dropdown>
            </div>
            <div *ngIf="field.type === 'text'" class="d-flex flex-column w-100 field-group">
                <app-psi-input-text-field
                [field]="field"
                ></app-psi-input-text-field>
            </div>
        </div>
        <app-psi-page-column-header
            [headerTitle]="rightHeaderBottomTitle">
        </app-psi-page-column-header>
        <div *ngFor="let field of crudFieldConfig.codeSection">
            <div *ngIf="field.type === 'multiselect-dropdown'"  class="d-flex flex-column w-100 field-group">
                <app-cmp-input-dropdown
                    [label]="field.label"
                    [settings]="field.inputSetting"
                    [filteredItems]="field.options">
                </app-cmp-input-dropdown>
            </div>
            <div *ngIf="field.type === 'text'" class="d-flex flex-column w-100 field-group">
                <app-psi-input-text-field
                [field]="field"
                ></app-psi-input-text-field>
            </div>
        </div>
    </div>
</div>