@import "../../../scss/variables/typography";
@import "../../../scss/variables/colors";

::ng-deep.radio-button-container {
    display: flex !important;
    flex-direction: column !important;

    .radio-button-group {
        padding-left: 8px !important;
    }
}