@import '../../../../styles/colors';
@import '../../../../styles/variables';

.app-cmp-button {
    height: 40px;
    width: auto;
    font-family: $crimson-pro-bold;
    font-size: 16px;
    font-weight: normal;
    border-radius: 8px;
    outline: none;
    padding: 8px 32px;

    &.md {
        height: 32px;
    }

    &.sm {
        height: 24px;
        font-size: 12px;
        border-radius: 4px;
        font-family: $montserrat-regular;
    }

    &.xs {
        height: 16px;
        font-size: 8px;
    }

    &.primary-border {
        border: 1px solid $colors-base-primary;
        background-color: $colors-neutral-white;
        color: $colors-base-primary;

        &:disabled {
            border: 1px solid $colors-base-primary-t-50;
            color: $colors-base-primary-t-50;
        }
    }

    &.primary {
        background: $colors-v2-base-primary;
        color: $colors-neutral-white;

        &:hover {
            background: $colors-v2-base-primary-v-high;
        }

        &:focus {
            outline: 2px solid $colors-base-secondary-v-high;
        }

        &:disabled {
            background: $colors-v2-base-primary;
            color: $colors-neutral-light;
        }
    }

    &.secondary {
        background: $colors-neutral-white;
        border: 1px solid $colors-neutral-light;
        color: $colors-neutral-dark;

        &:hover {
            background: $colors-neutral-light-t-10;
        }

        &:focus {
            outline: 2px solid $colors-base-secondary-v-high;
        }

        &:active {
            box-shadow: none;
        }

        &:disabled {
            color: $colors-neutral-light;
        }

        &.filter-active {
            background-color: $colors-v2-base-primary-v-low-t-05;
        }
    }

    &.active,
    &.active:active,
    &.active:focus {
        background: $colors-base-primary-v-low-t-05;
    }

    &:disabled:active {
        box-shadow: none;
        border: none;
    }

    .icon {
        font-size: 20px;
    }
}

.u-pg-mr-1 {
    margin-right: 8px;
}
