@import "scss/variables/typography";
@import "scss/variables/colors";

.psi-toast {
    height: 48px;
    bottom: 0;
    right: 0;
    z-index: 9999;
    margin: 0 16px 16px 0;
    border-radius: 8px;

    .message {
        flex: 1;
    }

    &.error {
        background: $colors-v2-base-error;
        
        .close-icon {
            color: $colors-neutral-light;
        }
        &:hover {
            background: $colors-v2-base-error-v-high;

            .close-icon {
                color: $colors-neutral-white;
            }
        }
    }

    &.success {
        background: $colors-v2-base-success;
        color: $colors-neutral-black;

        .close-icon {
            color: $colors-neutral-dark;
        }

        &:hover {
            background: $colors-v2-base-success-v-medium;

            .close-icon {
                color: $colors-neutral-black;
            }
        }
    }
}

@media (max-width: 767px) {
    .smartbanner-show .psi-toast {
        top: 137px;
    }

    .psi-toast {
        top: 57px;
        display: flex;
        padding: 0px 10px;
        font-size: 12px;
    }
}

.collapsed-toast-width {
    left: 80px !important;
    width: calc(100vw - 80px) !important;
    position: absolute;
    z-index: 1;
}

.expanded-toast-width {
    left: 280px !important;
    width: calc(100vw - 280px) !important;
}

.quotes-toast {
    width: auto !important;
    height: 48px !important;
    position: fixed;
    border-radius: 8px;
    padding: 0px;
    bottom: 40px;
    top: auto !important;
    right: 40px;
    left: auto !important;

    i {
        margin-left: 8px !important;
        margin-right: 16px !important;
    }

    i.fa-exclamation-circle {
        cursor: auto !important;
    }
}

.psi-toast.new-layout-toast {
    top: 64px;
    z-index: 99 !important;
}

.pr-16 {
    padding-right: 16px;
}
