$crimson-pro-regular: 'CrimsonPro-Regular';
$crimson-pro-bold: 'CrimsonPro-Bold';
$crimson-pro-medium: 'CrimsonPro-Medium';

$montserrat-regular: 'Montserrat-Regular';
$montserrat-medium: 'Montserrat-Medium';
$montserrat-bold: 'Montserrat-Bold';
