@import "../../../scss/variables/typography";
@import "../../../scss/variables/colors";

.summary-top-box-container {
    display: flex;
    justify-content: space-between;

    .arrow-container {
        color: $colors-neutral-dark;
        height: auto;
        width: 16px;
        background: $colors-neutral-white;

        &.left {
            margin-right: 4px;
            padding: 4px;
        }

        &.right {
            margin-left: 4px;
            padding: 4px;
        }
    }

    .summary-box-container {
        display: flex;
        flex: 1;
        justify-content: flex-start;
    }

    .summary-box {
        background: $colors-neutral-white;
        margin: 0 4px;
        width: 33%;  
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    
        .summary-header {
            position: relative;
            border-bottom: 1px solid $colors-neutral-light;
            padding-bottom: 5px;
            display: flex;

            .info-tooltip {
                position: relative;

                .icon-class {
                    font-size: 12px;
                    top: 5px;
                    position: absolute;
                    margin-left: 8px;
                }

                .white-tooltip {
                    visibility: hidden;
                    position: absolute;
                    top: 24px;
                    background: $colors-neutral-white;
                    border-radius: 8px;
                    border: 1px solid $colors-neutral-light;
                    min-height: 31px;
                    width: 234px;
                    color: $colors-neutral-black;
                    font-family: $montserrat-regular;
                    font-size: 14px;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    transform: translateX(calc(-50% + 6px));

                    &::before {
                        content: '';
                        height: 10px;
                        width: 10px;
                        border-top: 1px solid $colors-neutral-light;
                        border-left: 1px solid $colors-neutral-light;
                        position: absolute;
                        transform: rotate(45deg);
                        top: -6px;
                        z-index: 2;
                        left: 50%;
                        background-color: $colors-neutral-white;
                    }
                }

                &:hover {
                    .white-tooltip {
                        visibility: visible;
                    }
                }
            }
        }
        
        .card-summary {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease, padding 0.4s ease;


            &.collapsed {
                max-height: 0;
                transition-duration: 1s;
            }

            &.expanded {
                max-height: 700px;
                transition-duration: 2s;
            }

            &.default {
                max-height: 1000px;
            }
        
            .row-lable {
                flex: 0 0 60%;
                overflow: hidden;
            }
        
            .txt-red {
        
                &:hover {
                    color: $colors-v2-base-primary;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        
    }
}

.expand-collapse {
    background-color: $colors-neutral-white;
    box-shadow: 0px 4px 8px $colors-neutral-light-t-15;
    text-align: center;
    padding: 10px;
    margin-right: 4px;
    margin-left: 4px;
    cursor: pointer;

    &:hover {
        background: $colors-v2-base-primary-v-low-t-05;
    }
}
