<div class="summary-top-box-container" id="summary-top-box-container">

    <!-- Left Arrow -->
    <div class="arrow-container u-flex u-justify-between u-align-center left"
        [ngClass]="{'u-cursor-not-allowed': curPage <= 0 || (isEpandedCollapsedView && !isExpanded)}"
        (click)="scrollCarousel('true', '');">
        <i class="fal fa-chevron-left"></i>
    </div>

    <!-- Container for the summary boxes -->
    <div class="u-flex-column u-flex-1">
        <div class="summary-box-container w-100">
            <div class="summary-box u-pg-p-2" [ngStyle]="{'min-width': cardMinWidth}"
                *ngFor="let boxData of SummaryData; let i = index">
                <div class="typography-body-black-medium summary-header">
                    <span>{{ boxData.title }}</span>
                    <div class="info-tooltip" *ngIf="boxData.iconClass">
                        <i class="{{boxData.iconClass}} icon-class"></i>
                        <span class="typography-body-black-regular white-tooltip" *ngIf="boxData.headerToolTip">
                            {{ boxData.headerToolTip }}
                        </span>
                    </div>
                </div>

                <!-- If isExpandedCollapsedView is true, then the expand/collapse view will be shown. -->

                <div class="card-summary" [ngClass]="{
                         'expanded': isExpanded && isEpandedCollapsedView,
                         'collapsed': !isExpanded && isEpandedCollapsedView,
                         'default': !isEpandedCollapsedView
                     }">
                    <div class="u-flex u-justify-between u-pg-mt-2" *ngFor="let row of boxData.data;">
                        <div class="typography-paragraph-black-medium u-truncate row-lable">
                            <span [textContent]="row.label"></span>
                        </div>
                        <div class="typography-paragraph-dark-regular"
                            [ngClass]="{ 'txt-red': row.className === 'txt-red' }"
                            (click)="row.className === 'txt-red' ? clickOnRowValue(row) : ''" [textContent]="row.value">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="isEpandedCollapsedView">
            <div class="typography-body-black-regular expand-collapse u-tc u-pg-mt-1 u-pg-py-1"
                (click)="showHideSummaryCard()">
                <span class="u-pg-pr-1" [textContent]="isExpanded ? 'Collapse' : 'Expand'"></span>
                <i [ngClass]="isExpanded ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
            </div>
        </div>
    </div>

    <!-- Right Arrow -->

    <div class="arrow-container u-flex u-justify-between u-align-center right"
        [ngClass]="{'u-cursor-not-allowed': curPage >= summaryBoxDataLength - cardToDisplay || (isEpandedCollapsedView && !isExpanded)}"
        (click)="scrollCarousel('', 'true');">
        <i class="fal fa-chevron-right"></i>
    </div>

</div>
