<div class="summary-top-box-container" id="summary-top-box-container">
    <div class="arrow-container u-flex u-justify-between u-align-center left" [ngClass]="{ 'u-cursor-not-allowed': curPage <= 0 }" (click)="scrollCarousel('true', '');">
        <i class="fal fa-chevron-left"></i>
    </div>
    <div class="summary-box" [ngStyle]="{'min-width': cardMinWidth}" *ngFor="let boxData of paginatedData; let i = index">
        <div class="typography-body-dark-medium summary-header">
            <span>{{ boxData.title }}</span>
            <div class="info-tooltip" *ngIf="boxData.headerIconClass">
                <i class="{{boxData.headerIconClass}} icon-class"></i>
                <span class="typography-body-black-regular white-tooltip " *ngIf="boxData.headerToolTip">
                    {{ boxData.headerToolTip }}
                </span>
            </div>
        </div>

        <div *ngFor="let balance of boxData.data; let j = index">
            <div class="summary-value">
                <span class="typography-body-black-regular">{{ balance.value }}</span>
            </div>
        </div>
    </div>

    <div class="arrow-container u-flex u-justify-between u-align-center right" [ngClass]="{ 'u-cursor-not-allowed': curPage >= summaryBoxDataLength - cardToDisplay }"
        (click)="scrollCarousel('', 'true');">
        <i class="fal fa-chevron-right"></i>
    </div>
</div>
