@use '../../../../styles/variables/colors' as *;

.filter-container {
    .two-col {
        flex: 0 0 calc((100% - 24px) / 2);
    }

    .three-col {
        flex: 0 0 calc((100% - 48px) / 3);
    }

    .four-col {
        flex: 0 0 calc((100% - 72px) / 4);
    }
}

.icon-container {
    i.action-icon {
        // @include action-icon;

        &.is-disabled,
        &.is-disabled:hover {
            cursor: auto;
            color: $colors-neutral-light;
        }
    }

    i.action-icon:hover~.icon-tooltiptext {
        visibility: visible;
    }

    .divider {
        width: 1px;
        height: 24px;
        background-color: $colors-neutral-light;
    }
}