<div class="summary-top-bar u-bg-neutral-white" [ngClass]="{ 'padding-top-bar': config.expandFilter, 'u-pg-p-2': !config.expandFilter}" [class]="config.mainClass">
    <div class="u-flex u-justify-flex-end u-align-center u-h-100 u-w-100">
        <div class="u-flex-grow search-box-container" *ngIf="!config.hideSearch">
            <app-search-bar
                [config]="config"
                (onEnter)="onEnter.emit($event)">
            </app-search-bar>
        </div>
        <div class="u-flex u-align-center u-pg-pl-2 icon-container" [ngClass]="action.divClass" *ngFor="let action of config.actions">
            <div class="u-icon-tooltip u-csr-ptr" *ngIf="action.type == 'icon'">
                <i class="u-fs20 on-hover action-icon" [ngClass]="action.iconClass" (click)="!action.disabled && onClickAction.emit(action)"></i>
                <span class="tooltiptext t-center u-pg-mt-1" *ngIf="action.tooltipText" [innerHtml]="action.tooltipText"></span>
            </div>
            <app-excel-export
                *ngIf="action.type == 'export'"
                class="u-csr-ptr"
                [config]="action">
            </app-excel-export>
            <div class="result-container" *ngIf="action.type === 'result'">
                <b class="typography-body-dark-medium u-pg-pr-1">{{ config.totalResult }}</b>
                <span class="typography-body-dark-regular">{{ config.totalResult === 1 ? 'Result' : 'Results' }}</span>
            </div>
            <div class="u-flex" *ngIf="action.type === 'filter_button'">
                <app-cmp-button
                    [buttonClass]="config.expandFilter ? action.buttonClass + ' active' : action.buttonClass"
                    [buttonIconLeft]="'fas fa-filter'"
                    [buttonText]="'Filter'"
                    (onClick)="onClickAction.emit(action)">
                </app-cmp-button>
            </div>
            <div class="u-flex" *ngIf="action.type == 'button'">
                <app-cmp-button
                    [buttonClass]="action.buttonClass"
                    [buttonIconLeft]="action.buttonIconLeft"
                    [buttonIconRight]="action.buttonIconRight"
                    [buttonText]="action.buttonText"
                    (onClick)="onClickAction.emit(action)">
                </app-cmp-button>
            </div>
        </div>
    </div>
</div>

<div class="filter-container u-pg-mb-2" *ngIf="config.expandFilter">
    <div class="u-flex u-pg-mb-1 filter-box">
        <ng-container *ngFor="let filter of config.filtersConfig">
            <div class="filter-item" [ngClass]="filter.divClass" *ngIf="filter.type === 'multiselect-search'">
                <app-cmp-input-dropdown
                    [label]="filter.label"
                    [showSelectAll]="filter.showSelectAll !== false"
                    [showCheckboxes]="filter.showCheckboxes !== false"
                    [allowSingleSelect]="filter.allowSingleSelect === true"
                    [showSearch]="filter.showSearch !== false"
                    [settings]="filter.setting"
                    [filteredItems]="filterList && filterList[filter.key]"
                    [selectedItems]="selectedFilters[filter.key] || []"
                    [isAllItemsSelected]="isAllItemsSelected"
                    [isIndeterminate]="isIndeterminate"
                    (onDropDownChange)="onFilterChange(filter.key, $event)"
                    (dropdownClosedWithServerFilteredItems)="handleDropdownCloseWithServerFiltering(filter.key, $event)">
                </app-cmp-input-dropdown>
            </div>
            <div class="filter-item" [ngClass]="filter.divClass" *ngIf="filter.type === 'daterange'">
                <app-cmp-input-datepicker
                    [dateLabel]="filter.label"
                    [setting]="filter.setting"
                    >
                </app-cmp-input-datepicker>       
            </div>
        </ng-container>
        <div class="col-md-4 filter-item">
            <app-cmp-date-range 
                label='Date'
                [required]="true" 
                [datesArray]="datesArray">
            </app-cmp-date-range>
        </div>
        <div class="col-12 u-flex">
            <ng-container *ngFor="let filter of config.filtersConfig">
                <div class="filter-item checkbox-item" [ngClass]="filter.divClass" *ngIf="filter.type === 'checkbox'">
                    <app-psi-checkbox
                        [field]="filter"
                        [checkedValue]="selectedFilters[filter.name]"
                        (valueChanged)="onCheckedInput(filter.name, $event)">
                    </app-psi-checkbox>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="u-flex u-align-center u-pg-g-3">
        <app-cmp-button
            [buttonClass]="'secondary sm'"
            [buttonText]=" 'Apply' "
            (click)="applyFilterChanges()">
        </app-cmp-button>
        <div class="btn-link primary-link" (click)="resetFilterChanges()">Clear</div>
    </div>
</div>
