@import '../../../scss/variables/typography';
@import '../../../scss/variables/colors';
@import '../../../scss/utilities/base';
@import '../../../scss/utilities/colors';
@import '../../../scss/mixin/_mixin';

.summary-top-bar {
    display: flex;
    padding: 16px 0px;
    align-items: center;
    .search-box-container {
        width: 100%;
        height: 40px;
    }
}

.btn-link {
    cursor: pointer;
    text-decoration: none;
    color: $colors-neutral-black;
    font-size: 12px;

    &:hover {
        color: $colors-v2-base-primary;
        text-decoration: underline;
    }
}

.icon-container {
    i.action-icon {
        @include action-icon;
        &.is-disabled,
        &.is-disabled:hover {
            cursor: auto;
            color: $colors-neutral-light;
        }
    }

    i.action-icon:hover~.icon-tooltiptext {
        visibility: visible;
    }

    .disabledToolTip {
        background: $colors-neutral-black-v-high !important;
        color: $colors-neutral-black !important;
    }
}
