<div class="summary-top-bar m-flex-direction mr-width">
    <div class="search-box-container m-margin" data-ng-hide="topBarConfig.hideSearch">
        <app-search-bar>
        </app-search-bar>
    </div>
    <app-excel-export
        [tooltipText]="tooltipText">
    </app-excel-export>
    <div>
        <app-cmp-button
            
            [buttonIconLeft]="'fas fa-filter'"
            [buttonText]="'Filter'"
            [buttonClass]="'secondary'"
            (click)="toggleFilter()"
            [ngClass]="{'active': isFiltered}"
            >
        </app-cmp-button>
        
    </div>
    <div>
    <app-cmp-button
            
            [buttonIconLeft]="'fas fa-plus-circle '"
            [buttonText]="'New Order'"
            [buttonClass]="'primary'"
            >
        </app-cmp-button>


     
    </div>
</div>

<div class="dropdown-container " *ngIf="isFiltered" >

    <app-cmp-input-dropdown
    [label]="dropdown1Label"
    [placeholder]="'Select Status'"
    > </app-cmp-input-dropdown>

    <app-cmp-input-dropdown
    [label]="dropdown2Label"
    [placeholder]="'Select Type'"
    ></app-cmp-input-dropdown>

    <app-cmp-input-dropdown [label]="dropdown3Label"
    [placeholder]="'Select Type'">

    </app-cmp-input-dropdown>


    <app-cmp-input-dropdown   [label]="dropdown4Label"
    [placeholder]="'Select'"></app-cmp-input-dropdown>
</div>

