
@import "../../scss/variables/typography";
@import "../../scss/variables/colors";

.ag-grid-custom {
  height: 500px;

  .ag-header {
    background-color: $colors-neutral-light;
    color: $colors-neutral-dark;
    text-transform: uppercase;

    .ag-header-viewport {
      .ag-header-container {
        .ag-header-row {
          display: flex !important;
        }
      }
    }
  }

  .ag-cell {
    white-space: pre-wrap !important;
  }

  .ag-theme-material {
    font: 500 14px "Helvetica Neue", Helvetica, Arial, sans-serif !important;

    .ag-header {
      font: 700 14px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
  }

  .ag-body-container a {
    color: #337ab7 !important;
  }

  .ag-cell {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
  }

  .ag-overlay-wrapper {
    vertical-align: top !important;

    .ag-overlay-loading-center {
      position: relative;
      top: 100px;
    }
  }

}