@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';
@import '../../../scss/utilities/colors';
@import '../../../scss/utilities/base';


.product-tool-details {
    background-color: $colors-neutral-light-v-low;

    .product-tool-details-container {
        margin: 8px 16px 0;

        .product-tool-details-wrapper {
            
            .left-side {
                padding-right: 4px;
            }

            .right-side {
                padding-left: 4px;
            }
        }
    }
}
