.som-details {
    background-color: #e2e7ea;
    font-family: "Helvetica-medium" !important;
    // padding-bottom: 20px;
  
    .psi-page-header,
    .psi-page-column-header,
    .psi-fields-detail {
      background-color: #fff;
      padding: 0 16px;
      box-shadow: 0 2px 8px 0 rgba(205, 205, 205, 0.5);
    }
  
    .psi-page-header {
      font-family: "HelveticaNeue";
      font-size: 20px;
      line-height: 20px;
    }
  
    .product-detail-container {
      padding: 0;
      margin: 0 16px;
      width: calc(100% - 34px) !important;
  
      .psi-page-column-header .status {
        .label.green {
          background: #aedd77;
        }
  
        .label.yellow {
          background: #f5eb6e;
        }
  
        .label.red {
          background: #d11328;
        }
  
        .label.orange {
          background: orange;
        }
        .label.grey {
          background: grey;
        }
      }
  
      .attachments-tab {
        box-shadow: none !important;
      }
  
      .tab-upload-file {
        padding: 0 !important;
      }
    }
  
    .unq-col {
      padding-right: 4px;
    }
  
    .unq-col.sync-fail {
      .psi-page-column-header {
        span.col-title {
          width: 80% !important;
        }
  
        div.status.col-title {
          width: 20%;
  
          .label {
            color: rgb(35, 35, 35);
            font-family: "HelveticaNeue-Medium";
            font-size: 10px;
            font-weight: 500;
            line-height: 8px;
            text-align: center;
            padding: 6px 12px;
            float: right;
            width: fit-content;
            display: flex;
          }
        }
      }
  
      .psi-fields-detail {
        .field-bl-dtl {
          .u-ml3-left {
            width: 40%;
          }
  
          .u-ml3-right {
            width: 60%;
          }
        }
  
        .col-title {
          .error-tl-tp .tooltiptext.fulfill-fail-message {
            width: 180px;
            margin-left: -180px !important;
            margin-top: -27px !important;
            display: block;
            text-align: center;
  
            .fulfill-failed,
            .fufill-error-message {
              display: block;
              text-align: left;
            }
          }
  
          .error-tl-tp .tooltiptext.status-sync-fail {
            width: 160px;
            margin-left: -160px !important;
            margin-top: -22px !important;
            display: block;
            text-align: center;
          }
        }
      }
    }
  
    .prdct-col {
      padding-left: 4px;
  
      .psi-fields-detail {
        margin-top: 4px;
        box-shadow: none;
  
        th,
        td {
          padding: 6px 8px;
        }
  
        th {
          letter-spacing: 0.3px;
        }
  
        .text-cell {
          max-width: 200px;
          white-space: normal;
          word-break: break-word;
        }
      }
  
      .psi-fields-detail+.psi-fields-detail {
        margin-top: 0px;
        padding-top: 0;
      }
  
      .code-section {
        margin-top: 4px;
  
        .code-table {
          margin-top: 4px;
          background-color: #ffffff;
          padding: 16px;
  
          table {
            width: 100%;
  
            .col-type,
            .col-code {
              padding: 6.6px 8px;
              background-color: #f5e4e3;
              color: rgb(35, 35, 35);
              font-family: "HelveticaNeue-Bold";
              font-size: 12px;
              font-weight: bold;
              line-height: 12px;
              letter-spacing: 0.3px;
            }
  
            .col-code {
              padding-left: 0;
  
              .ftleft {
                padding-right: 8px;
                border-left: 1px solid #d7d2d1;
              }
            }
  
            .type-val,
            .code-val {
              padding: 6px 8px;
              color: rgb(74, 74, 74);
              font-family: "HelveticaNeue";
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
      }
    }
  
    .no-product {
      padding: 5px 10px;
  
      .row-bg {
        background: none;
        box-shadow: none;
      }
  
      .plchldr-sec {
        margin: 5%;
        color: rgb(203, 203, 203) !important;
      }
    }
  
    .psi-fields-detail {
      margin-top: 4px;
      padding: 16px;
    }
  
    .details-tab {
      margin-top: 8px;
    }
  
    .lightGreyRow {
      background: transparent;
    }
  
    .l-header-advance-filters {
      // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
      padding: 12px 2px;
    }
  
    ps-default-link h1.c-link.c-link--default {
      color: rgb(35, 35, 35) !important;
      font-family: "HelveticaNeue" !important;
      font-size: 14px;
      letter-spacing: 0.26px;
      padding-left: 0px;
    }
  
    ps-default-link a.c-link.c-link--underline {
      color: #226cc6 !important;
      font-family: "HelveticaNeue" !important;
      font-size: 14px;
      letter-spacing: 0.23px;
      text-decoration: underline;
    }
  
    ps-default-link .fa-lg {
      font-size: 16px;
    }
  
    ps-default-link .l-header-advance-filters {
      box-shadow: none;
    }
  
    ps-default-link {
      i {
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 4px;
      }
  
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
  
      .u-pl3 {
        padding-left: 0rem;
      }
  
      .c-link.c-link--default {
        padding-left: 5px;
      }
    }
  
    summary-permissions {
      a {
        color: rgb(35, 35, 35);
        font-family: "Helvetica-medium" !important;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.23px;
        text-decoration: underline;
      }
  
      i {
        position: relative;
        top: 5px;
        margin-right: 10px;
        color: #232323 !important;
        font-size: 14px;
      }
  
      .u-mb5 {
        margin-bottom: 0px !important;
        margin-top: 38px;
      }
  
      .u-pb4 {
        padding-bottom: 0rem;
      }
  
      .col-sm-6 {
        width: 100%;
      }
    }
  
    .edit_title {
      color: #226cc6;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.23px;
      text-decoration: underline;
      /*margin-top: 45px;*/
      cursor: pointer;
      display: inline-block;
  
      i {
        color: #232323 !important;
        font-size: 14px;
        padding-top: 5px;
        margin-right: 13px;
      }
    }
  
    .edit_title.margin0 {
      margin: 0px;
    }
  
    .padding0 {
      padding: 0px;
    }
  
    .convert_text {
      color: #226cc6;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.23px;
      text-decoration: underline;
      text-align: right;
      position: relative;
      cursor: pointer;
      display: inline-block;
      height: 40px;
  
      i {
        color: #232323 !important;
        font-size: 14px;
        padding-top: 5px;
        margin-right: 13px;
      }
    }
  
    .convert_text.right0 {
      right: 0;
    }
  
    .archive_title {
      color: #d0021b;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.23px;
      text-align: left;
      text-decoration: underline;
      /*margin: 25px 0px;*/
      text-align: left;
      cursor: pointer;
      display: inline-block;
      width: 223px;
  
      i {
        margin-right: 15px;
        padding-top: 1px;
        color: #232323 !important;
        font-size: 16px;
      }
    }
  
    summary-details-simple .container {
      padding: 36px 160px;
      margin: 0;
      width: 100% !important;
  
      .permission-text {
        font-size: 16px;
        font-weight: 500;
        font-family: "Helvetica-medium" !important;
        vertical-align: middle;
      }
  
      .permission-right-action {
        display: inline-block;
        text-align: right;
      }
  
      .pd-rt {
        padding: 0;
      }
  
      @media only screen and (max-width: 1600px) {
        .col-md-offset-2 {
          margin-left: 0px;
          width: 100%;
        }
      }
  
      summary-table-mobile-simple {
        table {
          width: 95%;
          margin-left: 30px;
  
          th {
            padding: 0;
            font-size: 16px;
            font-weight: bold;
            font-family: "Helvetica-bold" !important;
            padding: 20px 0px !important;
            width: 50%;
            white-space: normal;
          }
  
          td {
            font-size: 16px;
            color: rgb(74, 74, 74);
            font-family: "HelveticaNeue" !important;
            padding: 20px 0px !important;
            white-space: normal;
          }
        }
      }
  
      header h1 {
        font-size: 20px;
        font-weight: 500;
        font-family: "Helvetica-medium" !important;
        color: rgb(35, 35, 35);
        padding-bottom: 20px;
      }
  
      .pd0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  
    .action-button {
      position: absolute;
      right: 0;
      top: 50px;
      z-index: 3;
    }
  
    .element-bottom-30 {
      margin-bottom: 30px;
    }
  
    .sync-button {
      background: rgb(191, 32, 9);
      border-radius: 4px;
      border: 1px solid rgb(191, 32, 9);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      width: 69px;
      color: #fff;
      outline: 0;
      height: 21px;
      line-height: 0px;
      font-family: "Helvetica-medium";
      font-weight: 500;
      font-size: 12px;
  
      i {
        font-size: 9px;
      }
  
      span {
        font-weight: 500;
        font-size: 12px;
        font-family: "Helvetica-medium";
      }
    }
  
    others-details table {
      width: 95%;
      margin-left: 0px;
    }
  
    #product table th:first-child {
      width: 36%;
    }
  
    #product table {
      width: 100%;
      margin-top: 25px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
  
    #product table thead {
      /*background: #F2F3F7;*/
      border-radius: 0px;
      width: 100%;
      background-color: #f2f3f7 !important;
    }
  
    #product table tbody tr {
      border-bottom: 1px solid rgba(151, 151, 151, 0.2) !important;
    }
  
    #product table th {
      color: rgb(74, 74, 74);
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.17px;
      text-transform: uppercase;
      padding: 20px;
      position: relative;
      white-space: normal;
      font-family: "Helvetica-medium" !important;
      /*border-right: 1px solid rgba(151, 151, 151, 0.52);*/
    }
  
    #product table td {
      color: rgb(74, 74, 74);
      font-size: 12px;
      letter-spacing: 0.17px;
      padding: 20px;
    }
  
    #product .t-separator {
      content: " ";
      border-left: 2px #d8d8d8 solid;
      top: 30%;
      right: 10px;
      height: 40%;
      margin-top: auto;
      margin-bottom: auto;
      position: absolute;
    }
  
    #product table th:last-child .t-separator {
      border: 0px;
    }
  
    .red_btn {
      background: #bf2009;
      color: white;
      cursor: pointer;
      border: 1px solid #bf2009;
    }
  
    .green_btn {
      background: #aedd77;
      color: #408240;
      border: 1px solid #aedd77;
      width: auto;
    }
  
    .yellow_btn {
      background: #f5eb6e;
      color: #fff;
      border: 1px solid #f5eb6e;
      width: auto;
    }
  
    others-details .u-mt5 {
      margin-top: 1rem;
    }
  
    .actionbuttons {
      display: flex;
      padding: 16px;
  
      .back {
        width: 50%;
  
        h1:hover {
          text-decoration: underline;
          cursor: pointer;
        }
  
        .l-header-advance-filters {
          .container-fluid {
            padding: 0;
          }
        }
      }
  
      .ac-cr-btn {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
  
        .action-buttons-rht {
          span.actionslabel {
            border-radius: 50%;
            padding: 9px 7px;
            margin-left: 15px;
            margin-right: 0;
  
            i {
              height: unset;
              width: unset;
              vertical-align: text-top;
              margin-top: -1px;
              margin-left: 0px;
              font-size: 13px;
            }
  
            .acbbutton {
              transform: translate(-50%, 2px);
            }
  
            .fa-box-check {
              margin-left: 0px;
              margin-top: 0.5px;
              font-size: 15px;
            }
          }
  
          span.actionslabel:nth-child(3) {
            margin-right: 2px;
            cursor: pointer;
  
            .acbbutton {
              left: 0%;
              transform: translate(-60%, 2px);
            }
          }
        }
      }
    }
  
    /* Modal CSS */
  
    .modal-content {
      border-radius: 0;
    }
  
    body.modal-open {
      height: 100vh;
    }
  
    .modal-dialog {
      font-family: "Helvetica-medium" !important;
      top: 0% !important;
      margin: 0px auto;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 564px;
    }
  
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  
    .modal-open .modal {
      text-align: center;
      padding: 0 !important;
    }
  
    .modal-content {
      box-shadow: 0px 0px 0px 0px;
    }
  
    .sales-popup-body.c-modal-overlay {
      position: relative !important;
      padding: 0px;
    }
  
    /*.sales-popup-body p,.sales-popup-body span{
    display: block;
    color: rgb(35, 35, 35);
    font-family: 'Helvetica-medium' !important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.23px;
    text-align: center;
  }*/
  
    .sales-popup-body .c-modal {
      border-radius: 0px;
      box-shadow: 0px 0px 0px 0px !important;
    }
  
    .sales-popup-body .c-modal__header {
      box-shadow: 0px 0px 0px 0px !important;
      padding: 60px 0px 45px;
    }
  
    .sales-popup-body .c-modal__content {
      display: flex;
      background: none !important;
    }
  
    .sales-popup-body .c-modal__content .row {
      //display: inline-flex;
      margin: 0 auto;
      display: flex;
    }
  
    .sales-popup-body .u-messege-text {
      width: 100%;
      padding: 0px;
    }
  
    .som-popup-save {
      text-decoration: none !important;
      width: 115px;
      padding: 15px 0px;
      color: white !important;
      font-size: 14px !important;
      font-weight: bold !important;
      height: 46px;
      letter-spacing: 0.2px;
      text-align: center;
      font-family: "Helvetica-medium" !important;
      letter-spacing: 0.2px;
      text-align: center;
      background: #bf2408;
      border-radius: 3px;
      outline: 0px !important;
  
      &:focus {
        outline: 0px !important;
      }
    }
  
    .som-popup-cancel {
      text-decoration: none !important;
      width: 115px;
      padding: 15px 0px;
      margin-right: 15px;
      border: 1px solid #ccc;
      font-weight: bold !important;
      color: rgb(74, 74, 74) !important;
      font-size: 14px !important;
      height: 46px;
      letter-spacing: 0.16px;
      font-family: "Helvetica-medium" !important;
      letter-spacing: 0.16px;
      text-align: center;
      border-radius: 3px;
      outline: 0px !important;
      background: #fff;
  
      &:focus {
        outline: 0px !important;
        background: #fff;
      }
    }
  }
  
  .som-details .actionbuttons .ac-cr-btn .action-buttons-rht span.actionslabel {
    border-radius: 50%;
    padding: 9px 7px;
    margin-left: 15px;
    margin-right: 0;
    position: relative;
  }
  
  .first-footer-flash {
    .flash-message {
      margin-bottom: 53px;
    }
  }
  
  .validation-popup-detail {
    .modal-dialog {
      width: 1143px;
  
      .modal-content {
        box-shadow: none;
  
        .modal-body {
          padding: 0 16px;
          max-height: 350px;
  
          .product-validations {
            .column-header {
              div {
                padding: 24px 12px;
                color: rgb(35, 35, 35);
                font-family: "HelveticaNeue-Medium";
                font-size: 14px;
                line-height: 14px;
                text-align: center;
              }
  
              .empty-header {
                width: 9.2%;
                padding-left: 0;
                text-align: left;
              }
  
              .description {
                width: 30%;
                text-align: left;
              }
  
              .order_qty {
                width: 14%;
              }
  
              .shipped_qty {
                width: 16%;
              }
  
              .compliance {
                width: 20%;
              }
  
              .inventory {
                width: 17%;
              }
  
              .pricing {
                padding-right: 0;
                width: 11.5%;
              }
            }
  
            .data-overflow {
              max-height: 190px;
              padding-bottom: 17px;
  
              .column-data {
                .cl-val {
                  height: 42px;
  
                  .prdct {
                    width: 10%;
                  }
  
                  .prdct-desc {
                    width: 26%;
                    text-align: left;
                    padding-left: 16px;
                    position: relative;
  
                    .desc-text {
                      width: 280px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: block;
                    }
  
                    .desc-tooltiptext {
                      visibility: hidden;
                      width: fit-content;
                      background-color: #000000;
                      color: #fff;
                      text-align: center;
                      font-family: "HelveticaNeue";
                      font-size: 14px;
                      line-height: 14px;
                      border-radius: 0px;
                      padding: 5px;
                      position: absolute;
                      z-index: 1;
                      margin-left: 0px;
                      opacity: 0;
                      transition: opacity 0.3s;
                    }
  
                    &:hover .desc-tooltiptext {
                      visibility: visible;
                      opacity: 1;
                    }
                  }
  
                  .order_qty {
                    width: 16%;
                    text-align: center;
                    padding: 0 12px;
                  }
  
                  .shipped_qty {
                    text-align: center;
                    width: 19%;
                    padding: 0 12px;
                  }
  
                  .com {
                    width: 20%;
                  }
  
                  .inv {
                    width: 24%;
                  }
  
                  .prce {
                    width: 10.5%;
                  }
                }
              }
            }
          }
        }
  
        .modal-footer {
          padding: 16px 16px 24px !important;
  
          .c-btn.c-btn--secondary {
            margin-left: 16px;
          }
        }
      }
    }
  }
  
  .validation-popup {
    .modal-dialog {
      width: 900px;
  
      .modal-content {
        box-shadow: none;
  
        .modal-body {
          padding: 0 16px;
  
          .product-validations {
            .column-header {
              div {
                padding: 24px 12px;
                color: rgb(35, 35, 35);
                font-family: "HelveticaNeue-Medium";
                font-size: 14px;
                line-height: 14px;
                text-align: center;
              }
  
              .empty-header {
                width: 9%;
                padding-left: 0;
                text-align: left;
              }
  
              .description {
                width: 37%;
                text-align: left;
              }
  
              .compliance {
                width: 22%;
              }
  
              .inventory {
                width: 20%;
              }
  
              .pricing {
                width: 12%;
                padding-right: 0;
              }
            }
  
            .data-overflow {
              max-height: 190px;
              padding-bottom: 17px;
  
              .column-data {
                .cl-val {
                  height: 42px;
  
                  .prdct {
                    width: 10%;
                  }
  
                  .prdct-desc {
                    width: 40%;
                    text-align: left;
                    padding-left: 16px;
                    position: relative;
  
                    .desc-text {
                      width: 310px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: block;
                    }
  
                    .desc-tooltiptext {
                      visibility: hidden;
                      width: fit-content;
                      background-color: #000000;
                      color: #fff;
                      text-align: center;
                      font-family: "HelveticaNeue";
                      font-size: 14px;
                      line-height: 14px;
                      border-radius: 0px;
                      padding: 5px;
                      position: absolute;
                      z-index: 1;
                      margin-left: 0px;
                      opacity: 0;
                      transition: opacity 0.3s;
                    }
  
                    &:hover .desc-tooltiptext {
                      visibility: visible;
                      opacity: 1;
                    }
                  }
  
                  .com {
                    width: 25%;
                  }
  
                  .inv {
                    width: 17%;
                  }
  
                  .prce {
                    width: 15%;
                    padding-left: 40px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  .unq-col.sync-fail {
    .psi-page-column-header .col-title {
      .error-tl-tp .tooltiptext.fulfill-fail-message {
        width: 180px;
        margin-left: -180px !important;
        margin-top: -27px !important;
        display: block;
        text-align: center;
  
        .fulfill-failed,
        .fufill-error-message {
          display: block;
          text-align: left;
        }
      }
  
      .error-tl-tp .tooltiptext.status-sync-fail {
        width: 160px;
        margin-left: -160px !important;
        margin-top: -32px !important;
        display: block;
        text-align: center;
      }
    }
  }
  
  .psi-page-column-header .col-title .error-tl-tp {
    margin: 5px 1px !important;
  }
  
  .som-details .actionbuttons .ac-cr-btn .action-buttons-rht span.actionslabel {
    border-radius: 50%;
    padding: 9px 7px;
    margin-left: 15px;
    margin-right: 0;
    position: relative;
  }
  
  .first-footer-flash {
    .flash-message {
      margin-bottom: 53px;
    }
  }
  
  psi-details-notes-tab {
    .nt-dp {
      .col-sm-1.notes-owner-image {
        width: 40px;
  
        .image-overlay {
          right: unset;
          left: 100%;
          transform: translateX(-100%);
          top: 29px;
        }
      }
  
      .col-sm-11 {
        width: calc(100% - 40px);
      }
    }
  }
  
  body.modal-open {
    overflow: hidden;
  
    .confirmation-modal {
      .modal-dialog {
        width: 464px;
        height: 168px;
  
        .modal-content {
          box-shadow: none;
          border-radius: 0;
  
          .message-modal-container {
            font-family: "Helvetica-medium";
  
            .icon-type {
              padding-top: 10px;
            }
  
            .vertical-line {
              border: 1px solid #f1f1f1;
              width: 304px;
              margin: 24px auto;
            }
  
            .content-box-description {
              margin: 27.1px 0px;
              text-align: center;
              width: 100%;
              max-width: none !important;
              color: #232323;
              font-weight: 500;
              line-height: 14px !important;
            }
  
            .action-button {
              padding-bottom: 24px;
              letter-spacing: -4px;
              text-align: center;
  
              .yes-button,
              .no-button {
                width: 90px;
                line-height: 16px;
              }
  
              .yes-button {
                margin-left: 16px;
              }
            }
          }
        }
      }
    }
  }
  
  body {
    .mainpanel {
      min-height: 500px;
    }
  }