@import '../../../scss/variables/typography';
@import '../../../scss/variables/colors';

.headerbar {
    background-color: $colors-neutral-black;
    .search-container {
        border-radius: 8px;
        outline: 2px solid $colors-neutral-black-v-medium;
        input {
            height: 40px;
            width: 520px;
            border-radius: 8px;
            border: 0px;
            outline: none;
            padding: 12px 72px 12px 16px;
            font-size: 12px;
            caret-color: $colors-v2-base-secondary-v-medium;
            background-color: $colors-neutral-light-t-20 !important;
        }

        ::placeholder {
            color: $colors-neutral-light !important;
            opacity: 1 !important;
        }

        .icon-container {
            right: 0;
            top: 0;
            border-radius: 0 8px 8px 0;

            .search-icon-container {
                width: 40px;
                font-size: 16px;
            }
        }

        &:hover {
            outline: 2px solid $colors-neutral-dark;
        }

        &:focus-within {
            outline: 2px solid $colors-v2-base-secondary-v-medium;
        }
    }
}