.c-link {
    color: #1B6AC9 !important;
    display: inline-block;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  
  .c-link:active {
    color: #134B8F;
  }
  
  .c-link--underline {
    text-decoration: underline;
  }
  
  .c-link.c-link--default {
    color: #4A4A4A !important;
  }
  
  .c-link__img--create {
    margin-right: 6px;
    width: 15px;
    height: 19px;
    float: left;
    cursor: pointer;
  }