<div class="l-header-advance-filters u-pt-4 u-pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <a class="c-link c-link--default" (click)="functionLink()"><i [class]="fontIcon"
                            aria-hidden="true"></i>
                    </a>
                    <h1 class="c-link c-link--default b-h6 u-pl-3 u-mt-1" (click)="functionLink()"
                        >{{linkTitle}}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
