@import '../../../../styles/variables';
@import '../../../../styles/colors';

.search-box {
    display: flex;
    position: relative;

    input.form-control {
        height: 40px;
        padding: 0 16px;
        color: $colors-neutral-black;
        font-family: $montserrat-regular;
        font-size: 12px;
        border: 1px solid $colors-neutral-light !important;
        border-radius: 8px 0px 0px 8px;
        border-right: none !important;
        transition: none;
        box-shadow: none !important;

        &:focus {
            border: none !important;
        }

        &::placeholder {
            color: $colors-neutral-light;
            font-family: $montserrat-regular;
            font-size: 12px;
        }
    }

    i.clear-search {
        right: 48px;
        top: 50%;
        transform: translateY(-50%);
        color: $colors-neutral-light;

        &:hover {
            color: $colors-neutral-dark;
        }
    }

    button.search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        height: 40px;
        width: 40px;
        max-width: 40px;
        background: $colors-v2-base-primary-v-low-t-05;
        outline: none;
        padding: 0;
        margin: 0;
        border: 1px solid $colors-neutral-light;
        border-left: none !important;
        border-radius: 0px 8px 8px 0px;
        flex: 0 0 40px;

        i {
            color: $colors-neutral-dark;
            margin: 0;
        }
    }

    &:focus-within {
        border-radius: 8px;
        border: 2px solid $colors-v2-base-secondary-v-medium;

        input.form-control,
        button.search-icon {
            border: none !important;
        }

        input.form-control {
            caret-color: $colors-v2-base-secondary-v-medium;
        }
    }

    &:hover:not(:focus-within) {
        border-radius: 8px;
        border: 2px solid $colors-neutral-dark;

        input.form-control,
        button.search-icon {
            border: none !important;
        }
    }

}