<div class="search-box">
    <input type="text" id="search" class="form-control" [(ngModel)]="config.searchText"
        [placeholder]="config.placeholder" (keyup.enter)="onEnter.emit(config.searchText)">
    <i class="far fa-times-circle u-absolute clear-search body u-fs14 "
        *ngIf="config.searchText && config.searchText.length > 0"
        (click)="config.searchText = '';onClear.emit()">
    </i>
    <button
        class="search-icon"
        (click)="onEnter.emit(config.searchText)">
        <i class="far fa-search" aria-hidden="true"></i>
    </button>
</div>
