<!-- <div class="input-group cms-search-container" style="width:100%">
        <input type="text" id="search" autocomplete="off" maxlength="70"
          class="form-control cms-search"/>
        <span class="input-group-addon cms-search-button">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div> -->

<div class="search-box">
    <input type="text" id="search" class="form-control">
    <button class="search-icon">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</div>