<div class="product-management header-background">
    <app-header-tool
        titleText="Product Management System"
        titleIcon="fas fa-file-invoice-dollar">
    </app-header-tool>

    <app-psi-crud-form
        [leftHeaderTitle]="leftTitle"
        [rightHeaderTitle]="productTitle"
        [rightHeaderBottomTitle]="rightHeaderBottomTitle"
        [sellectedData]="sellectedData"
        [crudFieldConfig]="crudFieldConfig"
        [form]="productForm"
        (onDropDownChange)="onDropdownStateChange($event.field , $event.event)"
        (formSubmit)="onSubmit($event)">
    </app-psi-crud-form> 

</div>
