<div class="product-management header-background">
    <app-header-tool
        titleText="Product Management System"
        titleIcon="fas fa-file-invoice-dollar">
    </app-header-tool>

    
    <app-psi-crud-form
        [leftHeaderTitle]="leftTitle"
        [rightHeaderTitle]="productTitle"
        [rightHeaderBottomTitle]="rightHeaderBottomTitle"
        [crudFieldConfig]="crudFieldConfig">
    </app-psi-crud-form> 
 

    <!-- <div class="product-tool-container form-wrapper">
        <div class="form-container">
            <div class="psi-form">
                <div class="form-group">
                    <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)" autocomplete="false">
                        <div class="form-field row">
                            <div class="column">
                                <div class="headers-container">
                                    <p class="product-details-header">PRODUCT DETAILS</p>
                                </div>
                                <div class="field-container">
                                    <ng-container *ngFor="let field of formConfig.schema">
                                        <div *ngIf="!field.isCode && !field.isDimension" class="d-flex flex-column w-100 field-group">
                                            <label *ngIf="field?.type != 'checkbox'" [for]="field.name"
                                                [ngClass]="{'ps-required-asterisk': field.required}"
                                                [textContent]="field.label"></label>
                                            <input *ngIf="field?.type == 'text'" [type]="field.type"
                                                [ngClass]="{'ps-required-asterisk': isFieldInvalid(field.name)}"
                                                [id]="field.name" [formControlName]="field.name"
                                                [placeholder]="field.placeholder" [required]="field.required" />
                                            <div *ngIf="field?.type == 'checkbox'" class="c-checkbox">
                                                <label class="label-checkbox u-flex u-align-center">
                                                    <input [type]="field.type"
                                                        [ngClass]="{'ps-required-asterisk': isFieldInvalid(field.name)}"
                                                        [id]="field.name" [formControlName]="field.name"
                                                        [placeholder]="field.placeholder" [required]="field.required"
                                                        [checked]="field.value === '1'" value="0"
                                                        (change)="changeComplianceValue($event.target.checked, field.name)" />
                                                    <span class="c-checkbox__item"><em class="fas fa-check"></em></span>
                                                    {{ field.label }}
                                                </label>
                                            </div>
                                            <app-cmp-input-dropdown
                                                *ngIf="field?.type == 'multiselect-search'"
                                                class="full-width"
                                                [showSelectAll]="false"
                                                [showCheckboxes]="false"
                                                [allowSingleSelect]="true"
                                                [settings]="field.setting"
                                                [selectedItems]="sellectedData[field.id] || []"
                                                [filteredItems]="filterList && filterList[field.key]"
                                                [disabled]="productForm.get(field.name)?.disabled"
                                                [validationClasses] = "{'ps-required-error': isFieldInvalid(field.name)}"
                                                (onDropDownChange)="onDropdownStateChange(field.name, $event)">
                                            </app-cmp-input-dropdown>
                                            <div *ngIf="isFieldInvalid(field.name)" class="error-message">
                                                <span *ngIf="productForm.get(field.name)?.errors?.required">Required</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="form-submit-button u-flex u-justify-flex-end u-pg-g-2">                                        
                                    <app-cmp-button
                                        [buttonText]="formConfig.cancelBtnLabel" 
                                        [buttonClass]="'secondary w-lg'"
                                        (click)="openConfirmationPopup()">
                                    </app-cmp-button>

                                    <app-cmp-button
                                        [buttonText]="formConfig.submitBtnLabel" 
                                        [buttonClass]="'primary w-lg'"
                                        (click)="onSubmit(productForm)">
                                    </app-cmp-button>
                                </div>
                            </div>
                            <div class="column-right">
                                <div class="row">
                                    <div class="column-main">
                                        <div class="headers-container">
                                            <p class="product-details-header">DIMENSIONS</p>
                                        </div>
                                        <div class="field-container">
                                            <div class="dimension-sub-tittle">
                                                <p>Bottle/Unit</p>
                                            </div>
                                            <ng-container *ngFor="let field of formConfig.schema">
                                                <div *ngIf="field.dimensionType == 'unit'" class="dimension">
                                                    <label [for]="field.name"
                                                        [ngClass]="{'ps-required-asterisk': field.required}"
                                                        [textContent]="field.label"></label>

                                                    <input *ngIf="field?.type == 'text'" [type]="field.type"
                                                        [ngClass]="{'ps-required-asterisk': isFieldInvalid(field.name)}"
                                                        [id]="field.name" [formControlName]="field.name"
                                                        [placeholder]="field.placeholder" [required]="field.required" />
                                                </div>
                                            </ng-container>
                                            <div class="dimension-sub-tittle">
                                                <p>Case</p>
                                            </div>
                                            <ng-container *ngFor="let field of formConfig.schema">
                                                <div *ngIf="field.dimensionType == 'case'" class="dimension">
                                                    <label [for]="field.name"
                                                        [ngClass]="{'ps-required-asterisk': field.required}"
                                                        [textContent]="field.label"></label>

                                                    <input *ngIf="field?.type == 'text'" [type]="field.type"
                                                        [ngClass]="{'ps-required-asterisk': isFieldInvalid(field.name)}"
                                                        [id]="field.name" [formControlName]="field.name"
                                                        [placeholder]="field.placeholder" [required]="field.required" />
                                                </div>
                                            </ng-container>
                                            <div class="dimension-sub-tittle">
                                                <p>Pallet</p>
                                            </div>
                                            <ng-container *ngFor="let field of formConfig.schema">
                                                <div *ngIf="field.dimensionType == 'pallet'" class="dimension">
                                                    <label [for]="field.name"
                                                        [ngClass]="{'ps-required-asterisk': field.required}"
                                                        [textContent]="field.label"></label>

                                                    <input *ngIf="field?.type == 'text'" [type]="field.type"
                                                        [ngClass]="{'ps-required-asterisk': isFieldInvalid(field.name)}"
                                                        [id]="field.name" [formControlName]="field.name"
                                                        [placeholder]="field.placeholder" [required]="field.required" />
                                                </div>
                                            </ng-container>
                                            <div class="dimension-sub-tittle">
                                                <p>Layer</p>
                                            </div>
                                            <ng-container *ngFor="let field of formConfig.schema">
                                                <div *ngIf="field.dimensionType == 'layer'" class="dimension">
                                                    <label [for]="field.name"
                                                        [ngClass]="{'ps-required-asterisk': field.required}"
                                                        [textContent]="field.label"></label>

                                                    <input *ngIf="field?.type == 'text'" [type]="field.type"
                                                        [ngClass]="{'ps-required-asterisk': isFieldInvalid(field.name)}"
                                                        [id]="field.name" [formControlName]="field.name"
                                                        [placeholder]="field.placeholder" [required]="field.required" />
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="column-main">
                                        <div class="headers-container">
                                            <p class="product-details-header">CODES</p>
                                        </div>
                                        <div class="field-container">
                                            <ng-container *ngFor="let field of formConfig.schema">
                                                <div *ngIf="field.isCode" class="d-flex flex-column w-100 codes-buttons">
                                                    <label [for]="field.name"
                                                        [ngClass]="{'ps-required-asterisk': field.required}"
                                                        [textContent]="field.label"></label>

                                                    <input *ngIf="field?.type == 'text'" [type]="field.type"
                                                        [ngClass]="{'ps-required-asterisk': isFieldInvalid(field.name)}"
                                                        [id]="field.name" [formControlName]="field.name"
                                                        [placeholder]="field.placeholder" [required]="field.required" />
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</div>
