@import "../../../scss/variables/typography";
@import "../../../scss/variables/colors";

.product-management {
    background: $colors-neutral-light-v-low;
    padding-top: 8px;
    .header-background {
        background-color: $colors-neutral-black;
        color: $colors-neutral-white;
        height: 100vh;
        position: relative;
    }

    .product-tool-container {
        color: $colors-neutral-black;
        display: flex;
        flex-direction: column;
        margin: 8px 16px 0;
        padding-bottom: 16px;
        .form-container {
            display: flex;
            justify-content: space-between;

            .psi-form {
                flex: 1;
            }

            .headers-container {
                margin-bottom: 8px;

                p {
                    margin: 0;
                }
            }

            .product-details-header,
            .codes-column {
                width: 100%;
                background-color: white;
                padding: 14px 16px;
                font-family: "Montserrat-Regular";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                z-index: 1;
            }
        }

    }
}




.form-wrapper {  
            .form-container {
                padding: 0px;

                .form-validation {
                    position: relative;

                    .validation-msg {
                        position: absolute;
                        z-index: 2;
                        background-color: #e74536;
                        color: white;
                        text-align: center;
                        padding: 8px;
                        font-family: "Montserrat-Medium";
                        font-size: 14px;
                        font-weight: 500;
                        border-radius: 2px;
                        width: 100%;
                    }
                }

                .psi-form {
                    position: relative;
                    z-index: 2;
                    border-radius: 8px;

                    .form-group {
                        .seperator {
                            text-align: center;
                            font-size: 14px;
                            position: relative;

                            span {
                                position: relative;
                                z-index: 2;
                                background-color: white;
                                padding: 0px 8px;
                                font-family: $montserrat-regular;
                            }
                        }

                        .form-field {
                            margin-bottom: 16px;
                            background: $colors-neutral-light-v-low;
                            .row {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                width: 100%;
                                margin: 0;
                                justify-content: space-between;
                            }
                            .column-right {
                                margin-right: 12px !important;
                            }

                            .column,
                            .column-right {
                                display: flex;
                                flex-direction: column;
                                flex-basis: 100%;
                                flex: 1;
                                margin: 0;
                                padding: 0;
                                margin-left: 12px !important;
                                height: fit-content;
                                .column-main {
                                    padding: 0;
                                }
                                .field-container{
                                    background: white;
                                    padding: 16px;
                                    margin-bottom: 10px;
                                    display: flex;
                                    flex-wrap: wrap;

                                    .field-group {
                                        margin-bottom: 16px;
                                    }
                                    label,
                                    input,
                                    .full-width{
                                        width: 100%;
                                    }
                                    .dimension{
                                        padding-right: 16px;
                                        width: 50%;
                                        margin-bottom: 16px;

                                        label {
                                            padding-left: 16px;
                                            margin-bottom: 6px;
                                        }
                                    }
                                    .dimension-sub-tittle{
                                        width: 100%;
                                        line-height: 20px;
                                        font-size: 14px;
                                        font-weight: 500;
                                        font-family: "Montserrat-Medium";
                                        p{
                                            margin: 16px 0 24px 0;
                                        }
                                    }

                                    .input-dropdown {
                                        margin-bottom: 4px;
                                    }
                                    
                                    .codes-buttons {
                                        margin-bottom: 16px;

                                        label {
                                            padding-left: 16px;
                                        }
                                    }
                                }
                                .right-main{
                                    display: flex;
                                    flex-direction: row;
                                }
                            }

                            .column.hidden,
                            .column-right.hidden {
                                display: none;
                            }

                            .password-icon {
                                position: absolute;
                                top: 43px;
                                right: 12px;
                                font-size: 14px;
                                cursor: pointer;
                            }
                        }

                        .form-footer-notes {
                            color: #232323;
                            font-size: 10px;
                            text-align: center;
                            font-family: $montserrat-regular;
                        }
                    }
                }

                label {
                    display: block;
                    max-width: 100%;
                    color: $colors-neutral-black;
                    font-size: 12px;
                    font-weight: normal;
                    font-family: $montserrat-regular;
                    padding-left: 16px;
                    line-height: 16px;

                    &.ps-required-asterisk {
                        padding: 0;
                    }

                    &.ps-required-asterisk::before {
                        content: "*";
                        color: #c50000;
                        font-size: 15px;
                        padding: 0 2px 0 8px;
                        vertical-align: middle;
                    }
                }


                input {
                    display: block;
                    background: #fff;
                    color: #232323;
                    border-bottom: 2px solid #fff;
                    box-shadow: none;
                    border-radius: 8px;
                    padding: 0px 16px;
                    height: 40px;
                    border: 1px solid #cbcbcb;
                    font-size: 12px;
                    font-family: $montserrat-regular;
                    caret-color: $colors-v2-base-secondary-v-medium;
                    
                    &:hover {
                        outline: 2px solid $colors-neutral-dark;
                        border: none;
                    }

                    &:focus {
                        outline: 2px solid $colors-v2-base-secondary-v-medium;
                        border: none;
                    }

                    &.ps-required-asterisk {
                        background-color: $colors-v2-base-error-t-10;
                        outline: 2px solid $colors-v2-base-error;
                        border: none;

                    }

                    &:disabled {
                        background-color: $colors-v2-base-primary-v-low-t-05;
                        cursor: not-allowed;
                    }
                }

                .error-message {
                    margin-top: 4px;
                    color: #c50000;
                    font-size: 12px;
                    background-image: url(../../../../../src/assets/images/high-importance-2.svg) !important;
                    background-repeat: no-repeat !important;
                    background-size: 12px;
                    padding: 0px 20px;
                    background-position: left center;
                    display: block;
                }
            }
        }
.c-checkbox {
    text-align: left;

    &.inline {
        display: inline-block;
        vertical-align: top;
        margin-right: 18px;

        &:last-child {
            margin-right: 0;
        }
    }

    .label-checkbox {
        display: block !important;
        position: relative;
        cursor: pointer;
        line-height: 20px;
        padding: 0 !important;
    }

    input {

        &[type="checkbox"],
        &[type="radio"] {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
        }
    }

    .c-checkbox__item {
        display: inline-block;
        vertical-align: top;
        margin: 0 4px 0 0;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #e74536;
        position: relative;
        border-radius: 4px;
        transition: box-shadow 180ms ease;
        box-shadow: inset 0 0 0 12px #fff;
        top: 2px;
        float: left;
    }

    .fa-check {
        transform: scale(0);
    }

    input[type="checkbox"]:checked+.c-checkbox__item {
        border-color: #e74536;
        background: #e74536;
        border-radius: 4px;
        box-shadow: none;

        .fa-check {
            color: #ffffff;
            font-size: 14px;
            transform: scale(1);
            vertical-align: super;
            // padding: 1px 0.25rem;
        }
    }
}

.disbaled-checkbox {
    cursor: not-allowed !important;
    opacity: 0.5;
}