<div class="product-management u-pg-pt-1 u-bg-neutral-light-v-low ">
    <app-header-tool
        titleText="Product Management System"
        titleIcon="fas fa-wine-bottle">
    </app-header-tool>

    <app-psi-crud-form
        [leftHeaderTitle]="leftTitle"
        [rightHeaderTitle]="productTitle"
        [sellectedData]="sellectedData"
        [crudFieldConfig]="crudFieldConfig"
        [formSubmitted]="formSubmitted"
        [form]="productForm"
        (onDropDownChange)="onDropdownStateChange($event.field , $event.event)"
        (formSubmit)="onSubmit($event)">
    </app-psi-crud-form> 
</div>
