@import '../../scss/variables/typography';
@import '../../scss/variables/colors';
@import '../../scss/mixin/mixin';

.radio-button-container {
    display: flex;
    flex-direction: column;

}

.radio-button-group {
    display: flex;
    gap: 8px;
    color: $colors-neutral-black;
    font-family: $montserrat-regular;
    font-size: 12px;
    font-weight: 400;
}

.radio-label {
    @include radio-button;

    .label-text {
        color: $colors-neutral-black;
        font-family: $montserrat-regular;
        font-size: 12px;
        font-weight: 400;
    }
}