<div class="form-steps u-flex u-justify-between u-relative">
    <div *ngFor="let item of data; let i = index" class="form-steps__step" [ngClass]="{
        'form-steps__step--active': step >= item.id,
        'form-steps__step--completed': step > item.id,
        'form-steps__step--last': i === data.length - 1
        }">
        <div class="form-steps__step-circle">
            <span class="form-steps__step-number">{{ item.id }}</span>
        </div>
        <span class="form-step__step-name">{{ item.label }}</span>
    </div>
</div>
