@import "../../scss/variables/typography";
@import "../../scss/variables/colors";

.form-steps {
    background-color: $colors-neutral-white;
    width: 100%;
    clear: both;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.form-steps__step {
    flex: 1;
    text-align: center;
    position: relative;
    padding: 1em;

    &:after {
        content: "";
        background: $colors-neutral-light;
        height: 0.4em;
        top: 2em;
        left: 50%;
        width: 100%;
        display: block;
        position: absolute;
        z-index: 1;
    }

    &:before {
        content: "";
        height: 0.4em;
        top: 2.4em;
        left: 50%;
        margin-left: -2em;
        width: 4em;
        display: block;
        position: absolute;
        z-index: 2;
    }

    &--last:after {
        display: none;
    }

    &--active .form-steps__step-circle {
        background: $colors-v2-base-primary;
        color: $colors-neutral-white;
        border: none;
    }

    &--completed {
        &:after {
            background: $colors-v2-base-primary;
        }

        .form-steps__step-circle {
            background: $colors-v2-base-primary;
            color: $colors-neutral-white;
            z-index: 2;
        }
    }
}

.form-steps__step-circle {
    background: $colors-neutral-light;
    line-height: 2.5;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    color: $colors-neutral-dark;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    font-size: 16px;
    border: 1px solid $colors-neutral-light;

    .form-steps__step-number {
        font-family: $crimson-pro-bold;
        font-weight: 700;
    }
}

.form-step__step-name {
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    font-family: $montserrat-regular;
    line-height: 1.4em;
}

.form-steps__step--active .form-step__step-name,
.form-steps__step--completed .form-step__step-name {
    color: $colors-v2-base-primary;
    font-family: $montserrat-medium;
    font-weight: 500;
}
