@import '../../../scss/variables/colors';
@import '../../../scss/variables/typography';
@import '../../../scss/utilities/colors';
@import '../../../scss/utilities/base';
@import '../../../scss/utilities/typography';

.header-widget {
    height: 48px;
    box-shadow: 0px 4px 8px 0px $colors-neutral-dark-t-15;

    .header-widget-title {
        width: 87%;
    }

    .header-tooltip {
        max-width: 82%;
    }
    
    .tooltip-text {
        color: $colors-neutral-white;
        font-family: $montserrat-regular;
        font-size: 12px;
        position: absolute;
        line-height: 16px;
        z-index: 3;
        box-shadow: 0px 4px 8px 0px $colors-neutral-light-t-15;
        height: auto;
        max-height: 64px;
        overflow: auto;
    }

    .tooltip-text::-webkit-scrollbar {
        width: 8px;
        height: 4px;
    }

    .tooltip-text::-webkit-scrollbar-thumb {
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: $colors-neutral-light-t-50;

        &:hover {
            background: $colors-neutral-light;
        }
    }
    
    .rightErrorIcon {
        .right-error-tooltip {
            right: 16px;
            transform: translateY(-50%);
            top: 50%;
            width: 160px;
            text-align: center;
            visibility: hidden;
        }

        &:hover {
            .right-error-tooltip {
                visibility: visible;
            }
        }
    }
    .badge-wrapper {
        .badge {
            line-height: 16px;
            border-radius: 0px;
        }
    }
}
