<div class="typography-body header-widget u-mb1 u-flex u-align-center u-justify-between u-pg-px-2 u-bg-neutral-white">
    <div #headerDiv
        class="typography-body-black-regular header-widget-title text-uppercase u-truncate d-inline-block u-neutral-black">
        {{ headerTitle }}
    </div>

    <span 
        *ngIf="showTooltip && hasTooltip"
        class="typography-regular tooltip-text header-tooltip u-pg-mt-8 u-pg-p-1 u-bg-neutral-black">
        {{ headerTitle }}
    </span>

    <div class="badge-wrapper u-flex u-justify-between u-pg-g-1">
        <div *ngIf="hasRightErrorIcon" class="u-flex-center">
            <i [ngClass]="rightErrorIconClass || 'fa-solid fa-circle-exclamation'"
                class="position-relative rightErrorIcon">
                <span *ngIf="rightErrorIconDescription" 
                    class="tooltip-text right-error-tooltip u-pg-p-1"
                    [ngClass]="rightErrorIconDescriptionClass">
                        {{rightErrorIconDescription}}
                </span>
            </i>
        </div>
        <div *ngIf="badgeText" class="typography-paragraph-black-medium badge" [ngClass]="badgeClass">
            <span> {{badgeText}}</span>
        </div>
    </div>
</div>