@import '../../../scss/variables/typography';
@import '../../../scss/variables/colors';

.app-layout {
    position: relative;

    .header-panel {
        margin-left: 240px;
        background-color: $colors-neutral-black;
    }

    .mainPanel {
        flex: 1;
    }

}
