@import './styles/colors';
@import './styles/variables';
@import './styles/typography';
@import './styles/utilities';

.hello{
    position: relative;
    z-index: 999;
    font-family: $montserrat-regular;

}
