@import "./app/scss/variables/media-queries";
@import "./app/scss/variables/colors";
@import "./app/scss/variables/typography";
@import "./app/scss/components/buttons";
@import "./app/scss/components/inputs";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "./app/scss/utilities/borders-colors";
@import "./app/scss/utilities/box-shadow";
@import "./app/scss/utilities/border-radius";
@import "./app/scss/utilities/border-width";
@import "./app/scss/utilities/borders";
@import "./app/scss/utilities/colors";
@import "./app/scss/utilities/coordinates";
@import "./app/scss/utilities/displays";
@import "./app/scss/utilities/flexbox";
@import "./app/scss/utilities/paddings";
@import "./app/scss/utilities/floats";
@import "./app/scss/utilities/font-weight";
@import "./app/scss/utilities/heights";
@import "./app/scss/utilities/hover";
@import "./app/scss/utilities/line-height";
@import "./app/scss/utilities/links";
@import "./app/scss/utilities/lists";
@import "./app/scss/utilities/margins";
@import "./app/scss/utilities/max-width";
@import "./app/scss/utilities/overflow";
@import "./app/scss/utilities/paddings";
@import "./app/scss/utilities/text-align";
@import "./app/scss/utilities/paddings";
@import "./app/scss/utilities/position";
@import "./app/scss/utilities/text-decorations";
@import "./app/scss/utilities/typography";
@import "./app/scss/utilities/utilities";
@import "./app/scss/utilities/vertical-align";
@import "./app/scss/utilities/white-space";
@import "./app/scss/utilities/widths";
@import "./app/scss/8-point-grid/8-point-grid.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../src/assets/fonts/montserrat/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../src/assets/fonts/montserrat/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../src/assets/fonts/montserrat/Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: "CrimsonPro-Regular";
    src: url("../src/assets/fonts/crimson-pro/CrimsonPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "CrimsonPro-Medium";
    src: url("../src/assets/fonts/crimson-pro/CrimsonPro-Medium.woff") format("woff");
}

@font-face {
    font-family: "CrimsonPro-Bold";
    src: url("../src/assets/fonts/crimson-pro/CrimsonPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: bold;
}

body {
    font-family: "Montserrat-Regular", Arial, sans-serif !important;
    overflow-x: hidden;
    color: #4A4A4A !important;
    background-color: #232323 !important;
    font-size: 14px;
    line-height: 1.5;
    b-h1,
    b-h2,
    b-h3,
    b-h4,
    b-h5,
    b-h6,
    .b-h1,
    .b-h2,
    .b-h3,
    .b-h4,
    .b-h5,
    .b-h6 {
        font-family: "Montserrat-Regular", Arial, sans-serif !important;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }
    b-h1,
    .b-h1 {
        font-size: 48px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    b-h2,
    .b-h2 {
        font-size: 36px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    b-h3,
    .b-h3 {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    b-h4,
    .b-h4 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    b-h5,
    .b-h5 {
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    b-h6,
    .b-h6 {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .u-fs14 {
        font-size: 14px !important;
    }
    .u-fs16 {
        font-size: 16px !important;
    }
    .u-fs18 {
        font-size: 18px !important;
    }
    .u-fs20 {
        font-size: 20px !important;
    }
    .u-fs24 {
        font-size: 24px !important;
    }
    .u-fs32 {
        font-size: 32px !important;
    }

    .u-f-helvetica-medium {
        font-family: 'Helvetica-medium';
    }
    .u-font-subtle {
        color: rgba(74, 74, 74, 0.50);
    }
    /* Width Scale */
    .w-10 {
        width: 10%;
    }
    .w-20 {
        width: 20%;
    }
    .w-25 {
        width: 25%;
    }
    .w-30 {
        width: 30%;
    }
    .w-33 {
        width: 33%;
    }
    .w-34 {
        width: 34%;
    }
    .w-40 {
        width: 40%;
    }
    .w-50 {
        width: 50%;
    }
    .w-60 {
        width: 60%;
    }
    .w-70 {
        width: 70%;
    }
    .w-75 {
        width: 75%;
    }
    .w-80 {
        width: 80%;
    }
    .w-90 {
        width: 90%;
    }
    .w-100 {
        width: 100%;
    }
    /* Text Decorations */
    .u-font-subtle {
        color: rgba(74, 74, 74, 0.50);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.modal {
    background: url("../src/assets/images/Popup-Shadow.png");
}
.required-asterisk {
    color: $colors-v2-base-error;
    font-size: 14px;
    margin-right: 3px;
}
.asterisk-margin {
    margin: 0 0 6px 8px !important;
}