@use '../../styles/variables/colors' as *;
@use '../../styles/variables/typography' as *;

.authentication-container {
  min-height: 100vh;
  background-color: $colors-neutral-black;

  .form-wrapper {
    padding-top: 120px;
    width: 1040px;

    .form-validation {
      .validation-msg {
        background-color: $colors-v2-base-error;
        padding: 16px;
        line-height: 21px;
        border-radius: 3px;
      }
    }

    .form-container {
      .cockpit-logo {
        .logo {
          width: 506px;
        }
      }

      .custom-form {
        background-color: $colors-neutral-dark;
        border-radius: 8px;
        color: $colors-neutral-white;
        padding: 32px 40px;
        width: 400px;

        .form-title {
          p {
            font-family: $montserrat-medium;
            font-size: 12px;
            margin-top: 8px;
            line-height: 16px;
          }
        }

        .sign-in-form-group {
          .form-field {
            label {
              display: inline-block;
              max-width: 100%;
              color: $colors-neutral-white;
              font-size: 12px;
              font-weight: normal;
              font-family: $montserrat-regular;
              padding-left: 6px;
              line-height: 16px;

              &.ps-required-asterisk::before {
                content: '*';
                color: $colors-v2-base-error;
                font-size: 15px;
                padding-right: 3px;
                vertical-align: middle;
              }
            }

            .input-wrapper {
              border-radius: 8px;

              input {
                background: $colors-neutral-white;
                color: $colors-neutral-black;
                box-shadow: none;
                border-radius: 8px;
                padding: 12px 12px;
                border: 1px $colors-neutral-light;
                font-size: 12px;
                font-family: $montserrat-regular;
                height: 40px;
                line-height: 16px;
                outline: none;
                caret-color: $colors-v2-base-secondary-v-medium;

                &:hover {
                  border: 2px solid $colors-neutral-dark;
                }

                &:focus {
                  border: 2px solid $colors-v2-base-secondary-v-medium;
                }
              }

              .input-action-buttons {
                cursor: pointer;
                font-size: 16px;
                gap: 12px;
                padding-right: 12px;
                align-items: center;

                .password-container {
                  .password-icon {
                    color: $colors-neutral-dark;
                  }

                  .password-tooltip {
                    width: max-content;
                    color: $colors-neutral-white;
                    background-color: $colors-neutral-black;
                    padding: 6px;
                    font-size: 12px;
                    top: 90%;
                    right: 5%;
                    visibility: hidden;
                  }

                  &:hover {
                    .password-tooltip {
                      visibility: visible;
                    }
                  }
                }

                .clear-icon {
                  color: $colors-neutral-light;
                }
              }
            }
          }

          .form-submit-button {
            margin-top: 24px;

            button {
              padding: 8px 0;
              font-family: $crimson-pro-bold;
              font-size: 16px;
              background-color: $colors-v2-base-primary;
              border-radius: 8px;
              border: none;
              outline: none;

              &:hover {
                background-color: $colors-v2-base-primary-v-high;
              }

              &:focus {
                border-radius: 8px;
                outline: 2px solid $colors-v2-base-secondary-v-medium;
              }
            }
          }
        }
      }
    }

    .signup-footer {
      margin-top: 56px;
      border-top: 1px solid $colors-neutral-dark;

      p {
        margin-top: 10px;
        font-size: 12px;
        color: $colors-neutral-light;
        font-family: $montserrat-medium;
      }
    }
  }
}
