@import '../../../scss/variables/typography';
@import '../../../scss/variables/colors';
@import '../../../scss/utilities/base';
@import '../../../scss/utilities/colors';

.export-excel-btn {
    cursor: pointer;
    margin-right: 16px;
    i.export-icon {
        color: $colors-neutral-dark;
    }

    i.export-icon:hover~.icon-tooltiptext {
        visibility: visible;
    }

    .disabledToolTip {
        background: black !important;
        color: $colors-neutral-black !important;
    }

    .icon-tooltiptext {
        width: auto;
        height: 32px;
        visibility: hidden;
        border-radius: 0px;
        background-color: $colors-neutral-black;
        color: $colors-neutral-white;
        font-family: $montserrat-regular;
        font-size: 12px;
        text-align: center;
        padding: 0 8px;
        position: absolute;
        z-index: 2;
        line-height: 12px;
        left: 50%;
        top: 32px;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        min-width: auto;
        white-space: nowrap;
        margin-left: 0;
        font-weight: normal;
    }
}
