@import '../../../../styles/variables';
@import '../../../../styles/colors';
@import '../../../scss/utilities/base';
@import '../../../scss/utilities/colors';
.export-excel-btn{
    cursor: pointer;
    i.export-icon {
        margin-right: 8px;
        margin-left: 8px;
    }
    i.action-icon:hover~.icon-tooltiptext {
        visibility: visible;
    }
    .disabledToolTip{
        background: black !important;
        color: $ps-dark-black !important;
    }
    .icon-tooltiptext {
        width: auto;
        height: 32px;
        visibility: hidden;
        border-radius: 0px;
        background-color: #232323;
        color: #fff;
        font-family: 'HelveticaNeue';
        font-size: 12px;
        text-align: center;
        padding: 0 8px;
        position: absolute;
        z-index: 2;
        line-height: 12px;
        left: 50%;
        top: 32px;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        min-width: auto;
        white-space: nowrap;
        margin-left: 0;
        font-weight: normal;
    }
}